#content { position:relative; }

#mainmenu { padding:10px 5px 10px 15px;}
#mainmenu ul { list-style-type: none; padding: 0px; margin: 0px; }
#mainmenu ul > li { display:inline-block; margin-right: 5px; }
#mainmenu a { display:block; padding:5px; background: #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#mainmenu a:hover { border:none; color:#fff; background:#3665ff; }
#mainmenu a:active { border:none; color:#fff; background:#2546b1; }
#mainmenu li.active a { background:#bbb; }

#sidebar {
	float: right;
	width: 250px;
	background: #ddd;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#sidebar .portlet-title { font-size:15px; font-weight: bold; }
#sidebar ul { list-style-type: none; padding: 0px; margin: 10px 0; }
#sidebar ul > li { display:block; margin-bottom: 5px; }
#sidebar a { display:block; padding:5px; background: #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#sidebar a:hover { border:none; color:#fff; background:#3665ff; }
#sidebar a:active { border:none; color:#fff; background:#2546b1; }
#sidebar li.active a { background:#bbb; }
 
h1 { font-size:22px; font-weight: bold; padding-bottom:10px}

.list-view,
.grid-view,
table.detail-view {
	width: 900px; 
}

.list-view .summary { padding-bottom:10px; border-bottom:1px solid #999; }
.list-view .items .view { margin:10px 0; padding-bottom:10px; border-bottom:1px dotted #999; }
.list-view .items .view b {
	display: inline-block;
	text-align: right;
	padding: 2px 5px 2px 0;
	width: 160px;
	color: #777;
}

.list-view .items .view a {
	font-weight: bold;
}

.pager { background:#ccc; padding:20px 10px; }
ul.yiiPager { list-style-type: none; padding: 0px; margin: 0px; padding-top:10px;	}
ul.yiiPager > li { display:inline-block; margin-right: 5px; }

.grid-view .filters input,
.grid-view .filters select {
	width: 92%;
}

.form .row {
	padding-bottom: 10px;
}

.form .row:before,
.form .row:after {
	content: "";
	display: table;
}

.form .row:after {
	clear: both;
}

.form .row.nolabel {
	margin-left: 160px;
}

.form .row > label {
	float: left;
	width: 150px;
	margin-right: 10px;
	text-align: right;
}

.form .row .field {
	float: left;
}
