body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #ECF4FC;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#header
{
	margin: 0;
	background: url('/images/background_head.png') no-repeat;
	height: 75px;
}

#outer_content {
	background:#FFF;
	border: 4px solid #0199cb;
	border-top: 0px;
	border-bottom: 0px;
}

#content
{
	border: 4px #FFF;
	border-top: 0px;
	border-bottom: 0px;
	margin: 0 4px;
	background: url('/images/background_content.png') no-repeat #ccdded;
	min-height: 356px;
	padding-left: 20px;
	padding-right: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	font-size: 0.8em;
	text-align: center;
	background: url('/images/background_footer.png');
	min-height: 120px;
}

#logo
{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#logo img {
	height: 35px;
	width: 174px;
	padding-right: 5px;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* eyedraw */

canvas {
    border: 1px solid black;
}

button {
        width: 48px;
        border: solid 1px;
        background-color: #cccccc;
        margin-right: 0px;
        overflow: visible;
        padding: 4px 4px 3px 4px;
}

button:hover {
        background-color: #bbbbbb;
        border: solid 1px;
}

button:active {
        background-color: #888888;
        border: solid 1px;
}

button:disabled {
        background-color: #eeeeee;
        border: solid 1px;
}

button img {
        margin: 0 3px -3px 0 !important;
        padding: 0;
        border: none;
        width: 32px;
        height: 32px;
}


/* element_letterout */

.element_letterout_left {
	width:20%;
	float:left;
}

.element_letterout_right {
	width:70%;
	float:left
}

.row_element_letterout {
	clear:both;
	border-top:1px dashed #ccc;
}

h2.element_letterout {
	font-size:1.8em;
	padding-top:15px;
}

h3.element_letterout {
	font-size:1.2em;
}

#login {
	margin: auto;
	width: 440px;
	overflow: visible;
	padding: 30px 0;
}

#login img {
	height: 30px;
	width: 40px;
}

#login .form {
	text-align: center;
	height: 157px;
	width: 430px;
	background: url('/images/login_form.png');
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 10px;
}

#login .text {
	margin-top: 30px;
}

.text {
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
}

#login input {
	background: transparent url('/images/input_gradient.png') no-repeat top left;
	width: 204px;
	height: 24px;
	border: 0;
	padding-left: 0.5em;
}

#login .contact {
	text-align: center;
	font-weight: bold;
}

#login .number {
	color: #265e97;
}

#login .row label, #login .row input {
	display: inline;
}

#login .errorMessage {
	padding: 2px;
}

#login input[type="submit"] {
	background: url('/images/login_button.png');
	height: 31px;
	width: 84px;
	border: 0px;
}

#user_info {
	margin-top: 20px;
	margin-right: 10px;
	float: right;
}

#user_info form {
	display: inline;
}

#patient-search {
/*	background: #fff;*/
	width: 589px;
}

#patient-search form {
	padding: 0;
	margin: 0;
}

#patient-search input {
	background: url('/images/input_gradient.png') no-repeat top left;
	width: 204px;
	height: 24px;
	border: 0;
	padding-left: 0.5em;
}

#patient-search input[name=dob_day], #patient-search input[name=dob_month] {
	background: url('/images/input_gradient_sm.png') no-repeat top left;
	width: 37px;
}

#patient-search input[name=dob_year] {
	background: url('/images/input_gradient_med.png') no-repeat top left;
	width: 54px;
}

#patient-search input[type=submit] {
	background: url('/images/button_clear.png') no-repeat top left;
	width: 115px;
	height: 33px;
	font-weight: bold;
	font-size: 10pt;
	color: #164674;
}

#heading {
	margin: auto;
	width: 100%;
	text-align: center;
}

#heading h1 {
	display: inline;
	vertical-align: top;
}

ul#navlist {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	display: inline;
	padding-left: 8px;
}

#navlist li {
	list-style-type: none;
	padding: 4px 0;
	margin: 0;
	display: inline;
}

#navlist a, #navlist span {
	padding: 0 8px;
	border-left: 1px solid #999;
}

.clear {
	clear: both;
}

.details {
	width: 100%;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 20px;
}

.data_row {
	clear: both;
	width: 100%;
	padding: 3px 0;
}

.data_label {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	float: left;
	width: 250px;
}

.data_value {
	text-align: left;
	width: 250px;
	padding-left: 280px;
}

#episodes_sidebar {
	width: 270px;
	float: left;
	font: bold 13pt Arial;
	color: #05488A;
}

#episodes_details {
	padding-left: 290px;
	padding-top: 30px;
}

#episodes_title {
	width: 350px;
	float: left;
	font: bold 16pt arial;
	color: #333;
}

#add_episode {
	width: 350px;
	font: bold 13pt arial;
	color: #05488A;
	position: absolute;
	top: 60px;
	left: 600px;
	z-index: 100;
}

#add_episode li {
	list-style: none;
}

#add_episode li.header {
	color: #000;
}

#add_episode li a {
	text-decoration: none;
	padding-left: 5px;
	vertical-align: top;
}

#episode_types {
	display: none;
}

.ui-tabs-panel {
	min-height: 100px;
}

.episode {
	border: 1px solid;
	position: relative;
}

.episode .title {
	font-weight: bold;
	width: 320px;
	float: left;
	padding: 4px;
}

.episode .date {
	text-transform: uppercase;
}

.rounded-corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/images/border-radius.htc);
}

ul.events {
	padding-left: 20px;
}

ul.events li {
	list-style-type: none;
	font: bold 12pt Arial;
}

ul.events li a {
	text-decoration: none;
	color: #333;
}

ul.events li a span.date {
	font-style: italic;
}

.breadcrumbs {
	font: 12pt Arial;
	color: #333;
}

.breadcrumbs a {
	text-decoration: underline;
}

.title_bar {
	background: url('/images/blue_title_bar.png') no-repeat top left;
	width: 569px;
	font-weight: bold;
	padding: 10px;
	padding-bottom: 0;
}