body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 10px 20px;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 0;
	font-size: 200%;
	float: left;
}

#logo img {
	height: 30px;
	width: 40px;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* eyedraw */

canvas {
    border: 1px solid black;
}

button {
        width: 48px;
        border: solid 1px;
        background-color: #cccccc;
        margin-right: 0px;
        overflow: visible;
        padding: 4px 4px 3px 4px;
}

button:hover {
        background-color: #bbbbbb;
        border: solid 1px;
}

button:active {
        background-color: #888888;
        border: solid 1px;
}

button:disabled {
        background-color: #eeeeee;
        border: solid 1px;
}

button img {
        margin: 0 3px -3px 0 !important;
        padding: 0;
        border: none;
        width: 32px;
        height: 32px;
}

#login {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	top: 170px;
	width: 440px;
	height: 160px;
	overflow: visible;
	border: 1px solid;
	padding: 30px 0;
}

#login img {
	height: 30px;
	width: 40px;
}

#heading {
	margin: auto;
	width: 100%;
	text-align: center;
}

#heading h1 {
	display: inline;
	vertical-align: top;
}

#login .form {
	text-align: center;
}

#user_info {
	float: right;
}

#user_info form {
	display: inline;
}

ul#navlist {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	display: inline;
	padding-left: 8px;
}

#navlist li {
	list-style-type: none;
	padding: 4px 0;
	margin: 0;
	display: inline;
}

#navlist a, #navlist span {
	padding: 0 8px;
	border-left: 1px solid #999;
}

.clear {
	clear: both;
}

.details {
	width: 100%;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 20px;
}

.data_row {
	clear: both;
	width: 100%;
	padding: 3px 0;
}

.data_label {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	float: left;
	width: 250px;
}

.data_value {
	text-align: left;
	width: 250px;
	padding-left: 280px;
}

#episodes_sidebar {
	width: 270px;
	float: left;
	font: bold 13pt Arial;
	color: #05488A;
}

#episodes_details {
	padding-left: 290px;
	padding-top: 30px;
}

#episodes_title {
	width: 350px;
	float: left;
	font: bold 16pt arial;
	color: #333;
}

#add_episode {
	width: 350px;
	font: bold 13pt arial;
	color: #05488A;
	position: absolute;
	top: 60px;
	left: 600px;
	z-index: 100;
}

#add_episode li {
	list-style: none;
}

#add_episode li.header {
	color: #000;
}

#add_episode li a {
	text-decoration: none;
	padding-left: 5px;
	vertical-align: top;
}

#episode_types {
	display: none;
}

.ui-tabs-panel {
	min-height: 100px;
}

.episode {
	border: 1px solid;
	position: relative;
}

.episode .title {
	font-weight: bold;
	width: 320px;
	float: left;
	padding: 4px;
}

.episode .date {
	text-transform: uppercase;
}

.rounded-corners {
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/images/border-radius.htc);
}

ul.events {
	padding-left: 20px;
}

ul.events li {
	list-style-type: none;
	font: bold 12pt Arial;
}

ul.events li a {
	text-decoration: none;
	color: #333;
}

ul.events li a span.date {
	font-style: italic;
}

.breadcrumbs {
	font: 12pt Arial;
	color: #333;
}

.breadcrumbs a {
	text-decoration: underline;
}