/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: Helvetica,Arial,Frutiger,Calibri,sans-serif; color: #222; }

::-moz-selection { background: #faf564; color: #000; text-shadow: none; }
::selection { background: #faf564; color: #000; text-shadow: none; }

a { color: #0b59da; text-decoration: none; }
a:visited { color: #0b59da; }
a:hover { color: #003cff; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ======================================================================== primary OpenEyes styles ================= */

html { background-color: #d4d1cd; }
body { width:1230px; margin:0 auto; }

/* ====== STRUCTURE ====== */
#container, #header, #content, #help, #footer { width:1230px; padding:0; margin:0; }
#container		{ background: url(../img/_structure/gradient_bg.jpg) #dae6f1 top left no-repeat; background-position: 0 0; border-left: 2px solid #b3b0ae; border-right: 2px solid #b3b0ae; }
#header			{ height: 70px; position:relative; border-top:2px solid #b3b0ae; }
#content		{ min-height: 400px; }
#extendedhelp	{ min-height: 40px; background: url(../img/_structure/help_bg.jpg) #a5ddf1 top left repeat; }
#footer			{ width: 1234px; } 	
#container, #header { -webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; }
#footer	{-webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }


/* ====== HEADER PANELS ====== */
#brand { width:240px; height:70px; background: url(../img/_structure/openeyes.png) top left no-repeat; }
#user_panel { height:65px; width:500px; position: absolute; top:0; right:10px; }
#patientID	{ height:65px; width:340px; position: absolute; top:0; right:540px; }
#oesync		{ height:48px; width:31px; position: absolute; top:0; left:200px; }

/* special brand themes */
#brand.olympic { background-image: url(../img/_structure/openeyes_olympic.png); }

/* ====== LAYOUT STRUCTURES ====== */
/* wrap is centered within content creating a 15px left and right pad */
#content .wrap { width:1200px; margin:20px auto 0 auto; }
#content .wrap.login 	{ width:360px; margin:40px auto; }
#content .wrap.central 	{ width:800px; }
#content .wrap.twocolumns .leftcolumn 	{ width:580px; float:left; }
#content .wrap.twocolumns .rightcolumn	{ width:600px; float:right; }
#content .wrap.twocolumns .leftcolumn.wide		{ width:820px; }
#content .wrap.twocolumns .rightcolumn.narrow 	{ width:360px; }
#content .wrap.twocolumns .leftcolumn.narrow	{ width:360px; }
#content .wrap.twocolumns .rightcolumn.wide 	{ width:820px; }
/* maxwidth uses the full available content width */
#content .maxwidth	{ width:1230px; margin-top:20px; position: relative; min-height:400px; }
#content .maxwidth .episodelist	{ float:left; width:175px; }
#content .maxwidth .eventarea	{ float:right; width:1050px; max-width:1050px; min-height:200px; overflow: hidden; }
/* customise */
#content .maxwidth.nomargin { margin:0; }

/* ====== COLUMNS ====== */
.cols { width:100%; }
.cols > .left 	{ float: left; 	width: 48%; clear: left; }
.cols > .right 	{ float: right; width: 48%; clear: right; }
.cols > .half 	{ float: left; 	width: 50%; }
.cols > .third 	{ float: left; width:32%; margin-right:2%; }
.cols > .third:last-child 	{ float: right; margin-right:0; }
.cols > .fourth { float: left; width:25%; }
.cols > .fifth 	{ float: left; width:20%; }
/* customise */
.cols.padbottom { padding-bottom:20px; }

/* ====== Misc. ====== */
.clickable 	{ cursor: pointer; }
.dull 		{ opacity: 0.7; }
.dull.all * { opacity: 0.7; }
.fl	{ float:left; }
.fr	{ float:right; }
.txtr	{ text-align:right; }
.txtc	{ text-align:center; } 

/* ====== GENERAL TYPOGRAPHY ====== */
p,h1,h2,h3,h4,h5,h5,h6 { margin:0; padding:0 }
p { margin-bottom:8px;}
h3,h4,h5 { margin-bottom:10px; }
/* base: font-size: 13px; line-height: 1.231;  */
h3 { font-size: 19px; font-weight: normal; }
h4 { font-size: 15px; font-weight: normal; }
h5 { font-size: 13px; line-height:1.5; }
/* H2 reserved for page headers, H6 left for custom uses */
h2 { display:inline; font-size:13px; font-weight: bold; color:#333; background:#fffdea url(../img/_elements/gradients/h2_edge.png) center left repeat-y; padding:5px 15px 5px 55px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px; }
h2.alert { background-color:#ffe6b2; }
h2.admin { background:#333; color:#fff; }

/* text */
em { font-style: italic; color:#333; }
.small	{ font-size: 11px; font-weight: normal; }
.normal { font-size: 13px; font-weight: normal; }
.large 	{ font-size: 14px; font-weight: normal; }
.big	{ font-size: 18px; font-weight: normal; }
.caps	{ font-variant: small-caps; }
.red	{ color:#d62020; }
.bold	{ font-weight: bolder; }
.georgia { font-family:Georgia,Constantia,Lucida,Times,serif; }
/* generic surname */
span.surname { font-weight: bold; }

/* ====== CLICKABLE ====== */
a:hover { border-bottom: thin dotted #002ec4; }
a.push	{ border-bottom: thin dotted #002ec4; } 
a:hover.push { border-bottom: thin solid #3665ff; }
a:active { border-bottom: thin solid #3665ff; }
/* like a button - make a link look like a basic version of button  */
a.likebtn { background:#107be9; color:#fff; padding:2px 8px; border:none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a:visited.likebtn { background:#107be9; }
a:hover.likebtn, a:active.likebtn { background:#145ea9; }
/* SPRITES */
/* styled depending on usage */
a.sprite { border-bottom:none; }
a.sprite.showhide > span { display:inline-block; width:11px; height:11px; background:transparent url(../img/_elements/icons/_sprites/showhide_icon.png) no-repeat top left; }
a.sprite.showhide > .hide { background-position: top left; }
a:hover.sprite.showhide > .hide { background-position: top right; }
a.sprite.showhide > .show { background-position: bottom left; }
a:hover.sprite.showhide > .show { background-position: bottom right; }
/* TAB BUTTONS */
.tabbtn { display:inline-block; height:24px; line-height:24px; font-size:13px; }
.tabbtn > a { display:inline-block; padding:0 10px; }
.tabbtn.grey > a {background-color: #dadada; }
.tabbtn.white > a {background-color: #fff; }
.tabbtn.tabdown > a, .tabbtn.tabdown > span.inactive  { -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.tabbtn.tabup > a, .tabbtn.tabup > span.inactive { -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.tabbtn.tabround > a, .tabbtn.tabround > span.inactive { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
/* tab buttons are always blue on rollover: */ 
.tabbtn > a:hover { border:none; color:#fff; background-color:#3665ff !important;  }
.tabbtn > a:active { border:none; color:#fff; background-color:#2546b1 !important; }
/* inactive */
.tabbtn > span.inactive { display:inline-block; padding:0 10px; color:#777; background: #fafafa;} 
/* TAB TEXT - style like tabbtn */
.tabtxt { display:inline-block; height:24px; line-height:24px; font-size:13px; padding:0 10px; background: #fafafa; }
.tabtxt.tabdown { -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.tabtxt.tabup { -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }


/* === Very CLASSY CSS BUTTONS === */
/* default, inactive */
button.classy { height:32px; padding:0; margin:0; font-weight:normal; font-size:17px; letter-spacing:1px;
color:#fff; text-shadow:-1px -1px 0 #999; white-space:nowrap; border:none; overflow:visible; background:#bbb; 
background: -moz-linear-gradient(#cacacb, #aeaeaf);		 
background: -ms-linear-gradient(#cacacb, #aeaeaf);	
background: -webkit-linear-gradient(#cacacb, #aeaeaf); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacacb', endColorstr='#aeaeaf')"; 
background:	linear-gradient(#cacacb, #aeaeaf); 
border-bottom:2px solid #929293; 
-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; 
-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3); -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3); box-shadow:0 1px 4px rgba(0,0,0,0.3); 
cursor:pointer; }
/* widths */
button.tall			{ width: 125px;	}
button.grande		{ width: 154px; }
button.venti		{ width: 210px; }
button.flexi		{ width: auto; }
button.flexi span	{ padding:0 22px; }
/* button text */
button.classy span.btn			{  display:block; height:32px; line-height:31px; }
button.classy span.btn.green	{  color:#fff; text-shadow: 1px 1px 0 #427d42, 2px 2px 0 #43727f; }
button.classy span.btn.blue		{  color:#fff; text-shadow: 1px 1px 0 #105dae, 2px 2px 0 #5c0faa; }
button.classy span.btn.red		{  color:#fff; text-shadow: 1px 1px 0 #9a091c, 2px 2px 0 #851616; }
/* graphic elements */
button.classy span.btn.plussign			{ background: transparent url(../img/_elements/btns/plus-sign.png) no-repeat center left; padding-left:40px; }
button.classy span.btn.leftarrow		{ background: transparent url(../img/_elements/btns/left-arrow.png) no-repeat top left; padding-left:35px; }
button.classy span.btn.rightarrow		{ background: transparent url(../img/_elements/btns/right-arrow.png) no-repeat top right; padding-right:35px; }
button.classy span.btn.crosssign		{ background: transparent url(../img/_elements/btns/cross-sign.png) no-repeat center left; padding-left:40px;} 
/* mini - replace 'tall','grande' or 'venti' in button class */
button.mini						{ height:24px; font-size:13px; width: auto; }
button.mini span				{ padding:0 18px; }
button.mini span.btn			{ display:block; height:24px; line-height:23px; } 
button.mini span.btn.icon-only	{ padding:0 4px; }

/* background colours */
button.classy.green {
background: -moz-linear-gradient(#43a844, #55a256);		 
background: -ms-linear-gradient(#43a844, #55a256);	
background: -webkit-linear-gradient(#43a844, #55a256); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a844', endColorstr='#55a256')"; 
background:	linear-gradient(#43a844, #55a256);
border-bottom:2px solid #3fa522;	
}
button.classy.green:hover {
background: -moz-linear-gradient(#48bd27, #3fa522);		 
background: -ms-linear-gradient(#48bd27, #3fa522);	
background: -webkit-linear-gradient(#48bd27, #3fa522); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#48bd27', endColorstr='#3fa522')"; 
background:	linear-gradient(#48bd27, #3fa522);
border-bottom:2px solid #569b42; 
}
button.classy.green:active {
background: -moz-linear-gradient(#458446, #396c39);		 
background: -ms-linear-gradient(#458446, #396c39);	
background: -webkit-linear-gradient(#458446, #396c39); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#458446', endColorstr='#396c39')"; 
background:	linear-gradient(#458446, #396c39);
border-bottom:2px solid #336234; 
}
button.classy.blue {
background: -moz-linear-gradient(#107be9, #1469bf);		 
background: -ms-linear-gradient(#107be9, #1469bf);	
background: -webkit-linear-gradient(#107be9, #1469bf); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#107be9', endColorstr='#1469bf')"; 
background:	linear-gradient(#107be9, #1469bf);
border-bottom:2px solid #105dae;	
}
button.classy.blue:hover {
background: -moz-linear-gradient(#118afb, #1279e3);		 
background: -ms-linear-gradient(#118afb, #1279e3);	
background: -webkit-linear-gradient(#118afb, #1279e3); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#118afb', endColorstr='#1279e3')"; 
background:	linear-gradient(#118afb, #1279e3);
border-bottom:2px solid #1974d1; 
}
button.classy.blue:active {
background: -moz-linear-gradient(#145ea9, #104d8b);		 
background: -ms-linear-gradient(#145ea9, #104d8b);	
background: -webkit-linear-gradient(#145ea9, #104d8b); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#145ea9', endColorstr='#104d8b')"; 
background:	linear-gradient(#145ea9, #104d8b);
border-bottom:2px solid #0f467e; 
}
button.classy.red {
background: -moz-linear-gradient(#cf0d27, #b8152b);		 
background: -ms-linear-gradient(#cf0d27, #b8152b);	
background: -webkit-linear-gradient(#cf0d27, #b8152b); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf0d27', endColorstr='#b8152b')"; 
background:	linear-gradient(#cf0d27, #b8152b);
border-bottom:2px solid #9a091c;	
}
button.classy.red:hover {
background: -moz-linear-gradient(#e81515, #e01a1a);		 
background: -ms-linear-gradient(#e81515, #e01a1a);	
background: -webkit-linear-gradient(#e81515, #e01a1a); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e81515', endColorstr='#e01a1a')"; 
background:	linear-gradient(#e81515, #e01a1a);
border-bottom:2px solid #ad1515; 
}
button.classy.red:active {
background: -moz-linear-gradient(#901828, #761421);		 
background: -ms-linear-gradient(#901828, #761421);	
background: -webkit-linear-gradient(#901828, #761421); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#901828', endColorstr='#761421')"; 
background:	linear-gradient(#901828, #761421);
border-bottom:2px solid #6b121e; 
}
button.classy.inactive {
background: -moz-linear-gradient(#aaaaaa, #999999);
background: -ms-linear-gradient(#aaaaaa, #999999);
background: -webkit-linear-gradient(#aaaaaa, #999999);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#999999')";
background: linear-gradient(#aaaaaa, #999999);
border-bottom:2px solid #999999;
}
/* === BTN GROUP: handle layout of buttons  === */
.btngroup { }
.btngroup.right { text-align:right; }
.btngroup.center { text-align:center; }
.btngroup.pad { padding:20px 0; }
.btngroup.padtop { padding-top:20px; }
.btngroup.padtopmore { padding-top:40px; }
.btngroup.padbottom { padding-bottom:20px; }
/* spacing of buttons */
.btngroup > button { margin:0 5px; }
.btngroup > a { margin:0 5px; }
.btngroup.closeup button { margin:0 1px; }
.btngroup.spaceout button { margin:0 20px; } /* clicking on the wrong one could be devasterous! */
.btngroup.stack button { margin:0 0 10px 0; display:block; }
.btngroup button:first-child { margin-left:0; }
.btngroup button:last-child { margin-right:0; margin-bottom:0; } 

/* ====== CURVY BOXES ====== */
.curvybox { margin-bottom: 15px; padding:10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position:relative; } 
.curvybox.white	{ background: #fafafa; }
.curvybox.blue	{ background: #dae6f1; }	
/* borders */
.curvybox.blueborder { border:1px solid #aac;}
/* specials */
.curvybox.pedigree { background: #e9b98f url(../img/_elements/icons/pedigree/genetics-large.png) top right no-repeat;; color:#493a2d; border:1px solid #a29d8a; padding-right:80px; min-height:50px; }
.curvybox.addevent 	{ padding:1px 2px 1px 10px; line-height:32px; height:32px; }
.curvybox.singleline { padding:1px 10px; line-height:32px; height:32px; }
/* info boxes */
.curvybox.alert   { background:#ffe6b2 url(../img/_elements/icons/box/warning.png) top left no-repeat; border:1px solid #fc621f; padding-left:50px; }
.curvybox.issue   { background:#fdf2e5 url(../img/_elements/icons/box/issue.png) top left no-repeat; border:1px solid #f3c160; padding-left:50px; }
.curvybox.info    { background:#e0f2db url(../img/_elements/icons/box/info.png) top left no-repeat; border:1px solid #9c9; padding-left:50px; }
.curvybox.patient { background:transparent url(../img/_elements/gradients/bg_patientID.jpg) bottom left repeat-x; border: 2px solid #ffb212; }
.curvybox.warning { background: #eb5911 url(../img/_elements/icons/box/issue.png) top left no-repeat;; color:#FFF; border:2px solid #fff; padding-left:50px;}
/* customise */
.curvybox.dulltext { color:#4d5155; }
.curvybox.nopadding { padding:0; }
.curvybox.nomargin { margin:0; }
.curvybox.margintop { margin-top:15px; }

/* STICKYs - user comment area: general */
.stickynote { font-family:Georgia,Constantia,Lucida,Times,serif; line-height:1.5; background:#fff0a0; border:1px solid #fee54f; padding:10px; }
.stickynote > textarea { font-family:Georgia,Constantia,Lucida,Times,serif; line-height:1.5; }
.stickynote h4.noteheader { font-size:12px; font-style: italic; color:#998a30; margin-top:-3px; padding:0; }

/* ====== TABLES ====== */
/* general tr */
table tr.odd	{ background-color: #edf4f9; border-bottom: 1px solid #ccd; }
table tr.even	{ background-color: #e1eef9; border-bottom: 1px solid #ccd; }
table tr.odd:hover, tr.even:hover { background-color: #ffe6b2; border-bottom-color: #999; }
/* dark version */
table tr.odd.dark { background-color: #d0dce6; border-bottom: 1px solid #ccc; }  	/* #c5cfdb */
table tr.even.dark { background-color: #ccd6e3; border-bottom: 1px solid #ccc; } 	/* #b9c3ce */
table tr.odd.dark:hover, tr.even.dark:hover { background-color: #ffe8b7; border-bottom-color: #999; }
/* clickable table row  */
table tr.clickable:hover, table tr.dark.clickable:hover { background:#3665ff; color:white; }
table tr:last-child { border-bottom: none; }

/* GRID */
table.grid { width:100%; } 
table.grid th, table.grid tfoot td { text-align: left; vertical-align: middle; background:#ddd; color: #444; font-size: 11px; font-weight:bold; min-width:30px; padding:10px; border-right:1px solid #bbb;}
table.grid td { text-align: left; padding:10px; border-right:1px solid #ccc; } 
table.grid th:last-child, table.grid td:last-child { border-right: none; }
table.grid td.nowrap { white-space: nowrap; }
table.grid td.icons > img {margin-right:4px; margin-bottom:4px; }
/* customise */
table.grid.margintop { margin-top:10px; }
table.grid.marginbottom { margin-bottom:10px; }
table.grid.reduceheight td { padding-top:5px; padding-bottom:5px; }
table.grid.nodivider td, table.grid.nodivider th { border-right:none; }
table.grid.valignmiddle tr td { vertical-align:middle; }
/* table grid bottom grey border to match thead */
div.tablegrid { background:#ddd; }
div.tablegrid.end {  min-height:15px; }
div.tablegrid.footer { padding:5px 10px; }
div.tablegrid.footer h6 { color: #444; font-size: 11px; font-weight:bold; padding:10px 0;}
/* pagination for grid results */
div.tablegrid.pagination { text-align:right; padding:10px;	}
div.tablegrid.pagination > span:after { content: "\00a0\00a0 |\00a0\00a0 "; color: #999; }
div.tablegrid.pagination .results .showing { background:#eee; color:#000; font-weight: bold; padding:2px 8px; border:none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
/* table key */
div.tablekey  { background:#ddd; color: #444; font-size: 11px; font-weight:bold; padding:10px; } 
div.tablekey .keys { margin-bottom:15px; }
div.tablekey .keys .desc { display:inline-block; margin-right:10px; margin-bottom:10px; font-weight:normal; }
div.tablekey .keys .key { margin-right:15px; margin-top:5px; vertical-align: bottom; }
div.tablekey .keys.inline .desc { margin-bottom:0; }
div.tablekey .keys.inline .key { display:inline-block; margin-top:0; }
/* key colours - specific colours are set in module.css */
div.tablekey .key .icon { display:inline-block; margin-right:5px; }
div.tablekey .key .colorbox { display:inline-block; height:10px; width:15px; background:#eee; border:1px solid #999; position: relative; top:1px; margin-right:5px; }

/* SUBTLE - table structure used for layout... but not too obvious */
table.subtle { width:100%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:20px; }
table.subtle.white 	{ background:#fff; color:#222;}
table.subtle.grey 	{ background:#efefef; color:#222; }
table.subtle.blue 	{ background:#dae6f1; color:#222; }
table.subtle tbody tr:hover { background-color: #fffbda; }
table.subtle th { text-align:left; font-size:11px; color:#aaa; padding:10px 10px 2px 10px; }
table.subtle td { font-size:15px; padding:10px; }
/* customise */
table.subtle.smalltext td { font-size:11px; padding:8px 10px; }
table.subtle.normaltext td { font-size:13px; }
table.subtle.reduceheight td { padding-top:5px; padding-bottom:5px;}
table.subtle.nomargin { margin-bottom:0; }
table.subtle.showrows tr { border-bottom: 1px dotted #e8e8e8; }
table.subtle.showrows tr:last-child { border-bottom:none; }
table.subtle.valignmiddle tr td { vertical-align:middle; }
table.subtle.noradius { -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
table.subtle.noradiustop { -webkit-border-top-right-radius:0; -webkit-border-top-left-radius:0; -moz-border-radius-topright:0; -moz-border-radius-topleft:0; border-top-right-radius:0; border-top-left-radius:0;}
table.subtle.noradiusbottom { -webkit-border-bottom-right-radius:0; -webkit-border-bottom-left-radius:0; -moz-border-radius-bottomright:0; -moz-border-radius-bottomleft:0; border-bottom-right-radius:0; border-bottom-left-radius:0;}


/* ====== FORMS - GENERAL ====== */
.form { background:#e2dfdb  url(../img/_elements/gradients/bg_form.jpg) top left repeat-x; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border:2px solid #666; padding:15px; margin-bottom:10px; }
.form.bigpad { padding:30px; }
.form.nomargin { margin-bottom:0; }
/* fix inputs widths */
.form.iw200px input, .form.iw200px textarea, .form.iw200px select { width:200px; }
/* defaults */
label { font-size:15px; position:relative; top:2px; }
select { position:relative; top:2px; }
input { font-size:15px; padding:3px; background: #fcfcfc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;	border:solid 1px #6b8aaa; }
input:focus { background: #fff; border:solid 1px #19a8ea; }
/* customise label */
label.padright { margin-right:10px; }
label.padleft { margin-left:10px; }
/* placeholder */
input::-webkit-input-placeholder{color:#ccc}
input:-moz-placeholder{color:#ccc}
input:-ms-input-placeholder{color:#ccc}
input:focus::-webkit-input-placeholder{color:transparent;} /* ios */
/* big fields - can be used with form OR formrow */
.biginput label 	{ font-size:17px; position:relative; top:4px; }
.biginput input 	{ font-size:17px; padding:5px; }
.biginput textarea 	{ font-size:17px; padding:5px; }
.biginput select 	{ font-size:17px; }
/* organise inputs */
.form .formrow { margin-bottom:10px; padding:5px 0; }
.form .formrow:last-child { margin-bottom:0; }
.form .formrow.divider { border-bottom:1px dotted #999; }
.form .formrow.valignmiddle input, .form .formrow.valignmiddle select { vertical-align: middle; }
/* help */
.form .formrow .inputhelp, 	.forminputhelp	{ display:block; font-size:11px; margin-top:6px; color: #777; }
.form .formrow .labelhelp,	.formlabelhelp	{ display:block; font-size:11px; margin-top:4px; color: #777; }	
.form .formrow .required, 	.formrequired	{ display:block; font-size:11px; margin-top:4px; color: #b33;}

/* ====== sort out textarea sizing ====== */
textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* ====== GROUP labels and inputs ====== */
/* group label and input, for radios and checkboxes, note: CHECKBOXs and RADIOs always on the right */
.showdatagroup { display: inline-block; background: rgb(230,230,230); background: rgba(255,255,255,0.2); margin-right:4px; padding:2px 5px 6px 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.showdatagroup:last-child { margin-right:0;}
.showdatagroup:hover { background: rgb(240,240,240); background: rgba(255,255,255,0.5); color:#003cff; }
.showdatagroup.marginleft { margin-left:11px; }
.showdatagroup label { margin-left:4px;} /* labels should generally be on the right */
.showdatagroup input[type="checkbox"] { vertical-align:text-bottom; }
/* assume any showdatagroup in event content will need spacing out */
.eventcontent .showdatagroup { margin-right:15px; margin-bottom:5px; }

/* ====== anything in stacked in a div that requires vertical spacing. mostly used for inputs ====== */
.makestack > * { display:block; margin-bottom:15px;}
.makestack.reduceheight > * { margin-bottom:5px;}
.makestack > :last-child { margin-bottom:0;}

/* ====== OVERLAY ====== */
/* dim and de-activate other content */
.dimcontent { height:100%; width:100%; min-width:1240px; position:fixed; left:0; top:0; z-index:1; background-color:#666; filter: alpha(opacity=50);
-webkit-opacity: 0.50; -moz-opacity: 0.50; opacity: 0.50;   }
/* overlay holder is centered on the top left */
.overlay { z-index:9 !important; background:transparent; position:fixed; left:50%; top:50%; }
.overlay .loading { background:#555; color:#ccc; text-align:center; padding:10px; width:300px; margin-left:-150px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
/* ====== OVERLAYS ====== */
/* general setup */
.overlay .overlaybox 	{ background:#fff; padding:10px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;  }
.overlay .dropshadow 	{ -moz-box-shadow: 2px 2px 2px 2px #666; -webkit-box-shadow: 2px 2px 2px 2px #666;  box-shadow: 2px 2px 2px 2px #666; }
.overlay .whiteglow 	{ -moz-box-shadow: 0 0 4px 4px #fff; -webkit-box-shadow: 0 0 4px 4px #fff;  box-shadow: 0 0 4px 4px #fff; }
/* add new event */
.overlay.position.addevent { top:150px; left:49%; } /* needs positioning */
.overlay .addevent { width:580px; border:7px solid #69bd51; }
.overlay .addevent .showallevents { margin-top:10px;} 
.overlay .addevent .selectevent { margin-bottom:5px;}
.overlay .addevent .selectevent img { vertical-align:bottom; margin-right: 10px; }
.overlay .addevent .selectevent a { display:block; font-size:14px; padding:5px; background: #f6f6f6; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.overlay .addevent .selectevent a:hover { border:none; color:#fff; background:#69bd51; }
.overlay .addevent .selectevent a:active { border:none; color:#fff; background:#5da748; }
/* delete event */
.overlay .deleteevent { width:500px; margin-left:-250px; margin-top:-75px; border:7px solid #F00; }
.overlay .deleteevent p { margin-bottom:8px; margin-top:4px; font-weight: bold;}
/* notifications */
.overlay .notifications { width:500px; margin-left:-250px; margin-top:-150px; padding:50px 10px 15px 10px; background:#807c6d url(../img/_elements/icons/im/paperclip_notification.png) top right no-repeat; color:#fff; border:2px dotted #d8d1b8; }
.overlay .notifications a { color:#a0f3ff; }
.overlay .notifications h4 { color:#d2cbb3; font-family:Georgia,Constantia,Lucida,Times,serif; font-size:13px; font-style:italic; padding:0; margin:0; }
.overlay .notifications .showdatagroup:hover { color:#009; }
.overlay .notifications .autoimsg { background:#6e6b5e; border:2px dotted #a29d8a; padding:5px; }
.overlay .notifications .autoimsg .details { padding:5px 0 0 50px; } /*  allow for icon */
.overlay .notifications .options { padding-top:20px; }

/* ====== IN-PAGE QUICK / HELP ====== */
.quickhelp { display:inline-block; margin:0 5px 0 3px; vertical-align:bottom; }
.quickhelp > a.helpicon { display:inline-block; height:17px; width:17px; border:none; line-height:17px; font-size:11px; font-weight: bold; background:transparent url(../img/_elements/icons/alerts/help.png) top left no-repeat; }
.quickhelp > a.helpicon.images { background-image:url(../img/_elements/icons/alerts/images.png);}
/* jquery loads help */
.helpwrap { z-index:9 !important; background:transparent; position:absolute; left:-200px; top:-200px; }
.helpwrap .inpagehelpinfo { padding:10px 12px; max-width:300px; background:#fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 2px 2px 2px 0 #bbb; -webkit-box-shadow: 2px 2px 2px 0 #bbb;  box-shadow: 2px 2px 2px 0 #bbb;}
.helpwrap .inpagehelpinfo ul { padding-left:1.5em; }


/* ====== ICON HELP ====== */
/* use jqurey to display icon title as floating overlay on hover */
.icontitlehelp { display:none; position:absolute; font-style:italic; font-size:12px; color:#333; background:#ffe; border:2px solid #999; padding:4px 6px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 2px 2px 2px 0 #bbb; -webkit-box-shadow: 2px 2px 2px 0 #bbb;  box-shadow: 2px 2px 2px 0 #bbb; }
/* jquery adds the icon too: */
.icontitlehelp > img { margin-right:5px; float:left; }

/* ------------------------------------------------- EXTENDED HELP & FOOTER	*/

/* ====== EXTENDED HELP - collapsable area at the end of content ====== */
div.extendedhelp:before	{ content: url(../img/_structure/help_top_grad.jpg); display: block; margin:0; padding:0; }
div.extendedhelp .helpcol { float:left; width:358px; margin:0 0 20px 25px; padding: 0 10px 0 15px;  border-left: 1px dotted #35b3ef; }
div.extendedhelp .helpcol p { color:#4a616a; font-size: 11px; line-height: 1.5; margin-bottom:5px;	}
div.extendedhelp .helpcol:last-child { border-right: none; }
/* ====== FOOTER ====== */
/* mini help in footer:  617px is center */
div.pagefooter { height:45px; position:relative; background: #b3b0ae url(../img/_structure/openeyes_footer.png) bottom right no-repeat; padding-top:30px; }
div.pagefooter h6 { font-size:9px; font-weight: normal; color:#666; }
div.pagefooter > h6.withlove 	{ position:absolute; bottom:23px; left:12px; }
div.pagefooter > h6.legals 		{ position:absolute; bottom:9px; left:12px; }	 
div.pagefooter > .help { position:absolute; top:0; left:287px; width:660px; height:23px; background:#e2dfdb; font-size:11px; text-align: center; padding-top:9px; border-top:1px solid #b3b0ae; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;  }
div.pagefooter > .help > .divider { padding:0 5px; color:#aaa; }

/* ------------------------------------------------- HEADER MODULES  */
/* instance sync */
.oesync { background: rgb(255,255,255); background: rgba(255,255,255,0.6); border:1px solid #fff; border-top:none; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;}
.oesync a.syncbtn { position:absolute; bottom:5px; left:3px; }
.oesync a.syncbtn:hover { border-bottom: none; }


/* add border radius to header elements */
.userpanel, .patientid, ul.usershortcuts a, ul.usershortcuts > li .selected  { -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}

/* ====== USER PANEL ====== */
.userpanel { background: #dae6f1 url(../img/_elements/gradients/bg_user_panel.jpg) bottom left repeat-x; padding:0 10px 5px 10px; border-right:1px solid #b3b0ae; border-bottom:1px solid #b3b0ae; border-left:1px solid #b3b0ae;	 }
.userpanel .user { float:left; padding-top:10px; color:#036; }
/* user shortcuts */
ul.usershortcuts	{ float:right; padding:0; margin:0; }
ul.usershortcuts > li { display:inline-block; margin: 0 0 8px 4px;}
ul.usershortcuts > li a { display:inline-block; background: #cdd9e3; padding:10px 5px 3px 5px; border:none; }
ul.usershortcuts > li a:hover { background: #fff; border:none; }
ul.usershortcuts > li a:active { background: #eaffff; border:none; }
ul.usershortcuts > li a.logout:hover { background: #d84945; color:#fff; }
ul.usershortcuts > li a.logout:active { background: #ff5652; color:#fff; }
ul.usershortcuts > li .selected { display:inline-block; background: #1e55c1; color:#fff; padding:10px 5px 3px 5px; border:none; }
/* customise showdatagroup */
.userpanel .showdatagroup.selectfirm { position:relative; left:-8px; }
.userpanel .showdatagroup.selectfirm label { margin-right:8px; }

/* ====== PATIENT ID ====== */
.patientid { background: #fff2d7 url(../img/_elements/gradients/bg_patientID.jpg) bottom left repeat-x; padding:0 10px; border-right:2px solid #ffb212; border-bottom:2px solid #ffb212; border-left:2px solid #ffb212; }
.patientid > .patient.icon { position:absolute; right:5px; bottom:5px; }
.patientid > .patient.reminder { padding-top:9px; }
.patientid > .patient.reminder > .given		{ display:inline-block; font-size: 16px; }
.patientid > .patient.reminder > .surname	{ display:inline-block; font-size: 16px; font-weight: bold; }
.patientid > .patient.reminder > .number	{ display:block; font-size: 12px; margin-top:1px; }
.patientid > .patient.reminder > .nhs		{ display:inline-block; font-size: 12px; color:#fff; background: #107ebd url(../img/_elements/icons/nhs_tiny.png) center left no-repeat;  margin-top: 1px; padding:1px 4px 1px 35px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.patientid > .patient.summary { position:absolute; right:40px; top:40px; }
.patientid > .patient.details { position:absolute; right:5px; bottom:-23px; height:23px; line-height:23px; padding:0 5px; color:#444; background:#ffe6b2; border:2px solid #ffb212; border-top:none; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.patientid > .patient.details.female { background:#ffe6b2 url(../img/_elements/icons/alerts/female_trans.png) center right no-repeat; padding-right:23px; }
.patientid > .patient.details.male { background:#ffb212 url(../img/_elements/icons/alerts/male_trans.png) center right no-repeat; padding-right:23px; }
.patientid > .patient.details .info { display:inline-block; padding-right:2px; }
.patientid > .patient.warningflag { position:absolute; left:5px; bottom:-20px; height:17px; line-height:17px; font-size:11px; letter-spacing:1px; padding:0 5px; color:#fff; background:#eb5911; border:2px solid #fff; border-top:none; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }



/* ========================================================================= EPISODEs & EVENTs ====== */

/* ====== EPISODE EVENT LIST ====== */
/* Episodes can be 'open' or 'closed' */
.episodelist > .episode.open   { background: #eaddaf; margin-bottom:5px; }
.episodelist > .episode.closed { background: #dad3ba; margin-bottom:5px; }
/* navigate events in episode */
.episode .enav { width:172px; float:left; background:#fff; padding:5px 1px 10px 0px; margin:3px 1px 3px 0; position:relative; }
/* customise showhide sprite */
.episode .enav .ebtn a.sprite { display:inline-block; padding:4px 5px 2px 5px; background: #fff; -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.episode .enav .ebtn { position:absolute; top:0; right:2px;}
.episode .enav .ebtn > a:hover { border:none; background:#3665ff;}
.episode .enav .ebtn > a:active { border:none; background:#2546b1; }
/* episode details & summary */
.episode .enav .startdate { margin-left:5px;}
.episode .enav h4 { margin:5px 2px 3px 0; }
.episode .enav h4 .episodesummary { display:block; color:#000; padding:3px 0 15px 5px; border:none; }
.episode .enav h4 .episodesummary.viewing { color:#fff; background:#aaa url(../img/_elements/icons/event/event_open_arrow.png) bottom right no-repeat; }
.episode .enav h4 a.episodesummary { background:#fff url(../img/_elements/graphic/view-episode-summary.png) bottom right no-repeat; }
.episode .enav h4 a:hover.episodesummary 	{ color:#fff; background-color:#3665ff; background-image: url(../img/_elements/icons/event/event_open_arrow.png); }
.episode .enav h4 a:active.episodesummary 	{ color:#fff; background-color:#315be6; }
/* mini icons for collapsed state */
.episode .enav .minievents { display:none; padding:2px 5px 2px 5px; }
.episode .enav .minievents a { border:none; }
.episode .enav .minievents img { width:12px; height:12px; margin-right:3px; }
/* events */
.episode ul.events { list-style-type:none; padding:4px 0 0 0; margin:0 0 0 5px; border-top:1px dotted #ccc; }
.episode ul.events li { display:block; position: relative; height:19px; margin:0 2px 4px 0; } 
.episode ul.events li img { vertical-align:middle; margin:0; } 
/* event icons is 19 x 19 ,this adds quicklook icon*/
.episode ul.events li .type { display:inline-block; width:35px; background:transparent url(../img/_elements/icons/event/status/quicklook.png) top right no-repeat; }
.episode ul.events li .type:hover { background-image:url(../img/_elements/icons/event/status/quicklook-hover.png);	}
.episode ul.events li .type.statusflag { background:transparent url(../img/_elements/icons/event/status/alert.png) top right no-repeat; }
.episode ul.events li .type.statusflag:hover { background-image:url(../img/_elements/icons/event/status/alert-hover.png); }
.episode ul.events .date { position:relative; top:2px; margin-left:5px; padding-left:2px; border-left:1px dotted #fff; }
.episode ul.events .date .day { display:inline-block; width:20px; text-align:right; margin-right:5px;  }
.episode ul.events .date .mth { display:inline-block; width:28px; }
.episode ul.events li a { display:block; height:19px; margin-left:-5px; padding-left:8px; padding-right: 10px; -webkit-border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.episode ul.events li a:hover { border-bottom: none; background: #3665ff url(../img/_elements/icons/event/event_open_arrow.png) right center no-repeat; color:#fff; }
.episode ul.events li a:active	{ border-bottom: none; background: #315be6; color:#fff; }
/* quicklook */
.episode ul.events li .quicklook { display:none; position:absolute; left:140px; top:-5px; z-index:1; width:200px; padding:5px; border:1px solid #3665ff; background:#fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px 2px 0 #999;  -webkit-box-shadow: 2px 2px 2px 0 #999;  box-shadow: 2px 2px 2px 0 #999;  }
.episode ul.events li .quicklook .event { display:block; font-weight: bold; padding-left:5px; padding-bottom:3px; }
.episode ul.events li .quicklook .info	{ display:block; font-size:11px; padding-left:5px}
.episode ul.events li .quicklook .issue	{ display:block; font-size:11px; color:#600; padding:5px 5px 5px 20px; margin-top:7px; background:#fdf2e5 url(../img/_elements/icons/event/status/alert.png) top left no-repeat;}
/* Viewing an Event  */
.episode ul.events li .viewing { display:block; height:19px; background: #aaa url(../img/_elements/icons/event/event_open_arrow.png) right center no-repeat; color:#fff; margin-left:-5px; padding-left:8px; padding-right: 10px; -webkit-border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
/* remove hover details: */
.episode ul.events li .viewing .date { border-left:none; }
.episode ul.events li .viewing .type { background:transparent url(../img/_elements/icons/event/status/quicklook.png) top right no-repeat; }
.episode ul.events li .viewing .type.statusflag { background:transparent url(../img/_elements/icons/event/status/alert-hover.png) top right no-repeat; }
/* event focus - when user is working on an event: adding, editing, etc: replace episodelist with current single event  */
.eventfocus { background:#fff; width:168px; padding:10px 0px 10px 5px; border-top:3px solid #a29d8a; border-right:3px solid #a29d8a; border-bottom:3px solid #a29d8a; border-left:2px solid #b3b0ae; }
.eventfocus.add { border-top-color: #69bd51; border-right-color: #69bd51; border-bottom-color: #69bd51; }
.eventfocus .eventreminder { margin:5px 0 25px 0; }
.eventfocus .eventreminder img { vertical-align:text-bottom; padding-right:3px; }
/*  add soft corner...  */
.episodelist > .episode, .episode .enav, .enav .episodesummary, .eventfocus  { -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }

/* ====== EVENT WRAPPER: actions depend on user role ====== */
.eventarea .eventwrapper { background: #eaddaf; border-bottom:5px solid #a29d8a; position:relative; }
.eventarea .eventwrapper.footer { height:35px; border-top:1px solid #a29d8a; border-bottom: none; padding-top:10px; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}  
.eventwrapper .workwith	{ display:inline-block; color:#fff; height:26px; line-height:26px; font-size:13px; margin:3px 0 0 3px; padding:0 10px; background: #a29d8a; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.eventwrapper .workwith.edit { background:#1e55c1; }
.eventwrapper .workwith.add  { background:#58a859; }
.eventwrapper .workoptions 			{ position:absolute; right:3px; bottom:2px; }
.eventwrapper.footer .workoptions 	{ position:absolute; right:3px; top:0; }
.eventwrapper .workoptions .youcan { display:inline-block; height:18px; margin-right:10px; color:#a29d8a; }
/* customise tabbtn */
.eventwrapper .workoptions .tabbtn { margin-left:8px; }
.eventwrapper .workoptions .tabbtn.wrapper > a { background-color: #fffee7; }
.eventwrapper .workoptions .tabbtn > span.inactive { color:#fff; background: #a29d8a; padding-bottom:3px; }
.eventwrapper.footer .workoptions .tabbtn > span.inactive { padding-bottom:0; padding-top:4px; }

/* ====== COLORBAND to show category ====== */
.eventarea .colorband { height:5px; background:#a29d8a;  }
.eventarea .colorband.episode { background:#c2bca5;  }
.eventarea .colorband.blank { background:#ccc;}
.eventarea .colorband.treatment { background:#fd6892;}
.eventarea .colorband.communication { background:#86cdff;}
.eventarea .colorband.investigation { background:#a5a0a9;}
.eventarea .colorband.outcomes { background:#f0bead;}
.eventarea .colorband.images { background:#5f5f5f;}
.eventarea .colorband.clinical { background:#fdcc56;}
.eventarea .colorband.drugs { background:#acad47;}
.eventarea .colorband.legacy { background:#b5b5b5;}


/* ====== EVENT (& EPISODE) content ====== */
.eventcontent { width:1030px; background:#fafafa; padding:0; margin:0; }
/* event watermark is set inline */
.eventcontent.watermark { background:#fafafa url(..img/_elements/icons/event/watermark/_blank.png) top left repeat-y; padding:5px 10px 10px 10px; }
/* event icon for h3 is set inline */
.eventcontent h3.withicon { display:inline-block; height:40px; color:#000; background:transparent url(../img/_elements/icons/event/medium/_blank.png) center left no-repeat;  padding:17px 0 0 50px; margin-left:5px; }
/* headers */
.eventcontent h3 { color:#333; padding:10px 10px 0 10px;} /* inherits margin-bottom: 10px */
.eventcontent h3.sectiondivider { font-family:Georgia,Constantia,Lucida,Times,serif; font-size:14px; color:#444; background:#dae6f1; padding:15px 10px 12px 10px; margin-top: 10px; }
.eventcontent h4 { color:#56a7f1; font-size:13px; padding:5px 10px; margin-bottom: 5px;}
/* modify h4 headers when in edit or add mode */
.eventcontent.edit h4, .eventcontent.add h4  { font-style: italic; border-top:1px dotted #97c6f1; padding:13px 10px 0 10px; margin-bottom: 10px; }

/* ====== HIGHLIGHT data ====== */
.eventcontent .highlight { width:78%; padding:2px 5px; margin-bottom:10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.eventcontent .highlight.fullwidth { width:100%; }  
.eventcontent .highlight h4 { font-size:14px; color:#000; padding:0 10px 5px 5px; line-height: 1.5; }
.eventcontent .highlight h5 { font-size:12px; color:#222; padding:0 10px 5px 5px; margin:0;}
.eventcontent .highlight.medium { background:#fff; }
.eventcontent .highlight.medium > h4 { font-size:15px; padding-top:10px; line-height:1.5; }
.eventcontent .highlight.medium > h5 { padding-top:5px; font-weight: normal;}
.eventcontent .highlight.big { background:#fff; } 
.eventcontent .highlight.big > h4 { font-size:18px; padding-top:10px; }
.eventcontent .highlight.big > h5 { padding-top:5px; }
.eventcontent .highlight.priority { background:#fff300; } /* massive! */ 
.eventcontent .highlight.priority > h4 { font-size:20px; padding-top:10px }
.eventcontent .highlight.priority > h5 { padding-top:5px; }
.eventcontent .highlight.stickynote > * { max-height:80px; overflow-y:auto; padding-top:5px; } /* comments */
.eventcontent .highlight.none > h4 { color:#999; font-size:13px; font-family:Georgia,Constantia,Lucida,Times,serif; font-style: italic; padding:5px 10px 3px 5px; } /* none - no data! */

/* ====== Element DETAIL ====== */
.eventcontent .edetail { padding:10px; background:#dae6f1; position:relative; }
.eventcontent .edetail:hover { background:#dfecf7;}
/* add the clearfix to edetail to handle long labels that wrap over 2 lines */
.eventcontent .edetail:before, .eventcontent .edetail:after { content: ""; display: table; }
.eventcontent .edetail:after { clear: both; }
.eventcontent .edetail { zoom: 1; }
/* basic split - max width is 1010px  */
.eventcontent .edetail > .label { display:inline-block; width:170px; float:left; font-size:15px; }
.eventcontent .edetail > .data {  display:inline-block; position:relative; }  /* width is controlled by label, with label = width:840px; */
.eventcontent .edetail > .data.fullwidth { width:100%; } 
.eventcontent .edetail > .data.fixwidth { width:840px; }
/* increase label width */
.eventcontent.widelabels .edetail > .label { width:230px;}
.eventcontent.widelabels .edetail > .data.fixwidth { width:780px; }
/* event comments - cancellations */
.eventcontent ul.cancelnotes { font-size:12px; }
.eventcontent ul.cancelnotes { list-style-type: none; padding:0; margin:10px 0 20px 10px; }
.eventcontent ul.cancelnotes > li { margin-bottom:8px; padding-bottom: 8px; border-bottom:1px dotted #dae6f1; }

/* ====== ON-DEMAND ====== */
/* wrapper for elements that appear 'on-demand' */
.eventcontent .ondemand { position:relative; padding:2px 8px 5px 8px; margin:5px 0 3px 0; border:7px solid #c8d3dd; background: transparent; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.eventcontent .ondemand h4 { border-top: none; }
.ondemand > .demandreason { position:absolute; top:0; right:12px; color:#356897; font-size:11px; padding:2px 10px 4px 10px; 
background:#c8d3dd; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }

/* ====== OPTIONAL ====== */
/* OPTIONAL elements hidden in place but re-styled slightly */
.eventcontent .edetail.optional { border:2px dotted #8c949c; margin:2px 0; }
.eventcontent .edetail.optional > .data.fixwidth { width:810px; } 
.eventcontent .edetail.optional > .data.fullwidth { width:98%; }
/* remove optional button & suboptional modify button */
.edetail.optional .removeoptional { position:absolute; top:8px; right:4px; z-index:2; display:block; height:19px; width:24px; background: transparent url(../img/_elements/icons/event-optional/element-remove-blue.png) right center no-repeat; }
.edetail.optional .elementsuboption { background:#e1eefa; text-align:center; padding:4px 0; margin-bottom:10px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

/* optional elements listed at bottom of event */
.eventcontent .optionalelements { margin:20px 0; padding-bottom:20px; border-top:2px dotted #8c949c; border-bottom:2px dotted #8c949c;}
/* add remove multiple elements */
.optionalelements > .bulkactions { font-size:12px; background:#dae6f1; border-bottom:1px dotted #fafafa; }
.optionalelements > .bulkactions .bulkbtn { float:right; display:inline-block; height:28px; line-height:28px; padding-right:25px; margin-left:10px; }
.optionalelements > .bulkactions .bulkbtn.add { background:transparent url(../img/_elements/icons/event-optional/element-added.png) center right no-repeat; }
.optionalelements > .bulkactions .bulkbtn.remove { background:transparent url(../img/_elements/icons/event-optional/element-remove.png) center right no-repeat; }
/* selectelements states (listed at the bottom) */
.optionalelements > .selectelement { font-size:12px; font-weight:bold; color:#fff; padding:8px 10px; margin:0; background:#8c949c url(../img/_elements/icons/event-optional/element-view.png) center right no-repeat; border-bottom:1px dotted #fafafa; }
.optionalelements > .selectelement:hover  { background-color: #3665ff; cursor: pointer; }
.optionalelements > .selectelement:active { background-color: #55a256; }
.optionalelements > .selectelement.added { color:#8c949c; background:#ddd url(../img/_elements/icons/event-optional/element-added.png) center right no-repeat; }
.optionalelements > .selectelement.added:hover { color:#fff; background-color: #3665ff; cursor: default;}
/* click hint add with jquery */
.optionalelements > .selectelement.selectelement > .clickhint { font-weight: normal; float: right; padding-right:20px;	 }

/* ====== INLINE ADMIN ====== */
.inlineadmin { color:#003; font-size:11px; line-height:1.5; background:#ddd; border:4px solid #336; padding:5px 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.inlineadmin * { font-size:11px; line-height:1.5; } 




/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media all and (max-width:800px) {
/* 	in order to ensure consistant display scale on iphone and ipad the min-height needs adjusting  width:1230px; */
	#content { min-height: 1230px !important; }
}

/* ==|== print styles ======================================================= */
 
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	table {	width: 100%; }
	td,th { text-align: left; padding: 2px 4px; vertical-align: top; font-size: 14pt; }
	/* PREPAPRE PAGE FOR PRINT */
	html { height:100%; }
}