.panel {
	&.error {
		@extend %main-panel;
		max-width: 520px;
		.panel {
			margin-bottom: emCalc(12px);
		}
		li {
			margin-left: 1.5em;
		}
		h3 {
			padding-top: emCalc(5px);
		}
		.date {
			color: gray;
		}
	}
}