.element-data,
.edit .element-fields,
.sub-element-data,
.edit .sub-element-fields,
.element-eye,
.sub-elements {
	padding:10px;
	margin:0;
	background:#dae6f1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display:block;
}

audio,
canvas,
video {
	display:inline-block;
}

audio:not([controls]) {
	display:none;
	height:0;
}

[hidden] {
	display:none;
}

html {
	background:#fff;
	color:#000;
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body {
	margin:0;
}

a:focus {
	outline:thin dotted;
}

a:active,
a:hover {
	outline:0;
}

h1 {
	font-size:2em;
	margin:0.67em 0;
}

abbr[title] {
	border-bottom:1px dotted;
}

b,
strong {
	font-weight:bold;
}

dfn {
	font-style:italic;
}

hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}

mark {
	background:#ff0;
	color:#000;
}

code,
kbd,
pre,
samp {
	font-family:monospace, serif;
	font-size:1em;
}

pre {
	white-space:pre-wrap;
}

q {
	quotes:"\201C" "\201D" "\2018" "\2019";
}

small {
	font-size:80%;
}

sub,
sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

sup {
	top:-0.5em;
}

sub {
	bottom:-0.25em;
}

img {
	border:0;
}

svg:not(:root) {
	overflow:hidden;
}

figure {
	margin:0;
}

fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}

legend {
	border:0;
	padding:0;
}

button,
input,
select,
textarea {
	font-family:inherit;
	font-size:100%;
	margin:0;
}

button,
input {
	line-height:normal;
}

button,
select {
	text-transform:none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
}

button[disabled],
html input[disabled] {
	cursor:default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing:border-box;
	padding:0;
}

input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border:0;
	padding:0;
}

textarea {
	overflow:auto;
	vertical-align:top;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

*,
*:before,
*:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html,
body {
	font-size:100%;
}

body {
	background:#d4d1cd;
	color:#222222;
	padding:0;
	margin:0;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	line-height:1;
	position:relative;
	cursor:default;
}

a:hover {
	cursor:pointer;
}

a:focus {
	outline:none;
}

img,
object,
embed {
	max-width:100%;
	height:auto;
}

object,
embed {
	height:100%;
}

img {
	-ms-interpolation-mode:bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
	max-width:none !important;
}

.left {
	float:left !important;
}

.right {
	float:right !important;
}

.text-left {
	text-align:left !important;
}

.text-right {
	text-align:right !important;
}

.text-center {
	text-align:center !important;
}

.text-justify {
	text-align:justify !important;
}

.hide {
	display:none;
}

.antialiased {
	-webkit-font-smoothing:antialiased;
}

img {
	display:inline-block;
	vertical-align:middle;
}

textarea {
	height:auto;
	min-height:50px;
}

select {
	width:100%;
}

p.lead {
	font-size:1.03125em;
	line-height:1.6;
}

.subheader {
	line-height:1.4;
	color:gray;
	font-weight:300;
	margin-top:0.2em;
	margin-bottom:0.5em;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
	direction:ltr;
}

a {
	color:#0b59da;
	text-decoration:none;
	line-height:inherit;
}

a:hover,
a:focus {
	color:#0a4fc2;
}

a img {
	border:none;
}

p {
	font-family:inherit;
	font-weight:normal;
	font-size:0.8125em;
	line-height:1.2;
	margin-bottom:1.25em;
	text-rendering:optimizeLegibility;
}

p aside {
	font-size:0.875em;
	line-height:1.35;
	font-style:italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#333333;
	text-rendering:optimizeLegibility;
	margin-top:0.2em;
	margin-bottom:0.5em;
	line-height:1.2125em;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-size:60%;
	color:gray;
	line-height:0;
}

h1 {
	font-size:0.875em;
}

h2 {
	font-size:0.5625em;
}

h3 {
	font-size:0.75em;
}

h4 {
	font-size:0.6875em;
}

h5 {
	font-size:0.9375em;
}

h6 {
	font-size:1em;
}

hr {
	border:solid #dddddd;
	border-width:1px 0 0;
	clear:both;
	margin:1.25em 0 1.1875em;
	height:0;
}

em,
i {
	font-style:italic;
	line-height:inherit;
}

strong,
b {
	font-weight:bold;
	line-height:inherit;
}

small {
	font-size:60%;
	line-height:inherit;
}

code {
	font-family:Consolas, "Liberation Mono", Courier, monospace;
	font-weight:bold;
	color:#b30000;
}

ul,
ol,
dl {
	font-size:0.8125em;
	line-height:1.2;
	margin-bottom:1.25em;
	list-style-position:outside;
	font-family:inherit;
}

ul,
ol {
	margin-left:0;
}

ul li ul,
ul li ol {
	margin-left:1.25em;
	margin-bottom:0;
	font-size:1em;
}

ul.square li ul,
ul.circle li ul,
ul.disc li ul {
	list-style:inherit;
}

ul.square {
	list-style-type:square;
}

ul.circle {
	list-style-type:circle;
}

ul.disc {
	list-style-type:disc;
}

ul.no-bullet {
	list-style:none;
}

ol li ul,
ol li ol {
	margin-left:1.25em;
	margin-bottom:0;
}

dl dt {
	margin-bottom:0.3em;
	font-weight:bold;
}

dl dd {
	margin-bottom:0.75em;
}

abbr,
acronym {
	text-transform:uppercase;
	font-size:90%;
	color:#222222;
	border-bottom:1px dotted #dddddd;
	cursor:help;
}

abbr {
	text-transform:none;
}

blockquote {
	margin:0 0 1.25em;
	padding:0.5625em 1.25em 0 1.1875em;
	border-left:1px solid #dddddd;
}

blockquote cite {
	display:block;
	font-size:0.8125em;
	color:#666666;
}

blockquote cite:before {
	content:"\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
	color:#666666;
}

blockquote,
blockquote p {
	line-height:1.2;
	color:gray;
}

.vcard {
	display:inline-block;
	margin:0 0 1.25em 0;
	border:1px solid #dddddd;
	padding:0.625em 0.75em;
}

.vcard li {
	margin:0;
	display:block;
}

.vcard .fn {
	font-weight:bold;
	font-size:0.9375em;
}

.vevent .summary {
	font-weight:bold;
}

.vevent abbr {
	cursor:default;
	text-decoration:none;
	font-weight:bold;
	border:none;
	padding:0 0.0625em;
}

.print-only {
	display:none !important;
}

.keystroke,
kbd {
	background-color:#ededed;
	border-color:#dbdbdb;
	color:#222222;
	border-style:solid;
	border-width:1px;
	margin:0;
	font-family:"Consolas", "Menlo", "Courier", monospace;
	font-size:0.875em;
	padding:0.125em 0.25em 0em;
	-webkit-border-radius:5px;
	border-radius:5px;
}

html,
body {
	background:#d4d1cd;
}

.container {
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	max-width:76.875em;
	width:100%;
	*zoom:1;
}

.container:before,
.container:after {
	content:" ";
	display:table;
}

.container:after {
	clear:both;
}

.container.main {
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#dae6f1 url('../img/new/_structure/gradient_bg.jpg?1377677673') 0 0 no-repeat;
	border:2px solid #b3b0ae;
}

.container.content {
	background:url('../img/new/_structure/help_top_grad.jpg?1377677673') 0 bottom no-repeat;
	min-height:330px;
}

.container.event {
	padding-right:0;
}

h1.badge {
	display:inline-block;
	font-size:0.8125em;
	font-weight:bold;
	margin:0 0 0.625em 0;
	padding:5px 15px 5px 55px;
	background:-webkit-gradient(linear, 0% 50%, 12 50%, color-stop(0%, #b4b0ae), color-stop(100%, #fffdea));
	background:-webkit-linear-gradient(left, #b4b0ae 0%, #fffdea 12px);
	background:-moz-linear-gradient(left, #b4b0ae 0%, #fffdea 12px);
	background:-o-linear-gradient(left, #b4b0ae 0%, #fffdea 12px);
	background:linear-gradient(left, #b4b0ae 0%, #fffdea 12px);
	-webkit-border-radius:0px 3px 3px 0px;
	-moz-border-radius:0px 3px 3px 0px;
	-ms-border-radius:0px 3px 3px 0px;
	-o-border-radius:0px 3px 3px 0px;
	border-radius:0px 3px 3px 0px;
}

.row {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	max-width:76.875em;
	*zoom:1;
}

.row:before,
.row:after {
	content:" ";
	display:table;
}

.row:after {
	clear:both;
}

.row.collapse > .column,
.row.collapse > .columns {
	position:relative;
	padding-left:0;
	padding-right:0;
	float:left;
}

.row .row {
	width:auto;
	margin-left:-0.75em;
	margin-right:-0.75em;
	margin-top:0;
	margin-bottom:0;
	max-width:none;
	*zoom:1;
}

.row .row:before,
.row .row:after {
	content:" ";
	display:table;
}

.row .row:after {
	clear:both;
}

.row .row.collapse {
	width:auto;
	margin:0;
	max-width:none;
	*zoom:1;
}

.row .row.collapse:before,
.row .row.collapse:after {
	content:" ";
	display:table;
}

.row .row.collapse:after {
	clear:both;
}

.column,
.columns {
	position:relative;
	padding-left:0.75em;
	padding-right:0.75em;
	width:100%;
	float:left;
}

ul,
ol,
dl {
	font-size:1em;
	line-height:1.6;
}

ul li,
ol li,
dl li {
	font-size:0.8125em;
}

.inline-list {
	margin:0 auto 1.0625em auto;
	margin-left:-1.375em;
	margin-right:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}

.inline-list > li {
	list-style:none;
	float:left;
	margin-left:1.375em;
	display:block;
}

.inline-list > li > * {
	display:block;
}

table {
	background:#edf4f9;
	margin-bottom:0.625em;
	border:solid 1px #dddddd;
	min-width:100%;
}

table thead,
table tfoot {
	background:whitesmoke;
	font-weight:bold;
}

table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
	padding:0.5em 0.625em 0.625em;
	font-size:0.6875em;
	color:#444444;
	text-align:left;
}

table tr th,
table tr td {
	padding:0.5625em 0.625em;
	font-size:0.875em;
	color:#222222;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
	background:#e1eef9;
}

table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
	display:table-cell;
	line-height:1.125em;
}

table input[type="text"],
table input[type="password"],
table input[type="date"],
table input[type="datetime"],
table input[type="datetime-local"],
table input[type="month"],
table input[type="week"],
table input[type="email"],
table input[type="number"],
table input[type="search"],
table input[type="tel"],
table input[type="time"],
table input[type="url"],
table textarea,
table button,
table .button,
table select {
	font-size:1em;
}

table tr th {
	text-align:left;
	background:#dddddd;
	font-size:0.6875em;
}

table tr td {
	font-size:0.8125em;
}

table tfoot {
	font-weight:normal;
}

table tfoot tr th,
table tfoot tr td {
	font-size:0.6875em;
	font-weight:bold;
}

table tfoot tr.even,
table tfoot tr.alt,
table tfoot tr:nth-of-type(even) {
	background:none;
}

table.grid th,
table.grid td {
	border-right:1px solid #cccccc;
}

table.grid th:last-child,
table.grid td:last-child {
	border-right:none;
}

table.grid tfoot {
	border-top:1px solid #dddddd;
}

table td label,
table th label {
	font-size:1em;
}

table.plain,
table tr:nth-of-type(even) {
	background:#fff;
}

table.blank {
	background:none;
	border:0;
	width:auto;
	min-width:0;
}

table.blank thead {
	background:none;
}

table.blank thead th {
	background:none;
	font-weight:normal;
	font-size:0.8125em;
	padding-left:0;
}

table.blank tr {
	background:none;
}

table.blank td {
	padding:2px 10px 2px 0;
}

table.blank td img {
	height:auto;
	width:auto;
}

.header {
	min-height:70px;
	margin:0 0 0.625em 0;
}

.header .logo {
	background:url('../img/new/_structure/openeyes.png?1377677673') no-repeat;
	background-size:100%;
	height:70px;
	margin-left:-0.75em;
	max-width:210px;
}

.event-header {
	background:#eaddaf;
	border-bottom:5px solid #a29d8a;
	padding:0.375em 0.625em 0 0.625em;
}

.footer {
	background:#b3b0ae url('../img/new/_structure/openeyes_footer.png?1377677673') no-repeat right top;
}

.footer .info {
	font-size:0.625em;
	line-height:1.5em;
	padding-bottom:0.3125em;
	padding-top:0.3125em;
}

.footer .info .copyright {
	color:#666666;
}

.footer .help {
	font-size:0.8125em;
	text-align:left;
}

.footer .help .panel {
	border-style:solid;
	border-width:1px;
	border-color:#cbc6bf;
	margin-bottom:1.25em;
	padding:0.625em 0.625em 0.375em 0.625em;
	background:#e2dfdb;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-ms-border-radius:0 0 3px 3px;
	-o-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	margin:1px 0 0 0;
}

.footer .help .panel > :first-child {
	margin-top:0;
}

.footer .help .panel > :last-child {
	margin-bottom:0;
}

.footer .help .panel h1,
.footer .help .panel h2,
.footer .help .panel h3,
.footer .help .panel h4,
.footer .help .panel h5,
.footer .help .panel h6,
.footer .help .panel p {
	color:#333333;
}

.footer .help .panel h1,
.footer .help .panel h2,
.footer .help .panel h3,
.footer .help .panel h4,
.footer .help .panel h5,
.footer .help .panel h6 {
	line-height:1;
	margin-bottom:0.625em;
}

.footer .help .panel h1.subheader,
.footer .help .panel h2.subheader,
.footer .help .panel h3.subheader,
.footer .help .panel h4.subheader,
.footer .help .panel h5.subheader,
.footer .help .panel h6.subheader {
	line-height:1.4;
}

.footer .help .inline-list {
	display:inline-block;
	margin:0;
}

.footer .help .inline-list li {
	border-right:1px solid #aaaaaa;
	display:inline-block;
	line-height:1;
	list-style:none;
	margin:0 1em 0.25em 0;
	padding:0 1em 0 0;
}

.footer .help .inline-list li:last-child {
	padding-right:0;
	margin-right:0;
	border:0;
}

form {
	margin:0 0 1.125em;
}

form .row .row {
	margin:0 -0.5625em;
}

form .row .row .column,
form .row .row .columns {
	padding:0 0.5625em;
}

form .row .row.collapse {
	margin:0;
}

form .row .row.collapse .column,
form .row .row.collapse .columns {
	padding:0;
}

form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
	padding-left:0.5625em;
}

label {
	font-size:0.8125em;
	color:black;
	cursor:pointer;
	display:block;
	font-weight:500;
	margin-bottom:0.1875em;
}

label.right {
	float:none;
	text-align:right;
	margin:0;
}

label.inline {
	margin:0 0 1.125em 0;
	padding:0.6875em 0;
	margin:0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	background-color:white;
	font-family:inherit;
	border:1px solid #cccccc;
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color:rgba(0, 0, 0, 0.75);
	display:block;
	font-size:0.8125em;
	margin:0 0 1.125em 0;
	padding:0.5625em;
	height:2.5em;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:-webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition:-moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition:box-shadow 0.45s, border-color 0.45s ease-in-out;
	margin:0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	-webkit-box-shadow:0 0 5px #999999;
	-moz-box-shadow:0 0 5px #999999;
	box-shadow:0 0 5px #999999;
	border-color:#999999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	background:white;
	border-color:#999999;
	outline:none;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
	background-color:#dddddd;
}

input[type="file"] {
	width:100%;
}

fieldset {
	border:solid 1px #dddddd;
	padding:1.25em;
	margin:1.125em 0;
}

fieldset legend {
	font-weight:bold;
	background:white;
	padding:0 0.1875em;
	margin:0;
	margin-left:-0.1875em;
}

.error input,
input.error,
.error textarea,
textarea.error {
	border-color:red;
	background-color:rgba(255, 0, 0, 0.1);
}

.error input:focus,
input.error:focus,
.error textarea:focus,
textarea.error:focus {
	background:white;
	border-color:#999999;
}

.error label,
label.error {
	color:red;
}

.error small,
small.error {
	display:block;
	padding:0.375em 0.25em;
	margin-top:-1.4375em;
	margin-bottom:1.125em;
	font-size:0.75em;
	font-weight:bold;
	background:red;
	color:white;
}

.form.panel {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	background:#e2dfdb;
	border:2px solid #666666;
	padding:30px;
}

.form.login {
	margin:50px auto 100px auto;
	max-width:488px;
}

.form.login label {
	font-size:0.9375em;
}

.form [type="submit"] {
	margin:0;
}

.field-group-highlight,
fieldset.highlight,
label.highlight {
	background:#e3f0f2;
	display:inline-block;
	padding:4px 12px 5px 8px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.field-group-highlight:hover,
fieldset.highlight:hover,
label.highlight:hover {
	background:#fff;
}

label input[type="checkbox"],
label input[type="radio"] {
	margin:0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	height:auto;
}

input[type="text"].small,
input[type="password"].small,
input[type="date"].small,
input[type="datetime"].small,
input[type="datetime-local"].small,
input[type="month"].small,
input[type="week"].small,
input[type="email"].small,
input[type="number"].small,
input[type="search"].small,
input[type="tel"].small,
input[type="time"].small,
input[type="url"].small,
textarea.small {
	padding:0.1875em 0.25em;
}

input[type="text"].small.fixed-width,
input[type="password"].small.fixed-width,
input[type="date"].small.fixed-width,
input[type="datetime"].small.fixed-width,
input[type="datetime-local"].small.fixed-width,
input[type="month"].small.fixed-width,
input[type="week"].small.fixed-width,
input[type="email"].small.fixed-width,
input[type="number"].small.fixed-width,
input[type="search"].small.fixed-width,
input[type="tel"].small.fixed-width,
input[type="time"].small.fixed-width,
input[type="url"].small.fixed-width,
textarea.small.fixed-width {
	width:6.875em;
}

.field-row {
	padding-bottom:1.125em;
}

.form .field-row:last-child {
	padding:0;
}

button,
.button {
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	font-family:inherit;
	font-weight:normal;
	line-height:1;
	margin:0 0 1.25em;
	position:relative;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #107be9), color-stop(100%, #1469bf));
	background:-webkit-linear-gradient(#107be9, #1469bf);
	background:-moz-linear-gradient(#107be9, #1469bf);
	background:-o-linear-gradient(#107be9, #1469bf);
	background:linear-gradient(#107be9, #1469bf);
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	border:0;
	border-bottom:2px solid #105dae;
	color:white;
	font-size:1em;
	padding:0.5em 2.5em;
	text-shadow:1px 1px 0 #105dae, 2px 2px 0 #5c0faa;
	margin:0;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #118afb), color-stop(100%, #1279e3));
	background:-webkit-linear-gradient(#118afb, #1279e3);
	background:-moz-linear-gradient(#118afb, #1279e3);
	background:-o-linear-gradient(#118afb, #1279e3);
	background:linear-gradient(#118afb, #1279e3);
	border-color:#1974d1;
	color:white;
}

button:active,
.button:active {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #145ea9), color-stop(100%, #104d8b));
	background:-webkit-linear-gradient(#145ea9, #104d8b);
	background:-moz-linear-gradient(#145ea9, #104d8b);
	background:-o-linear-gradient(#145ea9, #104d8b);
	background:linear-gradient(#145ea9, #104d8b);
	border-color:#0f467e;
}

button.secondary,
.button.secondary {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43a844), color-stop(100%, #55a256));
	background:-webkit-linear-gradient(#43a844, #55a256);
	background:-moz-linear-gradient(#43a844, #55a256);
	background:-o-linear-gradient(#43a844, #55a256);
	background:linear-gradient(#43a844, #55a256);
	border-color:#3fa522;
	text-shadow:1px 1px 0 #427d42, 2px 2px 0 #43727f;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #48bd27), color-stop(100%, #3fa522));
	background:-webkit-linear-gradient(#48bd27, #3fa522);
	background:-moz-linear-gradient(#48bd27, #3fa522);
	background:-o-linear-gradient(#48bd27, #3fa522);
	background:linear-gradient(#48bd27, #3fa522);
	border-color:#569b42;
}

button.secondary:active,
.button.secondary:active {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #458446), color-stop(100%, #396c39));
	background:-webkit-linear-gradient(#458446, #396c39);
	background:-moz-linear-gradient(#458446, #396c39);
	background:-o-linear-gradient(#458446, #396c39);
	background:linear-gradient(#458446, #396c39);
	border-color:#336234;
}

button.warning,
.button.warning {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cf0d27), color-stop(100%, #b8152b));
	background:-webkit-linear-gradient(#cf0d27, #b8152b);
	background:-moz-linear-gradient(#cf0d27, #b8152b);
	background:-o-linear-gradient(#cf0d27, #b8152b);
	background:linear-gradient(#cf0d27, #b8152b);
	border-color:#9a091c;
	text-shadow:1px 1px 0 #9a091c, 2px 2px 0 #851616;
}

button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e81515), color-stop(100%, #e01a1a));
	background:-webkit-linear-gradient(#e81515, #e01a1a);
	background:-moz-linear-gradient(#e81515, #e01a1a);
	background:-o-linear-gradient(#e81515, #e01a1a);
	background:linear-gradient(#e81515, #e01a1a);
	border-color:#ad1515;
}

button.warning:active,
.button.warning:active {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #901828), color-stop(100%, #761421));
	background:-webkit-linear-gradient(#901828, #761421);
	background:-moz-linear-gradient(#901828, #761421);
	background:-o-linear-gradient(#901828, #761421);
	background:linear-gradient(#901828, #761421);
	border-color:#6b121e;
}

button.disabled,
button.disabled:hover,
button.disabled:focus,
button.disabled:active,
button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active,
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #999999));
	background:-webkit-linear-gradient(#aaaaaa, #999999);
	background:-moz-linear-gradient(#aaaaaa, #999999);
	background:-o-linear-gradient(#aaaaaa, #999999);
	background:linear-gradient(#aaaaaa, #999999);
	border-color:#999999;
	text-shadow:none;
}

button.small,
.button.small {
	padding:0.3125em 1.25em;
	font-size:0.8125em;
	letter-spacing:1px;
}

button.tiny,
.button.tiny {
	padding:0.3125em 1.25em;
	font-size:0.6875em;
	letter-spacing:1px;
	line-height:1.4;
}

button [class*="icon-button-small-"],
.button [class*="icon-button-small-"] {
	margin:-6px -2px -5px -14px;
}

button.button-icon.small,
.button.button-icon.small {
	padding-right:0.375em;
	padding-left:0.375em;
}

button.button-icon.small [class*="icon-button-small-"],
.button.button-icon.small [class*="icon-button-small-"] {
	margin:-6px 0 -5px 0;
}

.button-group {
	list-style:none;
	margin:0;
	*zoom:1;
}

.button-group:before,
.button-group:after {
	content:" ";
	display:table;
}

.button-group:after {
	clear:both;
}

.button-group > li {
	margin:0 0 0 -1px;
	float:left;
}

.button-group > li:first-child {
	margin-left:0;
}

.button-group button,
.button-group .button {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	padding:0.3125em 0.625em;
	margin:0;
}

.button-group li:first-child button,
.button-group li:first-child .button {
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-ms-border-radius:4px 0 0 4px;
	-o-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}

.button-group li:last-child button,
.button-group li:last-child .button {
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-ms-border-radius:0 4px 4px 0;
	-o-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
}

.side-nav {
	display:block;
	margin:0;
	padding:0.875em 0;
	list-style-type:none;
	list-style-position:inside;
}

.side-nav li {
	margin:0 0 0.4375em 0;
	font-size:0.875em;
}

.side-nav li a {
	display:block;
	color:#0b59da;
}

.side-nav li.active > a:first-child {
	color:#4d4d4d;
	font-weight:bold;
}

.side-nav li.divider {
	border-top:1px solid;
	height:0;
	padding:0;
	list-style:none;
	border-top-color:#e6e6e6;
}

.navigation.user {
	margin-left:0;
	margin-bottom:0.5em;
}

.navigation.user li {
	font-size:0.8125em;
	margin:0 0 0 0.25em;
}

.navigation.user li.selected a {
	background:#1e55c1;
	color:white;
}

.navigation.user a {
	background:#cdd9e3;
	padding:0.5em 0.3125em 0.125em 0.3125em;
}

.navigation.user a:hover,
.navigation.user a:focus {
	background:white;
}

.alert-box {
	border-style:solid;
	border-width:1px;
	display:block;
	font-weight:normal;
	margin-bottom:1.25em;
	position:relative;
	padding:0.6875em 1.3125em 0.75em 0.6875em;
	font-size:0.8125em;
	background-color:#e2e2e2;
	border-color:#c9c9c9;
	color:black;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.alert-box .close {
	font-size:1.375em;
	padding:5px 4px 4px;
	line-height:0;
	position:absolute;
	top:0.4375em;
	right:0.3125em;
	color:#333333;
	opacity:0.3;
}

.alert-box .close:hover,
.alert-box .close:focus {
	opacity:0.5;
}

.alert-box ul {
	margin:0;
	line-height:1.4;
}

.alert-box li {
	font-size:1em;
	list-style:none;
}

.alert-box.with-icon {
	padding-left:3.75em;
	background-repeat:no-repeat;
	background-position:left top;
}

.alert-box.success {
	background-color:#e0f2db;
	border-color:#c0e4b6;
	color:black;
}

.alert-box.alert {
	background-color:#ffe6b2;
	border-color:#ffd57f;
	color:black;
	border-color:#fc621f;
}

.alert-box.alert.with-icon {
	background-image:url('../img/new/_elements/icons/box/warning.png?1377677673');
	min-height:36px;
}

.alert-box.issue {
	background-color:#fdf2e5;
	border-color:#f9dab6;
	color:black;
}

.alert-box.issue.with-icon {
	background-image:url('../img/new/_elements/icons/box/issue.png?1377677673');
	min-height:36px;
}

.alert-box.secondary {
	background-color:#e9e9e9;
	border-color:#d0d0d0;
	color:black;
}

.box {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	margin:1.25em 0;
}

.box.content {
	background:#dae6f1;
}

.box.event {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	background:#fafafa;
	padding:0.3125em 0.3125em 0.625em 0.3125em;
	border-width:0 5px 5px;
	border-style:solid;
	margin:0;
}

.hide-text,
.header .logo,
[class*="icon-"] {
	background-color:transparent;
	border:0;
	color:transparent;
	font:0/0 a;
	text-shadow:none;
}

.hide-offscreen {
	left:-9999px;
	overflow:hidden;
	position:absolute;
	top:-9999px;
}

[class*="icon-"] {
	display:inline-block;
	vertical-align:middle;
}

[class*="icon-alert"] {
	background:url('../img/new/sprites/_elements/icons/alerts-sd10243233c.png') no-repeat;
	width:17px;
	height:17px;
}

.icon-alert-booked_user {
	background-position:0 -68px;
}

.icon-alert-comment {
	background-position:0 -204px;
}

.icon-alert-confirmed {
	background-position:0 -17px;
}

.icon-alert-consultant {
	background-position:0 -187px;
}

.icon-alert-female {
	background-position:0 -51px;
}

.icon-alert-female_trans {
	background-position:0 -136px;
}

.icon-alert-help {
	background-position:0 0;
}

.icon-alert-images {
	background-position:0 -119px;
}

.icon-alert-male {
	background-position:0 -34px;
}

.icon-alert-male_trans {
	background-position:0 -153px;
}

.icon-alert-overnight {
	background-position:0 -170px;
}

.icon-alert-unconfirmed {
	background-position:0 -102px;
}

.icon-alert-warning {
	background-position:0 -85px;
}

[class*="icon-button-large"] {
	background:url('../img/new/sprites/_elements/btns/large-s4cdcd4dc53.png') no-repeat;
	width:34px;
	height:32px;
}

.icon-button-large-cross-sign {
	background-position:0 0;
}

.icon-button-large-left-arrow {
	background-position:0 -32px;
}

.icon-button-large-right-arrow {
	background-position:0 -64px;
}

[class*="icon-button-small"] {
	background:url('../img/new/sprites/_elements/btns/small-s3491f468e9.png') no-repeat;
	width:24px;
	height:24px;
}

.icon-button-small-mini-cross {
	background-position:0 -24px;
}

.icon-button-small-plus-sign {
	background-position:0 -48px;
}

.icon-button-small-search {
	background-position:0 0;
}

[class*="icon-showhide"] {
	background:url('../img/new/sprites/_elements/icons/showhide-sc2d65433c5.png') no-repeat;
	width:11px;
	height:11px;
}

.icon-showhide-hide-hover {
	background-position:0 -11px;
}

.icon-showhide-hide {
	background-position:0 -33px;
}

.icon-showhide-show-hover {
	background-position:0 -22px;
}

.icon-showhide-show {
	background-position:0 0;
}

.panel {
	border-style:solid;
	border-width:1px;
	border-color:#d9d9d9;
	margin-bottom:1.25em;
	padding:0.625em;
	background:#f2f2f2;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-top:0;
}

.panel > :first-child {
	margin-top:0;
}

.panel > :last-child {
	margin-bottom:0;
}

.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6,
.panel p {
	color:#333333;
}

.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
	line-height:1;
	margin-bottom:0.625em;
}

.panel h1.subheader,
.panel h2.subheader,
.panel h3.subheader,
.panel h4.subheader,
.panel h5.subheader,
.panel h6.subheader {
	line-height:1.4;
}

.panel.user {
	border-style:solid;
	border-width:1px;
	border-color:#b5cde3;
	margin-bottom:1.25em;
	padding:0 0.625em 0.3125em 0.625em;
	background:#dae6f1;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-image:url('../img/new/_elements/icons/user/idcard_bg.png?1377677673');
	background-repeat:no-repeat;
	background-position:left bottom;
	margin:0;
}

.panel.user > :first-child {
	margin-top:0;
}

.panel.user > :last-child {
	margin-bottom:0;
}

.panel.user h1,
.panel.user h2,
.panel.user h3,
.panel.user h4,
.panel.user h5,
.panel.user h6,
.panel.user p {
	color:#333333;
}

.panel.user h1,
.panel.user h2,
.panel.user h3,
.panel.user h4,
.panel.user h5,
.panel.user h6 {
	line-height:1;
	margin-bottom:0.625em;
}

.panel.user h1.subheader,
.panel.user h2.subheader,
.panel.user h3.subheader,
.panel.user h4.subheader,
.panel.user h5.subheader,
.panel.user h6.subheader {
	line-height:1.4;
}

.panel.user .user-id,
.panel.user .user-firm {
	font-size:0.8125em;
	min-height:1.625em;
}

.panel.user .row {
	clear:both;
}

.panel.patient {
	border-style:solid;
	border-width:1px;
	border-color:#d9d9d9;
	margin-bottom:1.25em;
	padding:0.5625em 0.625em;
	background:#f2f2f2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background:url('../img/new/_elements/icons/patient/patient-id_small.png?1377677673'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff2d8), color-stop(100%, #ffe6b3));
	background:url('../img/new/_elements/icons/patient/patient-id_small.png?1377677673'), -webkit-linear-gradient(top, #fff2d8 0%, #ffe6b3 100%);
	background:url('../img/new/_elements/icons/patient/patient-id_small.png?1377677673'), -moz-linear-gradient(top, #fff2d8 0%, #ffe6b3 100%);
	background:url('../img/new/_elements/icons/patient/patient-id_small.png?1377677673'), -o-linear-gradient(top, #fff2d8 0%, #ffe6b3 100%);
	background:url('../img/new/_elements/icons/patient/patient-id_small.png?1377677673'), linear-gradient(top, #fff2d8 0%, #ffe6b3 100%);
	background-repeat:no-repeat, no-repeat;
	background-position:98% 2px, top;
	border-color:#ffb212;
	border-style:solid;
	border-width:2px;
}

.panel.patient > :first-child {
	margin-top:0;
}

.panel.patient > :last-child {
	margin-bottom:0;
}

.panel.patient h1,
.panel.patient h2,
.panel.patient h3,
.panel.patient h4,
.panel.patient h5,
.panel.patient h6,
.panel.patient p {
	color:#333333;
}

.panel.patient h1,
.panel.patient h2,
.panel.patient h3,
.panel.patient h4,
.panel.patient h5,
.panel.patient h6 {
	line-height:1;
	margin-bottom:0.625em;
}

.panel.patient h1.subheader,
.panel.patient h2.subheader,
.panel.patient h3.subheader,
.panel.patient h4.subheader,
.panel.patient h5.subheader,
.panel.patient h6.subheader {
	line-height:1.4;
}

.panel.patient .patient-details {
	padding-bottom:0.25em;
}

.panel.patient .patient-details a {
	color:black;
}

.panel.patient .patient-surname {
	font-size:0.875em;
	font-weight:bold;
	text-transform:uppercase;
}

.panel.patient .patient-name {
	font-size:0.8125em;
}

.panel.patient .hospital-number,
.panel.patient .nhs-number,
.panel.patient .patient-summary-anchor {
	font-size:0.75em;
}

.panel.patient .nhs-number {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	background-color:#107ebd;
	background-image:url('../img/new/_elements/icons/nhs_tiny.png?1377677673');
	background-position:center left;
	background-repeat:no-repeat;
	color:white;
	display:inline-block;
	padding:0.125em 0.25em 0.125em 33px;
}

.panel.search-examples {
	font-size:0.8125em;
}

.panel.search {
	padding:0.9375em 0;
}

.panel.search input {
	margin:0;
}

.panel.actions {
	border:0;
	margin:0 0 0.625em 0;
	padding:0;
}

.panel.actions button,
.panel.actions .button {
	margin:0.25em 0.625em 0.375em 0;
	vertical-align:middle;
}

.panel.actions button:last-child,
.panel.actions .button:last-child {
	margin-right:0;
}

.panel.actions input,
.panel.actions select,
.panel.actions label {
	display:inline-block;
	margin:0;
}

.panel.actions .label {
	display:inline-block;
	font-size:0.8125em;
	font-weight:bold;
	padding:0.625em 0;
}

.panel.actions .panel-latest-letter {
	width:7.5em;
}

.panel.actions .button-bar {
	float:right;
}

.panel.orange {
	background-color:goldenrod;
	border:0;
	display:inline-block;
	margin-bottom:0;
	margin-right:0.3125em;
	padding:0.3125em 0.625em;
	vertical-align:top;
}

.panel.orange label {
	font-weight:normal;
}

.panel.comments {
	background:#fff0a0;
	border:1px solid #fee54f;
	min-height:5em;
	margin:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
}

.theatres-list .panel.comments {
	margin-left:-0.75em;
}

.panel.comments h4 {
	color:#998a30;
	font-size:0.75em;
	font-style:italic;
}

.panel.specialty {
	background:transparent;
	border:0;
	margin:0.3125em 0 0 0;
	padding:0 0 0.125em 0;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	border-bottom-left-radius:0;
}

.panel.specialty .specialty-title {
	-webkit-border-radius:0 5px 0 0;
	-moz-border-radius:0 5px 0 0;
	-ms-border-radius:0 5px 0 0;
	-o-border-radius:0 5px 0 0;
	border-radius:0 5px 0 0;
	background:#eaddaf;
	color:#504c3c;
	font-size:0.6875em;
	margin:0;
	padding:0.5em 0.25em 0.75em 0.5em;
}

.panel.episode {
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	border-bottom-left-radius:0;
	border-color:#dad3ba;
	border-width:3px 1px 3px 0;
	margin:0 0 0.3125em 0;
	padding:0.3125em 0.0625em 0.3125em 0;
	position:relative;
}

.panel.episode .toggle-events-trigger {
	display:block;
	height:20px;
	position:absolute;
	right:2px;
	top:0;
	width:21px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-ms-border-radius:0 0 3px 3px;
	-o-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
}

.panel.episode .toggle-events-trigger .icon-showhide {
	margin:4px 0 0 5px;
	vertical-align:top;
}

.panel.episode .toggle-events-trigger:hover {
	background:#3665ff;
}

.panel.episode .toggle-events-trigger.hide .icon-showhide {
	background-position:0 -33px;
}

.panel.episode .toggle-events-trigger.hide:hover .icon-showhide {
	background-position:0 -11px;
}

.panel.episode .toggle-events-trigger.show .icon-showhide {
	background-position:0 0;
}

.panel.episode .toggle-events-trigger.show:hover .icon-showhide {
	background-position:0 -22px;
}

.panel.episode .episode-date {
	font-size:0.6875em;
	padding-left:0.4375em;
}

.panel.episode .episode-title {
	font-size:0.9375em;
	margin:0.3125em 0.125em 0.1875em 0;
}

.panel.episode .episode-title a {
	background:url('../img/new/_elements/graphic/view-episode-summary.png?1377677673') right bottom no-repeat;
	color:black;
	display:block;
	padding:0.3125em 0 1.0625em 0.4375em;
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-ms-border-radius:0 3px 3px 0;
	-o-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}

.panel.episode .episode-title a:hover {
	color:white;
	background-color:#3665ff;
	background-image:url('../img/new/_elements/icons/event/event_open_arrow.png?1377677673');
}

.panel.episode .add-event {
	margin-left:0.125em;
}

.panel.episode .events-overview {
	margin:0;
	padding:0.125em 0.3125em 0.125em 0.5em;
	display:none;
}

.panel.episode .events-overview li {
	list-style:none;
	font-size:1em;
}

.panel.episode .events-overview li img {
	width:12px;
	height:12px;
}

.panel.episode.hide-events .events-overview {
	display:block;
}

.panel.episode.hide-events .events-container {
	display:none;
}

.panel.episode .events {
	padding:0.25em 0 0 0;
	margin:0.3125em 0 0 0;
	border-top:1px dotted #cccccc;
}

.panel.episode .events li {
	list-style:none;
	font-size:1em;
	margin:0 0 0.25em 0;
}

.panel.episode .events a {
	display:block;
	padding:0 0.625em 0 0.5em;
	font-size:0.8125em;
	-webkit-border-radius:0 6px 6px 0;
	-moz-border-radius:0 6px 6px 0;
	-ms-border-radius:0 6px 6px 0;
	-o-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0;
}

.panel.episode .events a:hover {
	background:#3665ff url('../img/new/_elements/icons/event/event_open_arrow.png?1377677673') right center no-repeat;
	color:white;
}

.panel.episode .events .event-type {
	width:35px;
	display:inline-block;
}

.panel.episode .events .event-type.alert {
	background:url('../img/new/_elements/icons/event/status/alert.png?1377677673') right top no-repeat;
}

.panel.episode .events .event-type.alert:hover {
	background-image:url('../img/new/_elements/icons/event/status/alert-hover.png?1377677673');
}

.panel.episode .events .event-date {
	display:inline-block;
	padding-left:1.625em;
}

.panel.episode .events li.selected a {
	background:#aaaaaa url('../img/new/_elements/icons/event/event_open_arrow.png?1377677673') right center no-repeat;
	color:white;
}

.panel.episode .events li.selected .event-type.alert {
	background-image:url('../img/new/_elements/icons/event/status/alert-hover.png?1377677673');
}

.panel.element-field {
	background:#fff;
}

.search-filters .panel {
	margin:0 0 0.625em 0;
}

.search-filters-extra {
	padding:0.125em 0 0 1px;
}

.search-filters-extra label {
	float:left;
	font-size:0.8125em;
	height:30px;
	line-height:28px;
	margin:0 0.75em 0 0;
	padding:0 0.625em 0 0.5em;
}

.search-filters-extra label input {
	margin:0 0.3125em 0 0;
}

.search-filters-extra fieldset {
	border:0;
	float:left;
	height:30px;
	line-height:28px;
	margin:0;
	padding:0 0.625em 0 0.5em;
}

.search-filters-extra fieldset input[type="text"] {
	display:inline-block;
	vertical-align:top;
	margin:0.25em 0 0 0;
}

.search-filters-extra fieldset label {
	padding:0;
}

.search-filters-extra fieldset .to {
	display:inline-block;
	font-size:0.8125em;
	vertical-align:top;
}

.search-filters-extra .button-group {
	display:inline-block;
	vertical-align:top;
	margin-top:0.125em;
}

.tabs {
	margin:0;
}

.tabs.event-actions {
	float:left;
}

.tabs.event-actions li {
	margin:0 4px 0 0;
}

.tabs.event-actions li.selected a {
	background:#a29d8a;
	color:#fff;
}

.tabs.event-actions a {
	background:#fffee7;
	padding:5px 10px 3px 10px;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-ms-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}

.tabs.event-actions a:hover {
	background:#3665ff;
	color:#fff;
}

.sidebar.episodes-and-events {
	padding:0.3125em 0 0 0;
}

.sidebar.episodes-and-events .add-episode {
	margin-left:2px;
}

.event.content {
	background-position:right top;
	background-repeat:no-repeat;
}

.event.view .panel.comments {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

.event .event-title {
	padding:9px 0 9px 50px;
	font-size:1.1875em;
	background-repeat:no-repeat;
	background-position:left center;
}

.event .metadata {
	border-top:1px dotted #dae6f1;
	padding-top:0.5em;
	margin:10px;
}

.event .metadata .info {
	font-size:0.75em;
	font-style:italic;
	color:#888888;
	display:inline-block;
	padding-right:15px;
}

.event .metadata .user {
	color:#333333;
}

.element,
.edit .optional-elements {
	position:relative;
}

.element canvas,
.edit .optional-elements canvas,
.element .canvas,
.edit .optional-elements .canvas {
	border:1px solid #ccc;
	margin:0;
}

.element .element-eyes,
.edit .optional-elements .element-eyes,
.element .sub-element-eyes,
.edit .optional-elements .sub-element-eyes {
	padding:0;
	margin:0;
}

.element-title,
.edit .optional-elements h3 {
	color:#56a7f1;
	font-size:0.8125em;
	padding:8px 10px;
	margin:0;
}

.element-data > .element-value:last-child,
.edit .element-fields > .element-value:last-child,
.sub-element-data > .element-value:last-child,
.edit .sub-element-fields > .element-value:last-child,
.element-data > .element-label:last-child,
.edit .element-fields > .element-label:last-child,
.sub-element-data > .element-label:last-child,
.edit .sub-element-fields > .element-label:last-child {
	padding-bottom:0;
}

.element-eye {
	border-right:1px solid #fafafa;
}

.element-eye:last-child {
	border:0;
}

.element-value,
.element-label {
	font-size:0.8125em;
	line-height:1.3;
	padding-bottom:5px;
}

.element-highlight {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background:white;
	padding:10px;
	font-size:1.125em;
	margin:0;
	list-style-type:none;
}

.element-highlight li {
	font-size:1em;
}

.element-highlight.important {
	background:#fff300;
}

.element-data-row .element-label,
.element-data-row .element-value,
.element-data-row .element-label {
	padding:0.5625em 0;
}

.element-table {
	margin:0;
}

.element-table,
.element-table th {
	background:#c9ddef;
}

.element-table th[scope="row"],
.element-table td:first-child {
	position:relative;
	width:33.33333%;
	font-size:0.8125em;
	font-weight:normal;
}

.element-table tr {
	border:1px solid #dae6f1;
}

.element-table tr:nth-of-type(even) {
	background:#c9ddef;
}

.edit .element,
.edit .optional-elements {
	border-top:2px dotted #8c949c;
}

.edit .element select,
.edit .optional-elements select {
	width:auto;
	font-size:0.8125em;
}

.edit .element textarea,
.edit .optional-elements textarea {
	min-height:1em;
}

.edit .element-title,
.edit .optional-elements h3 {
	font-style:italic;
}

.edit .element-fields .field-row:last-child {
	padding:0;
}

.edit .add-side {
	font-size:0.8125em;
	text-align:center;
	padding:0.75em;
}

.edit .icon-remove-side {
	background:url('../img/new/_elements/icons/event-optional/element-remove.png?1377677673') no-repeat -10px -2px;
	height:16px;
	position:absolute;
	right:5px;
	top:5px;
	width:16px;
}

.edit .icon-add-side {
	background:url('../img/new/_elements/icons/event-optional/element-view.png?1377677673') no-repeat -10px -2px;
	width:16px;
	height:16px;
}

.edit .element-actions,
.edit .sub-element-actions,
.edit .optional-elements-actions {
	float:right;
	padding:6px 10px;
}

.edit .element-action {
	font-size:0.8125em;
}

.sub-elements {
	padding-top:0;
}

.sub-elements.inactive {
	padding:0;
	margin-bottom:10px;
}

.sub-element {
	border:1px solid #fafafa;
	margin-bottom:0.625em;
}

.sub-element:last-child {
	margin-bottom:0;
}

.sub-element .sub-element-title {
	background:#fafafa;
	font-style:normal;
	color:#666;
	font-size:0.8125em;
	padding:0.375em 0.625em;
	margin:0;
}

.edit .sub-element-actions {
	padding:0.0625em 0.125em 0 0;
}

.edit .optional-elements h3 {
	padding:6px 10px;
	background:#dae6f1;
}

.edit .optional-elements-actions {
	padding-right:0;
}

.edit .optional-elements-actions a {
	font-size:0.8125em;
	margin-right:0.625em;
	overflow:hidden;
}

.edit .optional-elements-actions a:last-child {
	margin:0;
}

.edit .optional-elements-actions a span {
	display:inline-block;
	padding:0.1875em 0 0 0;
}

.edit .optional-elements-actions a img {
	margin-left:-0.3125em;
	margin-top:-0.25em;
}

.edit .optional-elements-list {
	list-style-type:none;
	margin:0;
}

.edit .optional-elements-list li {
	line-height:1em;
}

.edit .optional-elements-list li:last-child {
	border:0;
}

.edit .optional-elements-list li.clicked a,
.edit .optional-elements-list li.clicked a:hover {
	background:#dddddd url(../img/ajax-loader.gif) no-repeat 99.5% 2px;
	color:#333;
}

.edit .optional-elements-list li a {
	background:#8c949c url('../img/new/_elements/icons/event-optional/element-view.png?1377677673') no-repeat right top;
	border-bottom:1px dotted #fafafa;
	color:#fff;
	display:block;
	font-weight:bold;
	padding:5px 5px 5px 10px;
}

.edit .optional-elements-list li a:hover {
	background-color:#3665ff;
}

.pill {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	padding:3px 5px;
	font-size:0.8125em;
	margin:2px;
}

.pill.high {
	background:#f00;
	color:#fff;
}

.pill.moderate {
	background:#fc0;
}

.pill.low {
	background:#9c0;
}

.clearfix,
.element-data,
.edit .element-fields,
.sub-element-data,
.edit .sub-element-fields,
.element-eye,
.sub-elements,
.event-header,
.footer,
.panel.user,
.edit .element-header,
.edit .sub-element-header {
	*zoom:1;
}

.clearfix:before,
.element-data:before,
.edit .element-fields:before,
.sub-element-data:before,
.edit .sub-element-fields:before,
.element-eye:before,
.sub-elements:before,
.event-header:before,
.footer:before,
.panel.user:before,
.edit .element-header:before,
.edit .sub-element-header:before,
.clearfix:after,
.element-data:after,
.edit .element-fields:after,
.sub-element-data:after,
.edit .sub-element-fields:after,
.element-eye:after,
.sub-elements:after,
.event-header:after,
.footer:after,
.panel.user:after,
.edit .element-header:after,
.edit .sub-element-header:after {
	content:" ";
	display:table;
}

.clearfix:after,
.element-data:after,
.edit .element-fields:after,
.sub-element-data:after,
.edit .sub-element-fields:after,
.element-eye:after,
.sub-elements:after,
.event-header:after,
.footer:after,
.panel.user:after,
.edit .element-header:after,
.edit .sub-element-header:after {
	clear:both;
}

@media only screen {

.column,
.columns {
	position:relative;
	padding-left:0.75em;
	padding-right:0.75em;
	float:left;
}

.small-1 {
	position:relative;
	width:8.33333%;
}

.small-2 {
	position:relative;
	width:16.66667%;
}

.small-3 {
	position:relative;
	width:25%;
}

.small-4 {
	position:relative;
	width:33.33333%;
}

.small-5 {
	position:relative;
	width:41.66667%;
}

.small-6 {
	position:relative;
	width:50%;
}

.small-7 {
	position:relative;
	width:58.33333%;
}

.small-8 {
	position:relative;
	width:66.66667%;
}

.small-9 {
	position:relative;
	width:75%;
}

.small-10 {
	position:relative;
	width:83.33333%;
}

.small-11 {
	position:relative;
	width:91.66667%;
}

.small-12 {
	position:relative;
	width:100%;
}

.small-offset-0 {
	position:relative;
	margin-left:0%;
}

.small-offset-1 {
	position:relative;
	margin-left:8.33333%;
}

.small-offset-2 {
	position:relative;
	margin-left:16.66667%;
}

.small-offset-3 {
	position:relative;
	margin-left:25%;
}

.small-offset-4 {
	position:relative;
	margin-left:33.33333%;
}

.small-offset-5 {
	position:relative;
	margin-left:41.66667%;
}

.small-offset-6 {
	position:relative;
	margin-left:50%;
}

.small-offset-7 {
	position:relative;
	margin-left:58.33333%;
}

.small-offset-8 {
	position:relative;
	margin-left:66.66667%;
}

.small-offset-9 {
	position:relative;
	margin-left:75%;
}

.small-offset-10 {
	position:relative;
	margin-left:83.33333%;
}

[class*="column"] + [class*="column"]:last-child {
	float:right;
}

[class*="column"] + [class*="column"].end {
	float:left;
}

.column.small-centered,
.columns.small-centered {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	float:none !important;
}

}

@media only screen and (min-width: 768px) {

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height:1.4;
}

h1 {
	font-size:1.5em;
}

h2 {
	font-size:1.1875em;
}

h3 {
	font-size:1.0625em;
}

h4 {
	font-size:1em;
}

h1.badge {
	margin-bottom:0;
}

.large-1 {
	position:relative;
	width:8.33333%;
}

.large-2 {
	position:relative;
	width:16.66667%;
}

.large-3,
.eyedraw-image.small {
	position:relative;
	width:25%;
}

.large-4,
.edit .eyedraw-image.small {
	position:relative;
	width:33.33333%;
}

.large-5,
.eyedraw-image.large {
	position:relative;
	width:41.66667%;
}

.large-6,
.element-eye.left-eye,
.element-eye.right-eye {
	position:relative;
	width:50%;
}

.large-7,
.eyedraw-value.large {
	position:relative;
	width:58.33333%;
}

.large-8,
.edit .eyedraw-fields.small {
	position:relative;
	width:66.66667%;
}

.large-9,
.eyedraw-value.small {
	position:relative;
	width:75%;
}

.large-10 {
	position:relative;
	width:83.33333%;
}

.large-11 {
	position:relative;
	width:91.66667%;
}

.large-12 {
	position:relative;
	width:100%;
}

.row .large-offset-0 {
	position:relative;
	margin-left:0%;
}

.row .large-offset-1 {
	position:relative;
	margin-left:8.33333%;
}

.row .large-offset-2 {
	position:relative;
	margin-left:16.66667%;
}

.row .large-offset-3 {
	position:relative;
	margin-left:25%;
}

.row .large-offset-4 {
	position:relative;
	margin-left:33.33333%;
}

.row .large-offset-5 {
	position:relative;
	margin-left:41.66667%;
}

.row .large-offset-6 {
	position:relative;
	margin-left:50%;
}

.row .large-offset-7 {
	position:relative;
	margin-left:58.33333%;
}

.row .large-offset-8 {
	position:relative;
	margin-left:66.66667%;
}

.row .large-offset-9 {
	position:relative;
	margin-left:75%;
}

.row .large-offset-10 {
	position:relative;
	margin-left:83.33333%;
}

.row .large-offset-11 {
	position:relative;
	margin-left:91.66667%;
}

.push-1 {
	position:relative;
	left:8.33333%;
	right:auto;
}

.pull-1 {
	position:relative;
	right:8.33333%;
	left:auto;
}

.push-2 {
	position:relative;
	left:16.66667%;
	right:auto;
}

.pull-2 {
	position:relative;
	right:16.66667%;
	left:auto;
}

.push-3 {
	position:relative;
	left:25%;
	right:auto;
}

.pull-3 {
	position:relative;
	right:25%;
	left:auto;
}

.push-4 {
	position:relative;
	left:33.33333%;
	right:auto;
}

.pull-4 {
	position:relative;
	right:33.33333%;
	left:auto;
}

.push-5 {
	position:relative;
	left:41.66667%;
	right:auto;
}

.pull-5 {
	position:relative;
	right:41.66667%;
	left:auto;
}

.push-6 {
	position:relative;
	left:50%;
	right:auto;
}

.pull-6 {
	position:relative;
	right:50%;
	left:auto;
}

.push-7 {
	position:relative;
	left:58.33333%;
	right:auto;
}

.pull-7 {
	position:relative;
	right:58.33333%;
	left:auto;
}

.push-8 {
	position:relative;
	left:66.66667%;
	right:auto;
}

.pull-8 {
	position:relative;
	right:66.66667%;
	left:auto;
}

.push-9 {
	position:relative;
	left:75%;
	right:auto;
}

.pull-9 {
	position:relative;
	right:75%;
	left:auto;
}

.push-10 {
	position:relative;
	left:83.33333%;
	right:auto;
}

.pull-10 {
	position:relative;
	right:83.33333%;
	left:auto;
}

.push-11 {
	position:relative;
	left:91.66667%;
	right:auto;
}

.pull-11 {
	position:relative;
	right:91.66667%;
	left:auto;
}

.column.large-centered,
.columns.large-centered {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	float:none !important;
}

.column.large-uncentered,
.columns.large-uncentered {
	margin-left:0;
	margin-right:0;
	float:left !important;
}

.column.large-uncentered.opposite,
.columns.large-uncentered.opposite {
	float:right !important;
}

.header {
	margin-bottom:0;
}

.footer .help {
	text-align:center;
}

.panel.user {
	border-top:0;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-ms-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}

.panel.patient {
	border-width:0 2px 2px 2px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-ms-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}

}

@media print {

* {
	background:transparent !important;
	color:#000 !important;
	box-shadow:none !important;
	text-shadow:none !important;
}

a,
a:visited {
	text-decoration:underline;
}

a[href]:after {
	content:" (" attr(href) ")";
}

abbr[title]:after {
	content:" (" attr(title) ")";
}

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content:"";
}

pre,
blockquote {
	border:1px solid #999;
	page-break-inside:avoid;
}

thead {
	display:table-header-group;
}

tr,
img {
	page-break-inside:avoid;
}

img {
	max-width:100% !important;
}

p,
h2,
h3 {
	orphans:3;
	widows:3;
}

h2,
h3 {
	page-break-after:avoid;
}

.hide-on-print {
	display:none !important;
}

.print-only {
	display:block !important;
}

.hide-for-print {
	display:none !important;
}

.show-for-print {
	display:inherit !important;
}

}

