// ============================================
// Foundation Variables
// Note: for reference, default values are set in foundation/_global.scss
// ============================================

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$base-font-size: 100%;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 150%;

// This is the default html and body font-size for the base em value.

// Change whether or not you include browser prefixes
$experimental: true;

// Various global styles

$default-float: left;

$body-bg: #d4d1cd;
$body-font-color: #222222;
$body-font-family: Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// Font-smoothing

$font-smoothing: antialiased;

// Text direction settings

$text-direction: ltr;

// Colors

$primary-color: #0b59da;
$secondary-color: #e9e9e9;
$alert-color: red;
$success-color: #e0f2db;

// Make sure border radius matches unless we want it different.

$global-radius: 5px;
$global-rounded: 1000px;

// Control whether or not CSS classes come through in the CSS files.

$include-html-classes: false;
$include-print-styles: true;
$include-html-global-classes: true;
$include-html-inline-list-classes: false;
$include-html-type-classes: true;
$include-html-grid-classes: false;
$include-html-visibility-classes: false;
$include-html-button-classes: false;
$include-html-form-classes: false;
$include-html-custom-form-classes: false;
$include-html-media-classes: false;
$include-html-section-classes: false;
$include-html-orbit-classes: false;
$include-html-reveal-classes: false;
$include-html-joyride-classes: false;
$include-html-clearing-classes: false;
$include-html-alert-classes: false;
$include-html-nav-classes: false;
$include-html-top-bar-classes: false;
$include-html-label-classes: false;
$include-html-panel-classes: false;
$include-html-pricing-classes: false;
$include-html-progress-classes: false;
$include-html-magellan-classes: false;
$include-html-tooltip-classes: false;
$include-html-table-classes: false;

// Media Queries

$small-screen: 768px;
$medium-screen: 1230px;
$large-screen: 1440px;

//
// Grid Variables
//

$row-width: emCalc($medium-screen);
$column-gutter: emCalc(24px);
$total-columns: 12;

//
// Typography Variables
//

$default-font-size: emCalc(13px);

//
// Typography Variables
//

// Heading font styles

$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: normal;
$header-font-style: normal;
$header-font-color: #333333;
$header-line-height: 1.4;
$header-top-margin: 0.2em;
$header-bottom-margin: 0.5em;
$header-text-rendering: optimizeLegibility;

// Heading font sizes

$h1-font-size: emCalc(24px);
$h2-font-size: emCalc(19px);
$h3-font-size: emCalc(17px);
$h4-font-size: emCalc(16px);
$h5-font-size: emCalc(15px);
$h6-font-size: 1em;

// These control how subheaders are styled.
$subheader-line-height: 1.4;
$subheader-font-color: lighten($header-font-color, 30%);
$subheader-font-weight: 300;
$subheader-top-margin: 0.2em;
$subheader-bottom-margin: 0.5em;

// A general <small> styling
$small-font-size: 60%;
$small-font-color: lighten($header-font-color, 30%);

// We use these to style paragraphs
$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: $default-font-size;
$paragraph-line-height: 1.2;
$paragraph-margin-bottom: emCalc(20px);
$paragraph-aside-font-size: emCalc(14px);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

// We use these to style <code> tags
$code-color: darken($alert-color, 15%);
$code-font-family: Consolas, "Liberation Mono", Courier, monospace;
$code-font-weight: bold;

// We use these to style anchors
$anchor-text-decoration: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: darken($primary-color, 5%);

// We use these to style the <hr> element
$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: #dddddd;
$hr-margin: emCalc(20px);

// We use these to style lists
$list-style-position: outside;
$list-side-margin: 0;
$list-nested-margin: emCalc(20px);
$definition-list-header-weight: bold;
$definition-list-header-margin-bottom: 0.3em;
$definition-list-margin-bottom: emCalc(12px);

// We use these to style blockquotes
$blockquote-font-color: lighten($header-font-color, 30%);
$blockquote-padding: emCalc(9px) emCalc(20px) 0 emCalc(19px);
$blockquote-border: 1px solid #dddddd;
$blockquote-cite-font-size: emCalc(13px);
$blockquote-cite-font-color: lighten($header-font-color, 20%);
$blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles
$acronym-underline: 1px dotted #dddddd;

// We use these to control padding and margin
$microformat-padding: emCalc(10px) emCalc(12px);
$microformat-margin: 0 0 emCalc(20px) 0;

// We use these to control the border styles
$microformat-border-width: 1px;
$microformat-border-style: solid;
$microformat-border-color: #dddddd;

// We use these to control full name font styles
$microformat-fullname-font-weight: bold;
$microformat-fullname-font-size: emCalc(15px);

// We use this to control the summary font styles
$microformat-summary-font-weight: bold;

// We use this to control abbr padding
$microformat-abbr-padding: 0 emCalc(1px);

// We use this to control abbr font styles
$microformat-abbr-font-weight: bold;
$microformat-abbr-font-decoration: none;

//
// Button Variables
//
// We use these to build padding for buttons.
$button-med: emCalc(8px);
$button-tny: emCalc(7px);
$button-sml: emCalc(9px);
$button-lrg: emCalc(16px);

// We use this to control the display property.
$button-display: inline-block;
$button-margin-bottom: emCalc(20px);

// We use these to control button text styles.
$button-font-family: inherit;
$button-font-color: white;
$button-font-color-alt: #333333;
$button-font-med: emCalc(16px);
$button-font-tny: emCalc(11px);
$button-font-sml: emCalc(13px);
$button-font-lrg: emCalc(20px);
$button-font-weight: normal;
$button-font-align: center;

// We use these to control various hover effects.
$button-function-factor: 10%;

// We use these to control button border styles.
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: darken($primary-color, $button-function-factor);

// We use this to set the default radius used throughout the core.
$button-radius: 4px;
$button-round: $global-rounded;

// We use this to set default opacity for disabled buttons.
$button-disabled-opacity: 0.6;

//
// Alert Variables
//

// We use this to control alert padding.
$alert-padding-top: emCalc(11px);
$alert-padding-default-float: $alert-padding-top;
$alert-padding-opposite-direction: $alert-padding-top + emCalc(10px);
$alert-padding-bottom: $alert-padding-top + emCalc(1px);

// We use these to control text style.
$alert-font-weight: normal;
$alert-font-size: $default-font-size;
$alert-font-color: black;
$alert-font-color-alt: black;

// We use this for close hover effect.
$alert-function-factor: 10%;

// We use these to control border styles.
$alert-border-style: solid;
$alert-border-width: 1px;
$alert-border-color: #fc621f;
$alert-bottom-margin: emCalc(20px);

// We use these to style the close buttons
$alert-close-color: #333333;
$alert-close-position: emCalc(5px);
$alert-close-font-size: emCalc(22px);
$alert-close-opacity: 0.3;
$alert-close-opacity-hover: 0.5;
$alert-close-padding: 5px 4px 4px;

// We use this to control border radius
$alert-radius: $global-radius;

//
// Panel Variables
//

// We use these to control the background and border styles
$panel-bg: darken(white, 5%);
$panel-border-style: solid;
$panel-border-size: 1px;

// We use this % to control how much we darken things on hover
$panel-function-factor: 10%;
$panel-border-color: darken($panel-bg, $panel-function-factor);

// We use these to set default inner padding and bottom margin
$panel-margin-bottom: emCalc(20px);
$panel-padding: emCalc(10px);

// We use these to set default font colors
$panel-font-color: #333333;
$panel-font-color-alt: white;

$panel-header-adjust: true;

//
// Form Variables
//

// We use this to set the base for lots of form spacing and positioning styles
$form-spacing: emCalc(15px);

// We use these to style the labels in different ways
$form-label-pointer: pointer;
$form-label-font-size: $default-font-size;
$form-label-font-weight: 500;
$form-label-font-color: black;
$form-label-bottom-margin: emCalc(5px);
$input-font-family: inherit;
$input-font-color: rgba(0, 0, 0, 0.75);
$input-font-size: emCalc(13px);
$input-bg-color: white;
$input-focus-bg-color: white;
$input-border-color: #6b8aaa;
$input-focus-border-color: #19a8ea;
$input-border-style: solid;
$input-border-width: 1px;
$input-disabled-bg: #dddddd;
$input-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
$input-include-glowing-effect: true;

// We use these to style the fieldset border and spacing.
$fieldset-border-style: solid;
$fieldset-border-width: 0;
$fieldset-border-color: #dddddd;
$fieldset-padding: 0;
$fieldset-margin: 0;

// We use these to style the legends when you use them
$legend-bg: transparent;
$legend-font-weight: normal;
$legend-padding: 0;
$legend-margin: 0 0 1em 0;

// We use these to style the prefix and postfix input elements
$input-prefix-bg: darken(white, 5%);
$input-prefix-border-color: darken(white, 20%);
$input-prefix-border-size: 1px;
$input-prefix-border-type: solid;
$input-prefix-overflow: hidden;
$input-prefix-font-color: #333333;
$input-prefix-font-color-alt: white;

// We use these to style the error states for inputs and labels
$input-error-message-padding: emCalc(6px) emCalc(4px);
$input-error-message-top: (-1 * $form-spacing) - emCalc(5px);
$input-error-message-font-size: emCalc(12px);
$input-error-message-font-weight: bold;
$input-error-message-font-color: white;
$input-error-message-font-color-alt: #333333;

// We use this to style the glowing effect of inputs when focused
$glowing-effect-fade-time: 0.45s;
$glowing-effect-color: $input-focus-border-color;

//
// Table Variables
//

// These control the background color for the table and even rows
$table-bg: #edf4f9;
$table-even-row-bg: #e1eef9;

// These control the table cell border style
$table-border-style: solid;
$table-border-size: 1px;
$table-border-color: #dddddd;

// These control the table head styles
$table-head-bg: whitesmoke;
$table-head-font-size: emCalc(11px);
$table-head-font-color: #444444;
$table-head-font-weight: bold;
$table-head-padding: 8px 10px;

// These control the row padding and font styles
$table-row-padding: 10px;
$table-row-font-size: emCalc(14px);
$table-row-font-color: #222222;
$table-line-height: emCalc(18px);

// These are for controlling the display and margin of tables
$table-display: table-cell;
$table-margin-bottom: emCalc(10px);

//
// Pagination
//

// We use these to control the pagination container
$pagination-height: emCalc(24px);
$pagination-margin: emCalc(-5px);

// We use these to set the list-item properties
$pagination-li-float: $default-float;
$pagination-li-height: emCalc(24px);
$pagination-li-font-color: #222;
$pagination-li-font-size: emCalc(14px);
$pagination-li-margin: emCalc(5px);

// We use these for the pagination anchor links
$pagination-link-pad: 0 emCalc(10px) 0 emCalc(10px);
$pagination-link-font-color: $primary-color;
$pagination-link-active-bg: none;

// We use these for disabled anchor links
$pagination-link-unavailable-cursor: default;
$pagination-link-unavailable-font-color: #999;
$pagination-link-unavailable-bg-active: none;

// We use these for currently selected anchor links
$pagination-link-current-background: #0b59da;
$pagination-link-current-font-color: #fff;
$pagination-link-current-font-weight: bold;
$pagination-link-current-cursor: default;
$pagination-link-current-active-bg: #0b59da;

// ============================================
// OpenEyes default theme variables
// ============================================

// Compass vars
$experimental-support-for-svg: false;

// Change to true if we want background gradient support in IE9
$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$support-for-original-webkit-gradients: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;
$ico-sprite-dimensions: true;

// Sprite paths
$oe-sprite-icons-alerts: "_elements/icons/alerts/*.png";
$oe-sprite-icons-button-large: "_elements/btns/large/*.png";
$oe-sprite-icons-button-small: "_elements/btns/small/*.png";
$oe-sprite-icon-showhide: "_elements/icons/showhide/*.png";
$oe-sprite-icon-patient: "_elements/icons/patient/*.png";
$oe-sprite-icon-user-panel: "_user-panel/*.png";

// Button sizes
$oe-button-primary-font-size: emCalc(16px);
$oe-button-small-font-size: emCalc(13px);
