// ============================================
// Foundation Variables
// Note: for reference, default values are set in foundation/_global.scss
// ============================================

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$base-font-size: 100% !default;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 150%;

// This is the default html and body font-size for the base em value.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

// Change whether or not you include browser prefixes
$experimental: true;

// Various global styles

$default-float: left;

$body-bg: #d4d1cd;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// Font-smoothing

$font-smoothing: antialiased;

// Text direction settings

$text-direction: ltr;

// Colors

$primary-color: #0b59da;
$secondary-color: #e9e9e9;
$alert-color: red;
$success-color: #e0f2db;

// Make sure border radius matches unless we want it different.

$global-radius: 5px;
$global-rounded: 1000px;

// Control whether or not CSS classes come through in the CSS files.

$include-html-classes: false;
$include-print-styles: true;
$include-html-global-classes: true;
$include-html-inline-list-classes: false;
$include-html-type-classes: true;
$include-html-grid-classes: true;
$include-html-visibility-classes: false;
$include-html-button-classes: false;
$include-html-form-classes: true;
$include-html-custom-form-classes: false;
$include-html-media-classes: false;
$include-html-section-classes: false;
$include-html-orbit-classes: false;
$include-html-reveal-classes: false;
$include-html-joyride-classes: false;
$include-html-clearing-classes: false;
$include-html-alert-classes: false;
$include-html-nav-classes: false;
$include-html-top-bar-classes: false;
$include-html-label-classes: false;
$include-html-panel-classes: false;
$include-html-pricing-classes: false;
$include-html-progress-classes: false;
$include-html-magellan-classes: false;
$include-html-tooltip-classes: false;
$include-html-table-classes: false;

// Media Queries

$small-screen: 768px;
$medium-screen: 1230px;
$large-screen: 1440px;

//
// Grid Variables
//

$row-width: emCalc($medium-screen);
$column-gutter: emCalc(24px);
$total-columns: 12;

//
// Typography Variables
//

// Heading font styles

$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: #333;
$header-line-height: 1.4;
$header-top-margin: .2em;
$header-bottom-margin: .5em;
$header-text-rendering: optimizeLegibility;

// Heading font sizes

$h1-font-size: emCalc(40px);
$h2-font-size: emCalc(33px);
$h3-font-size: emCalc(23px);
$h4-font-size: emCalc(19px);
$h5-font-size: emCalc(15px);
$h6-font-size: 1em;

//
// Button Variables
//
// We use these to build padding for buttons.
$button-med: emCalc(8px);
$button-tny: emCalc(7px);
$button-sml: emCalc(9px);
$button-lrg: emCalc(16px);

// We use this to control the display property.
$button-display: inline-block;
$button-margin-bottom: emCalc(20px);

// We use these to control button text styles.
$button-font-family: inherit;
$button-font-color: #fff;
$button-font-color-alt: #333;
$button-font-med: emCalc(16px);
$button-font-tny: emCalc(11px);
$button-font-sml: emCalc(13px);
$button-font-lrg: emCalc(20px);
$button-font-weight: normal;
$button-font-align: center;

// We use these to control various hover effects.
$button-function-factor: 10%;

// We use these to control button border styles.
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: darken($primary-color, $button-function-factor);

// We use this to set the default radius used throughout the core.
$button-radius: 4px;
$button-round: $global-rounded;

// We use this to set default opacity for disabled buttons.
$button-disabled-opacity: 0.6;

//
// Alert Variables
//

// We use this to control alert padding.
$alert-padding-top: emCalc(11px);
$alert-padding-default-float: $alert-padding-top;
$alert-padding-opposite-direction: $alert-padding-top + emCalc(10px);
$alert-padding-bottom: $alert-padding-top + emCalc(1px);

// We use these to control text style.
$alert-font-weight: normal;
$alert-font-size: emCalc(14px);
$alert-font-color: #000;
$alert-font-color-alt: #000;

// We use this for close hover effect.
$alert-function-factor: 10%;

// We use these to control border styles.
$alert-border-style: solid;
$alert-border-width: 1px;
$alert-border-color: #fc621f;
$alert-bottom-margin: emCalc(20px);

// We use these to style the close buttons
$alert-close-color: #333;
$alert-close-position: emCalc(5px);
$alert-close-font-size: emCalc(22px);
$alert-close-opacity: 0.3;
$alert-close-opacity-hover: 0.5;
$alert-close-padding: 5px 4px 4px;

// We use this to control border radius
$alert-radius: $global-radius;


// ============================================
// OpenEyes default theme variables
// ============================================

// Compass vars
$experimental-support-for-svg: false; // Change to true if we want background gradient support in IE9
$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$support-for-original-webkit-gradients: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;
$ico-sprite-dimensions: true;

// TODO: import all the default variables from the OpenEyes components into there once
// the stylesheet is stable.