// Default event element container
//
// Styleguide 19.1

%element-panel {
	padding: 10px;
	margin: 0;
	background: #dae6f1;
}

@import "element/view";
@import "element/edit";
@import "sub-element/view";
@import "sub-element/edit";
@import "eyedraw/view";
@import "eyedraw/edit";