// Element vars
$oe-element-border-top: 1px dotted #97c6f1 !default;
$oe-element-title-color: #56a7f1 !default;
$oe-element-title-font-style: italic !default;
$oe-element-title-font-size: $default-font-size !default;
$oe-element-title-padding: 8px 10px !default;
$oe-element-title-margin: 0 !default;
$oe-element-h4-font-size: $default-font-size !default;
$oe-element-fieldset-panel-border-color: #d9d9d9 !default;

$oe-element-value-padding-bottom: 5px !default;
$oe-element-value-font-size: $default-font-size !default;
$oe-element-value-line-height: 1.3 !default;

$oe-element-eye-border-color: #fafafa !default;

$oe-element-highlight-border-radius: 5px !default;
$oe-element-highlight-bg-color: white !default;
$oe-element-highlight-padding: 10px !default;
$oe-element-highlight-font-size: emCalc(18px) !default;
$oe-element-highlight-margin: 0 !default;
$oe-element-highlight-list-item-font-size: 1em !default;
$oe-element-highlight-important-bg-color: #fff300 !default;

.element {
	position: relative;
	canvas, .canvas {
		border: 1px solid #ccc;
		margin: 0;
	}
	.element-eyes {
		padding: 0;
		margin: 0;
	}
}

.element-title {
	color: $oe-element-title-color;
	font-size: $oe-element-title-font-size;
	padding: $oe-element-title-padding;
	margin: $oe-element-title-margin;
	float: left;
}

.element-data {
	@extend %element-panel;
	> .element-value:last-child {
		padding-bottom: 0;
	}
}

.element-eye {
	@extend %element-panel;
	border-right: 1px solid $oe-element-eye-border-color;
	&:last-child {
		border: 0;
	}
	&.left-eye, &.right-eye {
		@extend .large-6;
	}
	.column {
		.field-row:last-child {
			padding: 0;
		}
	}
}

.element-value {
	font-size: $oe-element-value-font-size;
	line-height: $oe-element-value-line-height;
	padding-bottom: $oe-element-value-padding-bottom;
}

.element-label {
	@extend .element-value;
}

.element-highlight {
	@include border-radius($oe-element-highlight-border-radius);
	background: $oe-element-highlight-bg-color;
	padding: $oe-element-highlight-padding;
	font-size: $oe-element-highlight-font-size;
	margin: $oe-element-highlight-margin;
	list-style-type: none;
	li {
		font-size: $oe-element-highlight-list-item-font-size;
	}
	&.important {
		background: $oe-element-highlight-important-bg-color;
	}
}

.element-data-row {
	.element-label, .element-value {
		padding: emCalc(9px) 0;
	}
}

.element-table {
	margin: 0;
	&, th {
		background: #c9ddef;
	}
	th[scope="row"], td:first-child {
		@include grid-column($collapse: null, $columns: 4, $float: false);
		font-size: $default-font-size;
		font-weight: normal;
	}
	tr {
		border: 1px solid #dae6f1;
		&:nth-of-type(even) {
			background: #c9ddef;
		}
	}
}

// ELEMENT EDIT
$oe-element-edit-border-top: 2px dotted #8c949c;
$oe-element-edit-title-font-style: italic;

.edit {
	.element {
		border-top: $oe-element-edit-border-top;
		select {
			width: auto;
			font-size: $default-font-size;
		}
		textarea {
			min-height: 1em;
		}
		.field-row {
			padding-bottom: .8em;
		}
	}
	.element-title {
		font-style: $oe-element-edit-title-font-style;
	}
	.element-fields {
		@extend .element-data;
		.field-row:last-child {
			padding: 0;
		}
		.panel:last-child {
			margin: 0;
		}
	}
	.element-eyes {
		@extend .element-eyes;
	}
	.add-side {
		font-size: $default-font-size;
		text-align: center;
		padding: emCalc(12px);
	}
	.icon-remove-side {
		background: image-url("_elements/icons/event-optional/element-remove.png") no-repeat -10px -2px;
		height: 16px;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 16px;
		z-index: 1;
	}
	.icon-add-side {
		background: image-url("_elements/icons/event-optional/element-view.png") no-repeat -10px -4px;
		width: 16px;
		height: 16px;
	}
	.element-header {
		@extend .clearfix;
		background: #fafafa;
	}
	.element-actions {
		float: right;
		padding: 6px 10px;
	}
	.element-action {
		font-size: $default-font-size;
	}
}