$oe-event-view-element-title-color: #56a7f1;
$oe-event-view-element-title-font-size: $default-font-size;
$oe-event-view-element-title-padding-left: 10px;
$oe-event-view-panel-comments-border-radius: 5px;

// We keep px units for padding as we have a background image on this element.
$oe-event-title-padding: 9px 0 9px 50px !default;
$oe-event-title-font-size: emCalc(19px) !default;

$oe-event-metadata-border-top: 1px dotted #dae6f1 !default;
$oe-event-metadata-padding-top: emCalc(8px) !default;
$oe-event-metadata-margin: 10px !default;
$oe-event-metadata-info-font-size: emCalc(12px) !default;
$oe-event-metadata-info-font-style: italic !default;
$oe-event-metadata-info-color: #888888 !default;
$oe-event-metadata-info-padding-right: 15px !default;
$oe-event-metadata-user-color: #333333 !default;

$oe-header-event-background: #eaddaf !default;
$oe-header-event-border-bottom: 5px solid #a29d8a !default;
$oe-header-event-padding: emCalc(6px) emCalc(10px) 0 emCalc(10px) !default;

.event {
	@include border-radius($oe-box-event-border-radius);
	background: $oe-box-event-background;
	border-width: $oe-box-event-border-width;
	border-style: solid;
	margin: 0;
	padding: 0 emCalc(5px) emCalc(10px) emCalc(5px);
	.event-content {
		background-position: right top;
		background-repeat: no-repeat;
	}
	.event-header {
		@extend .clearfix;
		margin: 0 emCalc(-10px);
		background: $oe-header-event-background;
		border-bottom: $oe-header-event-border-bottom;
		padding: $oe-header-event-padding;
	}
	.event-title {
		padding: $oe-event-title-padding;
		font-size: $oe-event-title-font-size;
		background-repeat: no-repeat;
		background-position: left center;
		margin-left: 8px;
	}
	.metadata {
		border-top: $oe-event-metadata-border-top;
		padding-top: $oe-event-metadata-padding-top;
		margin: $oe-event-metadata-margin;
		.info {
			font-size: $oe-event-metadata-info-font-size;
			font-style: $oe-event-metadata-info-font-style;
			color: $oe-event-metadata-info-color;
			display: inline-block;
			padding-right: $oe-event-metadata-info-padding-right;
		}
		.user {
			color: $oe-event-metadata-user-color;
		}
	}
	.panel {
		&.comments {
			@include border-radius($oe-event-view-panel-comments-border-radius);
		}
	}
}