.sub-elements {
	@extend %element-panel;
	padding-top: 0;
	&.inactive {
		padding: 0;
		margin-bottom: 10px;
	}
}

.sub-element-eyes {
	@extend .element-eyes;
}

.sub-element {
	border: 1px solid #fafafa;
	margin-bottom: emCalc(10px);
	&:last-child {
		margin-bottom: 0;
	}
	.sub-element-title {
		font-style: normal;
		color: #666;
		font-size: $default-font-size;
		padding: emCalc(6px) emCalc(10px);
		margin: 0;
		float: left;
	}
	.element-eye {
		border-top: 1px solid #fafafa;
	}
}

.sub-element-header {
	@extend .element-header;
	background: #fafafa;
}

.sub-element-data {
	@extend .element-data;
}

.edit {
	.sub-element-actions {
		@extend .element-actions;
		padding: emCalc(1px) emCalc(2px) 0 0;
	}
	.sub-element-fields {
		@extend .element-data;
		> .field-row:last-child {
			padding: 0;
		}
		.element-eye {
			> .field-row:last-child {
				padding: 0;
			}
		}
	}
	.sub-elements-list {
		@extend .optional-elements-list;
		li {
			margin-bottom: 10px;
		}
	}
}