section.#{$OE_MODEL_PREFIX}Allergies{

  table##{$OE_MODEL_PREFIX}Allergies_entry_table{
    tbody{
      tr{
        height:50px;
      }
    }

    tr{
      td{
        vertical-align:middle;

        &:not(.edit-column){
          width:30%;
        }
      }
    }
  }
}