.date-control {
  float: right;
}

.OEModule_OphCiExamination_models_HistoryMedications {
  table {
    tr {
      vertical-align: top;
      fieldset.row {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    th.date-col {
      min-width: 300px;
    }
  }
}

.medication-display {
  white-space: nowrap;
}

a.start-medication {
  color: green;
}

a.stop-medication {
  color: red;
}