.date-control {
  float: right;
}

.OEModule_OphCiExamination_models_HistoryMedications {
  table {
    tr {
      vertical-align: top;
      fieldset.row {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    th.date-col {
      min-width: 300px;
    }
  }
}

a.start-medication {
  color: #43a844;
}

a.stop-medication {
  color: #cf0d27;
}

.not-synced {
  color: #cf0d27;
}
