.date-control {
  float: right;
}

.OEModule_OphCiExamination_models_HistoryMedications {
  table {
    tr {
      vertical-align: top;
      fieldset.row {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    th.date-col {
      min-width: 300px;
    }
  }
}

a.start-medication {
  color: #43a844;
}

a.stop-medication {
  color: #cf0d27;
}

.not-synced {
  color: #cf0d27;
}

.laterality {
  background-color: transparent; // only want to show if there is a display class as below
  color: #fff;
  font-size: 9px;
  padding: 2px 4px 2px 4px;
  margin-right: 5ch; // should create appropriate space to align non-lateral medications
  -moz-border-radius: 50%;  // rounds corners for firefox
  border-radius: 50%;  //rounds corners for other browsers
  &.R {
    background-color: #9fec6d;
    color: #747782;
    margin-left: 0px;
    margin-right: 4ch;
  }
  &.L {
    background-color: #fe6767;
    margin-left: 4ch;
    margin-right: 0px;
  }
  &.B {
    margin-right: 2ch;
    margin-left: 2ch;
    background-color: #747782;
  }
}

