# editorconfig.org

# Top-most EditorConfig file
root = true

# Global
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.php]
indent_style = tab
indent_size = 2

[*.js]
indent_style = tab
indent_size = 2

[*.css]
indent_style = tab
indent_size = 2

[*.html]
indent_style = tab
indent_size = 2

[node_modules/**.js]
indent_style = space
indent_size = 2