# editorconfig.org

# Top-most EditorConfig file
root = true

# Global
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.{php,js,css,html,pp,scss}]
indent_style = tab
indent_size = 2

[Vagrantfile]
indent_style = tab
indent_size = 2

[node_modules/**.js]
indent_style = space
indent_size = 2
