# OpenEyes EyeDraw .gitignore file
# 11 December 2011
# Bill Aylward

# compiled and temporary files
*.[oa]
*~
temp*

# OSX status files
.DS_Store

# Folders containing temporary data

# Ignore folder containing automatic documentation
jsdoc-toolkit/out/