.gitignore
.DS_Store
.*swp
.idea
.buildpath
.settings/
.project
nbproject/
error/404.php
error/500.php
protected/commands/BillCommand.php
protected/commands/FetchBookingsCommand.php
protected/commands/FetchBookings2Command.php
protected/commands/FetchUsersCommand.php
protected/commands/AssociateConsultantsWithSitesCommand.php
protected/commands/CorrespondenceDataCommand.php
protected/commands/DumpProcElementsCommand.php
protected/commands/ImportConsultantsCommand.php
protected/commands/ImportInstitutionsCommand.php
protected/commands/OpnoteDataCommand.php
protected/data/*
protected/models/ElementExample.php
protected/models/elements/ElementExample.php
protected/modules/*
!protected/modules/admin
protected/runtime/
protected/tests/report/
protected/tests/test_results/
protected/views/elements/ElementExample/
protected/commands/AssociateConsultantsWithSitesCommand.php
protected/commands/CorrespondenceDataCommand.php
protected/commands/DumpProcElementsCommand.php
protected/commands/ImportConsultantsCommand.php
protected/commands/ImportInstitutionsCommand.php
protected/commands/OpnoteDataCommand.php
protected/commands/AuditCommand.php
protected/commands/TestCommand.php
protected/commands/FirmSecretaryNumbersCommand.php
protected/commands/SiteReplyToAddressesCommand.php
protected/commands/SetEpisodeStatusCommand.php
protected/commands/ImportEpatientlettersCommand.php
tags
index.php
