[submodule "protected/extensions/mehpas"]
	path = protected/extensions/mehpas
	url = https://github.com/openeyes/MEHPAS.git
[submodule "protected/modules/eyeDraw"]
	path = protected/modules/eyeDraw
	url = https://github.com/openeyes/EyeDraw.git
[submodule "protected/modules/OphTrOperationnote"]
	path = protected/modules/OphTrOperationnote
	url = https://github.com/openeyes/OphTrOperationnote.git
[submodule "protected/modules/sample"]
	path = protected/modules/sample
	url = https://github.com/openeyes/Sample.git
