Options +FollowSymLinks
IndexIgnore */*

RewriteEngine On
#RewriteBase /

# Always rewrite asset requests
RewriteRule ^file/.*$ index.php [L]

# Things not to rewrite
RewriteCond %{REQUEST_URI} !^\/assets\/
RewriteCond %{REQUEST_URI} !(\.gif$)|(\.jpg$)|(\.png$)|(\.css$)|(\.js$)|(\.ico$)

# If a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f

# Otherwise forward it to index.php
RewriteRule ^.*$ index.php [L]
