language: generic
dist: bionic


before_script:
    - export TZ=Europe/London
    - date
    # - sudo ntpdate ntp.ubuntu.com
    - '[ ! -z "$DOCKER_PASS" ] && { echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin; } || :'

services:
  - docker
  - xvfb

jobs:
  include:
    - # PR builds - phpunit
      if: type = pull_request
      script: docker-compose -f protected/tests/docker-compose.yml run --use-aliases -e BUILD_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH phpunit
      name: "PHPUnit"
    - # Branch builds - phpunit
      if: type = push AND (branch in (master, develop, feature/OE-7023) OR branch =~ /^release\/\S*$/ OR branch =~ /^bugfix\/\S*$/)
      script: docker-compose -f protected/tests/docker-compose.yml run --use-aliases -e BUILD_BRANCH=$TRAVIS_BRANCH phpunit
      name: "PHPUnit (branch)"


notifications:
  slack:
    on_pull_requests: false
    rooms:
      - secure: "$slack_room"
    on_success: change
    on_failure: always
