/* Home Hub */

/* User */
.home .user { background:#036; border:1px dotted #ccc; color:#fff; padding:10px; margin-bottom:10px;}
/* user details */
.home .user .userdetails {  margin-bottom:5px; }
.home .user .userdetails h3 { font-size: 27px; font-weight: lighter; }
.home .user .userdetails a { color:#a0f3ff; }
.home .user .userdetails a:hover { border-bottom-color:#a0f3ff; }
/* user edit profile */
.home .user .userprofile { padding-top:10px; display:none; }
table.subtle.editprofile { background:#005896; color:#fff; }
table.subtle.editprofile tbody td:first-child { color:#d1d1ee; }
table.subtle.editprofile tbody tr:hover { background-color: #41789f; }

/* default grouping */
.home .homegroup { margin-bottom:20px; }
.home .homegroup h4 { font-family:Georgia,Times,sans-serif; font-size:13px; color:#004d99; padding:10px 5px 6px 5px; margin:5px 0; border-bottom:1px dotted #004d99; }
/* appointments */
.home h4.appointments { font-size:15px; font-style: italic; color:#058; background:#fff; padding:12px 10px 12px 10px; margin:0; border-bottom:none; -webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; }

/* notices */
.home .notices { background: none; border:none; padding:0; margin-bottom:10px;} 
.home .notices .note { position:relative; font-family:Georgia,Constantia,Lucida,Times,serif; color:#024; margin:5px 0 10px 0; }
.home .notices .note h5 {  font-weight:normal; font-size:15px; margin:0; padding:2px 10px 2px 10px;  }
.home .notices .note h5 .date { color:#999; font-style: italic; float:right; color:#048; }
.home .notices .note p { font-size:13px; } 

/* notifications: internal messaging aka imsg */
.home .notifications {  color:#fff; background:#807c6d url(../../img/_elements/icons/im/paperclip_notification.png) top right no-repeat; border:2px dotted #a29d8a; padding:5px 5px; margin-bottom:20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.home .notifications h4 { color:#d2cbb3; font-family:Georgia,Constantia,Lucida,Times,serif; font-size:13px; font-style:italic; padding:20px 0 5px 5px; }
/* auto-message - needs viewing: */
.home .notifications a.autoimsg { display:inline-block; width:270px; padding:5px; color:#fff; background:#6e6b5e; border:2px dotted #a29d8a; margin-right:5px; margin-bottom:5px; }
.home .notifications a.autoimsg.urgent { background:#6e6b5e url(../../img/_elements/icons/im/urgent_notification.png)top right no-repeat; border-color:#ffcead; }
.home .notifications a:hover.autoimsg { background-color:#3665ff; border-color:#ccc6ae; }
.home .notifications .autoimsg .details { margin-top:5px; padding-left:50px; }
.home .notifications .autoimsg .patient { margin:3px 0 0px 1px; }
/* event has been viewed. auto-message can dismissed */
.home table.grid.dismissimsg tr:hover { background:#6e6b5e; } 
.home table.grid.dismissimsg td { border-color:#6e6b5e; }

/* pedigree */
.home .pedigree { color:#493a2d; background: #e9b98f url(../../img/_elements/icons/pedigree/genetics-large.png) top right no-repeat; border:2px dotted #a29d8a; padding:10px; margin-bottom:20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.home .pedigree h3 { font-size:18px; }
.home .pedigree h5 { margin:15px 0 2px 0; padding:12px 0 4px 0; border-top:2px dotted #e97917;  }



