/* Theatre Diaries */
.diaryresults {  margin-top:15px; }
.diaryresults h3.location { color:#336; font-family:Georgia,Constantia,Lucida,Times,serif; text-align:center; background:#e1eef9; padding:25px 0 20px 0; margin-top:10px;  }
/* session */
.diaryresults .sessiondetails { position:relative; height:24px; }
.diaryresults .sessiondetails > .details.tabtxt {  color:#336; background: #fafafa url(../../img/_elements/gradients/bg_tab_blue.png) bottom left repeat-x; margin:0 0 0 10px;  }
/* actions: view and edit  */
.diaryresults .sessiondetails > .useractions { position:absolute; bottom:0; right:0; }
.diaryresults .sessiondetails > .useractions .tabbtn { margin-right:8px; }

/* cols - customised for theatre diaries; in maxwidth: width:1210px (padding 20px) */
.diaryresults .cols > .left 	{ float: left; 	width:980px; clear: left; }	/* table */
.diaryresults .cols > .right 	{ float: right; width:220px; clear: right; } 	/* session notes */

/* modify table grid: */
.diaryresults table.grid { width:980px; }
.diaryresults table.grid tbody tr { border-bottom: 1px dotted #dedede;}
.diaryresults table.grid tbody tr:last-child { border-bottom: none;}
.diaryresults table.grid tbody tr:hover { background-color:#fff3d9;} 
.diaryresults table.grid th { background:#eee; color: #777; border-right:1px solid #bbb; }
.diaryresults table.grid td:last-child { border-right:1px solid #bbb; } /* add right border back */

/* footer  */
.diaryresults .tablegrid.footer { padding-top:10px; }
/* colour */
.diaryresults .tablegrid.footer.available { background: #bde0b3; }
.diaryresults .tablegrid.footer.full { background: #ffedb2; }
/* show specialists */
.diaryresults .specialists { float:right; padding: 4px 6px 4px 15px; font-size: 11px; font-weight:normal; color: #666; text-align: right; background: rgb(230,230,230); background: rgba(255,255,255,0.7); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:2px #ccc solid; }


