// Event header
//
// The header contains the event detail tabs and the event action buttons.
//
// Markup:
// <header class="event-header">
//     <ul class="inline-list tabs event-actions">
//         <li>
//             <a href="#">View</a>
//         </li>
//         <li class="selected">
//             <a href="#">Edit</a>
//         </li>
//     </ul>
//     <div class="button-bar right">
//         <a href="#" class="button secondary small">
//             Save
//         </a>
//         <a href="#" class="button warning small">
//             Cancel
//         </a>
//     </div>
// </header>
//
// Styleguide 7.2

// Event header vars
$oe-header-event-background: #eaddaf !default;
$oe-header-event-border-bottom: 5px solid #a29d8a !default;
$oe-header-event-padding: emCalc(6px) emCalc(10px) 0 emCalc(10px) !default;

.event-header {
	@extend .clearfix;
	background: $oe-header-event-background;
	border-bottom: $oe-header-event-border-bottom;
	padding: $oe-header-event-padding;
}