/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2016, 11:56:22 AM
    Author     : sabi
*/

div#docman_block{
    
    select.macro {
        max-width: 220px;
    }

    textarea{
        font-size: 13px;
    }

    #dm_table{
        border: 1px solid black;
        cell-spacing: 0;
        cell-padding: 0;

        th.actions {
            padding: 0 10px;
            min-width: 113px;
        }

        tr {
            background-color: #eee;
            color: black;
            padding: 2px 5px;

            td {
                &.docman_delivery_method{
                     min-width: 156px;
                }
                border: 1px solid black;
                border-collapse: 1;
                vertical-align: top;
            }

        }
    }
}
