.help-actions {
  list-style: none;
  color: #626568;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}
.help-actions li {
  text-align: left;
  display: inline-block;
  font-size: 12px;
  width: 168px;
  height: 32px;
  line-height: 2;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #fff;
  font-weight:normal;
  background-color: #448dd6;
  -moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
  -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
  padding: 0.3em 1em;
}
.help-actions li:hover {
  background-color: #5597da;
}
.help-trigger-btn {
  z-index: 1102;
  opacity: 0.9;
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 5px;
  left: 20px;
  background-image: url(../img/help.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  cursor: pointer;
}
.help-trigger:hover {
  opacity: 1;
}
body {
  background-color: lightblue;
}
.help-title {
  display: inline-block;
  width: 100%;
  margin-top: 8px;
  font-size: 18px;
  text-align: center;
}
.help-popup {
  z-index: 1102;
  margin: 0 auto;
  font-family: helvetica;
  font-size: 14px;
  color: #4b4d4f;
  font-weight: 600;
  line-height: 1.4;
  background-color: white;
  border: lightgrey solid 1px;
  width: 191px;
  height: 191px;
  border-radius: 5px;
  position: fixed;
  bottom: 60px;
  left: 10px;
  display: none;
}
.help-popup::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 189px;
  margin-left: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 0 14px;
  border-color: white transparent transparent transparent;
}
.help-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}
.help-close:hover {
  opacity: 1;
}
.help-close:before, .help-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #333;
}
.help-close:before {
  transform: rotate(45deg);
}
.help-close:after {
  transform: rotate(-45deg);
}
#help-body-overlay {
  display: none;
  position: fixed;
  top: 82px;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
  z-index: 160;
}
#help-header-overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 82px;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 160;
}
.popover {
  z-index: 161;
}
