#generic-search-form {
  & > div {
    display: flex;
    flex-wrap: wrap;
    div {
      width: 25%;
      padding-top: 5px;
      &.submit-row {
        align-self: flex-end;
        padding-right:10px;
      }
      &.single-search-field {
        width: 50%;
      }

      label {
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      input[type=text], select {
        width: 95%;
      }

    }
  }
}