#search_bar_right, #search_bar_left {
  display: inline-block;
  font-family:Helvetica;
  box-sizing: border-box;
  font-size: 12px;
  vertical-align: top;
  padding: 0 10px;
  font-size: 10px;
  width: 210px;
  height: 28px;
  border: 1px solid #b3b3b3;
  border-radius: 10px 0 0 10px;
  z-index: 1003;
}
#search_button_right, #search_button_left {
  display: inline-block;
  font-family:Helvetica;
  cursor: pointer;
  border: none;
  background: url("../img/index_search/search_icon.png") no-repeat center center, #747782;
  background-size: 15px 15px;
  border-radius: 0 20px 20px 0;
  padding: 10px 25px;
  display: inline-block;
  width: 20px;
  z-index: 1004;
  position: relative;
  right: 5px;
  height: 28px;
}
#results {
  outline: 0px;
  z-index: 1005;
  top: 130px;
  bottom: 50px;
  width: 1051px;
  display: none;
  overflow-y:scroll;
  background-color: #fff;
  padding: 0px;
  font-size: .8rem;
  box-shadow: 2px 2px 2px 2px #666666;
  border-radius: 7px;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid #aaaaaa/*{borderColorContent}*/;
  color: #222222/*{fcContent}*/;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  cursor: auto;
  position: fixed;
  background: #fff;
  background-image: url("../img/index_search/line.png");
  background-size: 4px;
  background-repeat: repeat-y;
  background-position: 325px;
  background-attachment: local;
  overflow-x: hidden;
}
.results_list {
  margin: 0;
  list-style: none;
  padding: 10px;
}
.results_list .results_list {
  padding: 0px;
  padding-left: 45px;
}
.result_item, .result_item_with_icon {
  width: 222px;
  display: block;
  margin: 0 0 0px 0;
  height: 19px;
  line-height: 19px;
  background-color: #EEEEED;
  background-size: 524px 500px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 16px 16px;
  color: #0b59da;
  cursor: pointer;
  font-size: .75rem;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  margin-bottom: 4px;
  list-style-position: inside;
  font-family: inherit;
  padding-left: 12px;
  border-radius: 3px;
  z-index: 10001;
}
.result_item_with_icon{
  padding-left: 25px;
}
.result_item:hover, .result_item_with_icon:hover {
  background-color: #3665ff;
  color: #fff;
  cursor: pointer;
}
#big_cross {
  background: #fff url("../img/index_search/bigCross.png") center no-repeat;
  display: block;
  cursor: pointer;
  width: 32px;
  height: 37px;
  margin-right: 10px;
  float: right;
}
li ul li ul li .result_item {
  background-color: transparent;
}
#results > ul >  li > div:first-child {
  position: sticky;
  top: 0;
  z-index: 10000;
}
#results > ul >  li > div:first-child:hover {
  background-color: #3665ff;
  color: #fff;
  cursor: pointer;
}
.alias {
  font-size: 0.7em;
  font-style: italic;
  color: grey;
  position: relative;
}
.index_row {
  display: flex; /* equal height of the children */
  width: 930px;
  margin-bottom: -10px;
}
.index_col_left {
  flex: 0.85;
  position: relative;
  top: -7px;
  margin-left: 21px;
}

.index_col_left_lvl1,.index_col_left_lvl2,.index_col_left_lvl3 {
  /*flex: 0.85;*/
  position: relative;
  top: -7px;
  margin-left: 21px;
  min-height: 10px;
}

.index_col_left_lvl1 {
  flex: 1;
}

.index_col_left_lvl2 {
  flex: 0.8;
}

.index_col_left_lvl3 {
  flex: 0.6;
}

li li li .index_col_left {
  top: -11px;
}
.index_col_right {
  flex: 2;
  position: relative;
  top: -25px;
  margin-left: 10px;
}
.warning_icon,.info_icon {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-color: white;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  top: 3px;
}
.warning_icon {
  top: 4px;
  background-image: url("../img/index_search/warning.png");	}

.info_icon {
  background-image: url("../img/index_search/info.png");
}
.description_icon {
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
}

.warning_note,.info_note,.description_note{
  font-size: 0.8em;
  padding-left: 6px;
  padding-right: 20px;
}
.description_note {
  padding-left: 0px;
}
/* The switch - the box around the slider */
.switch {
  display: none;
  position: relative;
  width: 30px;
  height: 17px;
  top: 7px;
}
#description_switch {
  display: inline-block;
}
#children_switch {
  display: inline-block;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}
#description_toggle_label {
  display: inline-block;
  font-size: 0.65em;
}
#children_toggle_label {
  display: inline-block;
  font-size: 0.65em;
}
#search_bars_and_options {
  padding-top: 5px;
  margin-left: 27px;
  display: inline-block;
}
#search_options_container {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  text-align: center;
  top: -5px;
  height: 37px;
  position: relative;
  padding-top: 4px;
}
#children_toggle_container {
  padding-right: 25px;
  display: none;
}
#description_toogle_container {
  padding-right: 25px;
  display: none;
}
#did_you_mean_suggestion {
  margin-left: 20px;
}
.search_highlight {
  font-style: inherit;
  background-color: yellow;
  color : black;
}
.is_loading {
  content:url(../img/index_search/loading.gif);
}
