#inbox-table {
  padding-top: 3px;
  padding-bottom: 3px;
}
#inbox-table td {
  vertical-align: top;
}

#inbox-table span.priority {
  color: $oe-ophcomessaging-urgent-color;
}

#inbox-table .date {
  white-space: nowrap;
}

#inbox-table .summary {
  font-size: 0.8em;
}

#sent-table {
  padding-top: 3px;
  padding-bottom: 3px;
}
