ul.comma-list {
  display: inline;
  margin-left: 0px;
  li {
    white-space: nowrap;
    margin-left: 0px;
    margin-right: 2px;
    display: inline;
    list-style: none;
    &:after {
      content: " //";
    }
    &:last-child:after {
      content: "";
    }
  }
}