h1, h2, h3, h4, h5, h6  {
	font-weight: 500;
}
pre {
	font-size: .8em;
	margin: 1em 0 1.5em 0;
	width: 99%;
}
pre.prettyprint {
	border-color: #ddd;
	padding: 2px 5px;
}
code {
	font-size: 12px;
	color: #555;
}
hr {
	margin-top: .5em;
}

.container.main {
	margin-top: 1em;
}
.box.event {
	border: 0;
}
.example {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 0 0 1em 0;
}
.example > header:first-child {
	margin-bottom: 1em;
}
.view-markup {
	font-size: 13px;
}

.side-nav {
	margin: 0;
	padding: 0;
}
.side-nav li a {
	display: inline-block;
}
.side-nav li > ul {
	margin-top: .5em;
}

/** JSDoc Styles */

.jsdoc .side-nav {
	padding: 0;
}
.jsdoc .sub-tutorials-header {
	padding: 5px 0;
}
.jsdoc .sub-tutorials-header h4 {
	float: left;
	margin: 0 1em 0 0;
	line-height: 1.4;
}
.jsdoc .sub-tutorials-header .panel {
	padding: .2em .5em;
	margin: .5em 0;
}
.jsdoc .sub-tutorials-list {
	margin-left: 0;
}
.jsdoc .sub-tutorials-list li {
	margin-left: 0;
	margin-right: 1em;
}