/** Genetics */
@import "openeyes/module";
@import "openeyes/components/admin/sidebar";


#relationships_list {
  list-style: none;
  margin: 0;
  padding-top: 15px;
  li {
    .fa {
      cursor: pointer;
    }
    select {
      width: auto;
    }
  }
}

#enteredDiagnosisText {
  .clear-diagnosis-widget {
    cursor: pointer;
  }
}

#Pedigree_gene_transcript.error {
  background: #FF9494;
}