#ElementLetterOut_layout {display:none;}

#ElementLetterOut_layout > p {display:none;}

p.ElementLetterOut_to {display:none;}

p.ElementLetterOut_date {display:none;}

p.ElementLetterOut_dear {display:none;}

p.ElementLetterOut_re {display:none;}

p.ElementLetterOut_text {display:none;}

p.ElementLetterOut_from {display:none;}

p.ElementLetterOut_cc {display:none;}

div.ElementLetterOut_siteDetails {display:none;}

span.page_break {display:none;}

hr {
        height: 5px;
        width: 800px;
}

div.admissionHeader {
        font-weight: bold;
        font-size: large;
}

div.admissionDetails {
        font-weight: bold;
}

table.admissionFormClear {
        width: 800px;
        padding: 5px;
}

table.admissionFormBordered {
        border: 1px solid black;
        width: 800px;
        padding 5px;
}

table.admissionFormBordered td {
        border: 1px dotted black;
        vertical-align: top;
        padding: 5px;
}

table.admissionFormBordered td.admissionFormNoDashed {
        border: 0px;
}

