
.booking-letter {
	page-break-after: always;
}

.banner .seal {
	float: left;
}

.banner .logo {
	float: right;
}

.banner .seal img {
	width: 87px;
}

.banner .logo img {
	width: 350px;
}

.from-address {
	float: right;
	text-align: right;
	margin-top: 1.4em;
	width: 20em;
	line-height: 19px;
}

.to-address {
	display: inline-block;
	padding-left: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

.to-address-header {
	margin-bottom: 0.5em;
}

.to-address-address {
	width: 16em;
	height: 8em;
	line-height: 15px;
}

.accessible {
	font-size: 16pt;
}

.accessible p,
.accessible li,
.accessible td,
.accessible th {
	font-size: 16pt;
}

/* Prevents text clipping */
p, li {
	margin-right: 0.5em;
}

li {
	margin-left: 0.5em;
}

table {
	margin: 10px 0;
	width: 100%;
}

td, th {
	border: 2px #ccc solid;
	padding: 5px !important;
}

.date {
	margin-top: 1em;
}
