/* line 17, ../sass/whiteboard.scss */
#exit-button {
  background-color: #f00;
  color: #fff;
}

/* line 23, ../sass/whiteboard.scss */
.mdl-grid .mdl-card {
  min-height: 100px;
  width: 100%;
  display: block;
}
@media screen and (min-width: 840px) {
  /* line 23, ../sass/whiteboard.scss */
  .mdl-grid .mdl-card {
    min-height: 150px;
  }
}
/* line 30, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__title {
  color: #fff;
}
/* line 32, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__title.patient {
  background-color: #3f51b5;
}
/* line 35, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__title.biometry {
  background-color: #a53dcc;
}
/* line 38, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__title.risk {
  background-color: #c23f3a;
}
/* line 41, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__title.comment {
  background-color: #33c23d;
}
/* line 44, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__title .mdl-card__title-text {
  font-size: 16px;
  font-weight: 700;
}
/* line 48, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__title .material-icons {
  cursor: pointer;
  font-size: 18px;
}
/* line 53, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__supporting-text {
  font-size: 18px;
  line-height: 1.1em;
  font-weight: 700;
}
/* line 57, ../sass/whiteboard.scss */
.mdl-grid .mdl-card .mdl-card__supporting-text textarea {
  font-size: inherit;
  color: black;
  width: 100%;
}
