.trial-count {
    display: inline-block;
    padding: 0 6px 5px 6px;
    border-left: 1px solid #26303d;
}

.trial-count em {
    opacity: 0.5;
}

.current-status {
    text-align: right;
}

.parameter-option {
    padding-right: 15px
}
