/*
 * Layout CSS classes for FP10/WP10 form.
 */

/*
* Wrapping container for the entire FP10 form.
* This has the initial margin from the top of the page, plus any requisite margins for the surrounds of the form.
* It also contains the default font specifications.
*/

body {
    margin: 0;
}

#fpten-container {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 7.5pt;
    padding: 3mm 3mm 12mm 3mm;
    width: 102mm;
    height: 156mm;
}

.fpten-form-row:before, .fpten-form-row:after {
    display: table;
    content: '';
}

.fpten-form-row:after{
    clear: both;
}

.fpten-form-column {
    display: table-cell;
    float: left;
}

#fpten-trust-code {
    font-size: 12pt;
    font-weight: initial;
}

/*Site box appears at the bottom toward the center.*/
#fpten-site {
    text-align: left;
    height: 30mm;
    width: 50mm;
    margin-left: 14mm;
    padding-top: 2mm;
    padding-left: 3mm;
    font-weight: initial;
}

#fpten-site-code {
    text-align: left;
    height: 30mm;
    padding-top: 1mm;
}

/*Age box appears at the top toward the center.*/
#fpten-age {
    height: 11mm;
    width: 19mm;
    margin-left: 30mm;
    padding-top: 5mm;
    text-align: center;
}

/*DOB box appears directly below the Age box.*/
#fpten-dob {
    height: 10mm;
    width: 19mm;
    margin-left: 30mm;
    padding-bottom: 6mm;
    text-align: center;
    line-height: 10mm;
}

/*Patient details box appears at the top right corner beside age and DOB.*/
#fpten-patient-details {
    text-align: left;
    padding-top: 5mm;
    padding-left: 2mm;
    height: 21mm;
}

/*Postcode is right-aligned to the edge of the parent box.*/
#fpten-postcode-nhs {
    text-align: left;
    height: 21mm;
    padding-top: 5mm;
}

/*Prescriber initiative appears at top of main box in the center*/
#fpten-prescriber {
    height: 10mm;
    padding-top: 2mm;
    width: 44mm;
    text-align: center;
    font-size: 8pt;
}

.fpten-prescriber-code {
    font-size: 10pt;
    height: 10mm;
    width: 12mm;
    line-height: 10mm;
    text-align: center;
}

/*Appears beneath the prescriber.*/
#fpten-prescription-list {
    padding-right: 5mm;
    height: 59mm;
    width: 65mm;
    margin-left: 30mm;
}

.fpten-prescription-item {
    padding-top: 2mm;
    border-bottom: 1px solid;
}

#wpten-doctor-name {
    width: 39mm;
    height: 12mm;
    margin-left: 30mm;
    line-height: 12mm;
}

/*Appears directly above the Trust code in the site box.*/
#fpten-date {
    width: 27mm;
    height: 12mm;
    text-align: center;
    margin-left: 68mm;
    line-height: 12mm;
}