/******************************************************************
 * Docs styles
 * NOTE: All docs classes MUST be prefixed with 'kss'.
 *****************************************************************/

.kss-footer {
    background-image: none
}
.kss-box {
    background: #fff;
    border-radius: 5px;
    margin: 0 0 1em 0;
    padding: 1em;
}
.kss-side-nav {
    margin: 1em 0;
    padding: .5em;
}
.kss-main {
    margin: 1em 0
}
.kss-title {
    margin-top: 0
}
.kss-sub-head {
    font-size: 1.1em;
}
.kss-overview h1,
.kss-overview h2,
.kss-overview h3,
.kss-overview h4,
.kss-overview h5,
.kss-overview h6 {
    font-weight: bold;
    border-bottom: 1px solid #ccc
}
.kss-mod-list {
    background: #fff;
    margin-bottom: 1em;
}
.kss-mod-description {
    padding-top: 1em
}
.kss-mod {
    border: solid 1px #dddddd;
    padding: 0 1em 1em 1em;
    margin-bottom: 1em;
}
.kss-mod-name span {
    background: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #eee;
    display: inline-block;
    font-size: .9em;
    padding: .5em 1em;
}
.kss-mod-overview {
    padding: 0 0 1em 0
}
.kss-mod-overview p {
    margin: 0;
}
.kss-markup {
    background: #fff;
    border: 1px solid #dddddd;
    font-size: .95em;
    padding: .5em;
}
.kss-depth-1>h1 {
    font-size: 2.375em
}
.kss-depth-2>h1 {
    font-size: 2.25em
}
.kss-depth-3>h1 {
    font-size: 2.125em
}
.kss-depth-4>h1 {
    font-size: 2em
}
.kss-depth-5>h1 {
    font-size: 1.875em
}
.kss-depth-6>h1 {
    font-size: 1.75em
}
code {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    color: #333;
    font-weight: normal;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}
pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}
pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}
li {
    list-style-position: inside;
}

/******************************************************************
 * Prettify styles (syntax highlighting)
 *****************************************************************/
.pln {
    color: #000
}
@media screen {
    .str {
        color: #080
    }
    .kwd {
        color: #008
    }
    .com {
        color: #800
    }
    .typ {
        color: #606
    }
    .lit {
        color: #066
    }
    .pun,
    .opn,
    .clo {
        color: #660
    }
    .tag {
        color: #008
    }
    .atn {
        color: #606
    }
    .atv {
        color: #080
    }
    .dec,
    .var {
        color: #606
    }
    .fun {
        color: red
    }
}
@media print,projection {
    .str {
        color: #060
    }
    .kwd {
        color: #006;
        font-weight: 700;
    }
    .com {
        color: #600;
        font-style: italic;
    }
    .typ {
        color: #404;
        font-weight: 700;
    }
    .lit {
        color: #044
    }
    .pun,
    .opn,
    .clo {
        color: #440
    }
    .tag {
        color: #006;
        font-weight: 700;
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #eee
}