/**
 * Add styleguide documentation styles here.
 */

h1 {
    margin-top: 0;
}

.footer {
    background-image: none;
}

.box {
    padding: 1em;
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
}

.side-nav {
    margin: 1em 0;
    padding: .5em;
}

.box.main {
    margin: 1em 0;
}