// Actions panel
//
// Styleguide 15.1

// Actions panel variables
$oe-actions-label-font-size: emCalc(13px) !default;
$oe-actions-label-padding: emCalc(10px) 0 !default;
$oe-actions-panel-button-margin: emCalc(4px) emCalc(10px) emCalc(6px) 0 !default;
$oe-actions-panel-latest-letter-width: emCalc(120px) !default;
$oe-actions-panel-margin: 0 0 emCalc(10px) 0 !default;
$oe-actions-panel-orange-bg-color: goldenrod !default;
$oe-actions-panel-orange-margin-right: emCalc(5px) !default;
$oe-actions-panel-orange-padding: emCalc(5px) emCalc(10px) !default;

.actions-panel {
    border: 0;
    margin: $oe-actions-panel-margin;
    padding: 0;
    button, .button {
        margin: $oe-actions-panel-button-margin;
        vertical-align: middle;
        &:last-child {
            margin-right: 0;
        }
    }
    input, select, label {
        display: inline-block;
        margin: 0;
    }
    .actions-label {
        display: inline-block;
        font-size: $oe-actions-label-font-size;
        font-weight: bold;
        padding: $oe-actions-label-padding;
    }
    .panel-orange {
        background-color: $oe-actions-panel-orange-bg-color;
        border: 0;
        display: inline-block;
        margin-bottom: 0;
        margin-right: $oe-actions-panel-orange-margin-right;
        padding: $oe-actions-panel-orange-padding;
        vertical-align: top;
        label {
            font-weight: normal;
        }
    }
    .panel-latest-letter {
        width: $oe-actions-panel-latest-letter-width;
    }
    .button-bar {
        float: right;
    }
}