// Theatre booking session comments panel
//
// Styleguide 16.7

.panel {
	&.comments {
		@include border-radius(0);
		background: #fff0a0;
		border: 1px solid #fee54f;
		margin: 0;
		.theatres-list & {
			margin-left: -1 * $column-gutter / 2;
		}
		h4 {
			color: #998a30;
			font-size: emCalc(12px);
			font-style: italic;
		}
	}
}