// Search panels
//
// Markup:
// <!-- Search panel examples -->
// <div class="panel search-examples">
//     Find a patient by
//     <strong>Hospital Number</strong>,
//     <strong>NHS Number</strong>,
//     <strong>Firstname Surname</strong> or
//     <strong>Surname, Firstname</strong>.
// </div>
// <!-- Search panel form -->
// <div class="large-12 column">
//     <form class="form search panel">
//         <div class="row">
//             <div class="large-9 column">
//                 <input type="text" id="search" placeholder="Enter search...">
//             </div>
//             <div class="large-3 column text-right">
//                 <button type="submit">
//                     Search
//                 </button>
//             </div>
//         </div>
//     </form>
// </div>
//
// Styleguide 15.4

$oe-panel-search-examples-font-size: emCalc(13px);
$oe-panel-search-padding: emCalc(15px) 0;
.panel {
    &.search-examples {
        font-size: $oe-panel-search-examples-font-size;
    }
    &.search {
        padding: $oe-panel-search-padding;
        input {
            margin: 0;
        }
    }
}