.panel {
    &.theatre-booking-description {
        margin: 0 0 0 emCalc(10px);
        font-size: emCalc(13px);
        display: inline-block;
        border-bottom: 0;
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);
    }
}