// Theatre booking heading panel
//
// Markup:
// <h3 class="panel theatre-booking-heading">
//     <span class="date">
//         <strong>05 Sep </strong> 2013
//     </span>
//     -
//     <strong>
//         <span class="day">Thursday</span>,
//         <span class="time">08:30:00 - 17:30:00 </span>
//     </strong>
//     for Barton Keith for (Glaucoma) -
//     <strong>Theatre Three (City Road)</strong>
// </h3>
//
// Styleguide 16.5

// Theatre booking heading panel vars
$oe-panel-theatre-booking-heading-font-size: $default-font-size !default;
$oe-panel-theatre-booking-heading-margin: 0 0 0 emCalc(10px) !default;
$oe-panel-theatre-booking-heading-padding: emCalc(6px) emCalc(12px) !default;

.panel {
	&.theatre-booking-heading {
		background: #fafafa;
		border-bottom: 0;
		display: inline-block;
		font-size: $oe-panel-theatre-booking-heading-font-size;
		margin: $oe-panel-theatre-booking-heading-margin;
		padding: $oe-panel-theatre-booking-heading-padding;
		@include border-bottom-left-radius(0);
		@include border-bottom-right-radius(0);
	}
}