// Theatre booking heading panel
//
// Styleguide 15.5

// Theatre booking heading panel vars
$oe-panel-theatre-booking-heading-font-size: $default-font-size !default;
$oe-panel-theatre-booking-heading-margin: 0 0 0 emCalc(10px) !default;
$oe-panel-theatre-booking-heading-padding: emCalc(5px) emCalc(10px) !default;

.panel {
    &.theatre-booking-heading {
        border-bottom: 0;
        display: inline-block;
        font-size: $oe-panel-theatre-booking-heading-font-size;
        margin: $oe-panel-theatre-booking-heading-margin;
        padding: $oe-panel-theatre-booking-heading-padding;
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);
    }
}