.class-description {
	font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 130%;
	line-height: 140%;
	margin-bottom: 1em;
	margin-top: 1em;
}

section {
	display: block;
	/*padding: 12px 0;*/
}

ul li, ol li, dl li {
	margin-left: 1.5em;
}

h1,h2,h3,h4,h5 {
	font-weight: bold;
}

.variation {
	display: none;
}

.optional:after {
	content: "opt";
	font-size: 60%;
	color: #aaa;
	font-style: italic;
	font-weight: lighter;
}

dl dt {
	margin: 0;
}

dl dd {
	margin-bottom: 0;
}

nav {
	display: block;
	float: left;
	margin-left: -230px;
	margin-top: 28px;
	width: 220px;
	border-left: 1px solid #ccc;
	padding-left: 9px;
}

nav ul {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
	font-size: 100%;
	line-height: 17px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

nav h2 a, nav h2 a:visited {
	color: #A35A00;
	text-decoration: none;
}

nav h3 {
	margin-top: 12px;
}

nav li {
	margin-top: 6px;
}

nav a {
	color: #5C5954;
}

nav a:visited {
	color: #5C5954;
}

nav a:active {
	color: #5C5954;
}

h4 {
	font-size: 13px;
}

h5, .container-overview .subsection-title {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 8px 0 3px 0;
}

h6 {
	font-size: 100%;
	letter-spacing: -0.01em;
	margin: 6px 0 3px 0;
	font-style: italic;
}

.ancestors {
	color: #999;
}

.ancestors a {
	color: #999 !important;
	text-decoration: none;
}

.important {
	font-weight: bold;
	color: #950B02;
}

.yes-def {
	text-indent: -1000px;
}

.type-signature {
	color: #aaa;
}

.name, .signature {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.details {
	margin-top: 14px;
	border-left: 2px solid #DDD;
}

.details dt {
	width: 130px;
	float: left;
	padding-left: 10px;
	font-size: 13px;
}

.details dd {
	margin-left: 50px;
}

.details ul {
	margin: 0;
}

.details ul {
	list-style-type: none;
}

.details li {
	margin-left: 30px;
}

.details pre.prettyprint {
	margin: 0;
}

.details .object-value {
	padding-top: 0;
}

.description {
	margin-bottom: 1em;
	margin-top: .2em;
	font-size: 13px;
}

code {
	font-size: 13px;
}

.code-caption {
	font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 107%;
	margin: 0;
}

.prettyprint {
	border: 1px solid #ddd;
	width: 80%;
	overflow: auto;
}

.prettyprint.source {
	width: inherit;
}

.prettyprint code {
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	line-height: 18px;
	display: block;
	padding: 4px 12px;
	margin: 0;
	background-color: #fff;
	color: #000;
	border-left: 3px #ddd solid;
}

.prettyprint code span.line {
	display: inline-block;
}

.params, .props {
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
}

.params .name, .props .name, .name code {
	color: #A35A00;
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	font-size: 13px;
}

.params td, .params th, .props td, .props th {
	border: 1px solid #ddd;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	padding: 4px 6px;
	display: table-cell;
}

.params th, .props th {
	border-right: 1px solid #aaa;
}

.params thead .last, .props thead .last {
	border-right: 1px solid #ddd;
}

.disabled {
	color: #454545;
}

.more-info {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 16px;
}

.box.navigation h2 {
	font-weight: normal;
}

pre {
	margin-bottom: 20px;
}

.more-info pre {
	margin-bottom: 0;
}

.box.generic header.jsdoc-header h2 {
	margin-bottom: 20px;
}