/* Parital Booking Waiting List */
/* key to colours */
div.tablekey .key .colorbox.invitation { background:#77b8d3; }
div.tablekey .key .colorbox.reminder { background:#b8eaa6; }
div.tablekey .key .colorbox.gpremoval { background:#f7bf8d; }
div.tablekey .key .colorbox.remove { background:#f08a6f; }

/* coloured send flags	*/
table.grid tr.sendflag.invitation > td:first-child { background-color:#77b8d3; }
table.grid tr.sendflag.reminder > td:first-child { background-color:#b8eaa6; }
table.grid tr.sendflag.gpremoval > td:first-child { background-color:#f7bf8d; }
table.grid tr.sendflag.remove > td:first-child { background-color:#f08a6f; }

