// Alert boxes
//
// Markup:
// <div class="alert-box {$modifiers}">
//     Alert! Some information the user needs to see, good or bad.
//     <a href="#" class="close">&times;</a>
//</div>
//
// .success             - Success information
// .alert               - Alert information
// .alert.with-icon     - Alert information with icon
// .issue               - Issue information
// .issue.with-icon     - Issue information with icon
// .secondary           - Secondary information
//
// Styleguide 12.1

// Alert box variables
$oe-alert-default-bg-color: #e2e2e2 !default;
$oe-alert-alert-bg-color: #ffe6b2 !default;
$oe-alert-alert-with-icon-bg-image: image-url("_elements/icons/box/warning.png") !default;
$oe-alert-alert-with-icon-min-height: 36px !default;
$oe-alert-with-icon-padding-left: emCalc(60px) !default;
$oe-alert-issue-bg-color: #fdf2e5 !default;
$oe-alert-issue-with-icon-bg-image: image-url("_elements/icons/box/issue.png") !default;
$oe-alert-issue-with-icon-min-height: 36px !default;
$oe-alert-success-border-color: #99cc99 !default;
$oe-alert-success-with-icon-bg-image: image-url("_elements/icons/box/info.png") !default;
$oe-alert-success-with-icon-min-height: 36px !default;

.alert-box {
	@include alert($oe-alert-default-bg-color);
	@include radius($alert-radius);
	.close {
		@include alert-close;
	}
	ul {
		margin: 0;
		line-height: 1.4;
	}
	p {
		font-size: 1em;
		margin-bottom: 1em;
	}
	li {
		font-size: 1em;
		margin-left: 1.4em;
	}
	&.with-icon {
		padding-left: $oe-alert-with-icon-padding-left;
		background-repeat: no-repeat;
		background-position: left top;
	}
	&.success {
		@include alert-style($success-color);
		border-color: $oe-alert-success-border-color;
		&.with-icon {
			background-image: $oe-alert-success-with-icon-bg-image;
			min-height: $oe-alert-success-with-icon-min-height;
		}
	}
	&.alert {
		@include alert-style($oe-alert-alert-bg-color);
		border-color: $alert-border-color;
		&.with-icon {
			background-image: $oe-alert-alert-with-icon-bg-image;
			min-height: $oe-alert-alert-with-icon-min-height;
		}
	}
	&.issue {
		@include alert-style($oe-alert-issue-bg-color);
		&.with-icon {
			background-image: $oe-alert-issue-with-icon-bg-image;
			min-height: $oe-alert-issue-with-icon-min-height;
		}
	}
	&.secondary {
		@include alert-style($secondary-color);
	}
	&.bottom {
		margin-bottom: 0;
		margin-top: $alert-bottom-margin;
	}
}