// Boxes
//
// A box is simply a container that groups large sections of the page, for example
// am event detail view.
//
// Markup:
// <div class="box {$modifiers}">
//     <p>Here is some content within a box.</p>
// </div>
//
// .content             - Content box
// .event               - Event detail box
// .event.booking       - Event booking detail box
//
// Styleguide 13.1

// Box vars
$oe-box-margin: emCalc(20px) 0 !default;
$oe-box-border-radius: $global-radius !default;
$oe-box-content-bg-color: #dae6f1 !default;
$oe-box-event-border-radius: 0 !default;
$oe-box-event-background: #fafafa !default;
$oe-box-event-padding: emCalc(5px) emCalc(5px) emCalc(10px) emCalc(5px) !default;
$oe-box-event-border-width: 0 5px 5px !default;

.box {
	@include border-radius($oe-box-border-radius);
	margin: $oe-box-margin;
	&.content {
		background: $oe-box-content-bg-color;
	}
}