// Boxes
//
// A box is simply a container that groups large sections of the page, for example
// am event detail view.
//
// Markup:
// <div class="box {$modifiers}">
//     <p>Here is some content within a box.</p>
// </div>
//
// .content             - Content box
//
// Styleguide 13.1

// Box vars
$oe-box-margin: emCalc(20px) 0 !default;
$oe-box-border-radius: $global-radius !default;
$oe-box-content-bg-color: #dae6f1 !default;
$oe-box-event-border-radius: 0 !default;
$oe-box-event-background: #fafafa !default;
$oe-box-event-padding: emCalc(5px) emCalc(5px) emCalc(10px) emCalc(5px) !default;
$oe-box-event-border-width: 0 5px 5px !default;

.box {
	@include border-radius($oe-box-border-radius);
	position: relative;
	margin: $oe-box-margin;
}

.box-header {
	@extend .clearfix;
	margin-bottom: emCalc(12px);
}

.box-actions {
	text-align: center;
}

// Content box
.box {
	&.content {
		background: $oe-box-content-bg-color;
	}
}

// Patient info box
.box {
	&.patient-info {
		background: #fafafa;
		padding: emCalc(12px);
		.box-title {
			font-size: emCalc(13px);
			color: #e49f10;
			margin: 0;
			padding: 0 0 emCalc(10px) 0;
		}
		.data-row {
			padding: emCalc(10px) 0;
			border-top: 1px dotted #ccc;
			&:last-child {
				padding-bottom: 0;
			}
			&.highlight {
				background: goldenrod;
				> .column {
					padding-left: emCalc(12px);
					padding-right: emCalc(12px);
				}
				.data-label {
					color: #eee;
				}
				.data-value {
					color: #666;
				}
			}
		}
		.field-label {
			color: #777;
		}
		.add-data {
			> fieldset > legend {
				margin-bottom: emCalc(25px);
			}
			.field-row {
				padding-bottom: emCalc(12px);
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		> .row {
			margin-left: 0;
			margin-right: 0;
			> .column {
				padding-left: 0;
			}
		}
		.toggle-trigger {
			height: 22px;
			width: 30px;
			background: #dadada;
			right: emCalc(12px);
			&:hover {
				background: #3665ff;
			}
		}
		.add-data {
			margin: emCalc(6px) 0 emCalc(12px) 0;
		}
	}
}

// Patient info episodes box
.box {
	&.patient-info {
		&.episodes {
			background: #dae6f1;
			.box-title {
				color: #4d5155;
				font-weight: bold;
				float: left;
				padding: 0;
			}
			.box-info {
				float: right;
				font-size: $default-font-size;
			}
		}
	}
}

// Patient info associated data box
.box {
	&.patient-info {
		&.associated-data {
			border: 1px solid #999;
			.box-title {
				@include border-radius(3px);
				background: #999;
				color: #fff;
				display: inline-block;
				padding: 5px 10px 5px 45px;
				position: relative;
				font-size: emCalc(12px);
				[class*="icon-"] {
					position: absolute;
					left: 0;
					top: -1px;
				}
			}
			.form {
				.buttons {
					text-align: right;
				}
			}
		}
	}
}