$oe-container-main-bg-color: #dae6f1 !default;
$oe-container-main-bg-image: image-url("_structure/gradient_bg.jpg") !default;
$oe-container-main-border-color: #b3b0ae !default;
$oe-container-main-border-width: 2px !default;
$oe-container-content-bg-image: image-url("_structure/help_top_grad.jpg") !default;

.container {
    @include grid-row;
    @include radius;
    background: $oe-container-main-bg-color $oe-container-main-bg-image 0 0 no-repeat;
    border: $oe-container-main-border-width solid $oe-container-main-border-color;
}

.content {
    @include clearfix;
    background: $oe-container-content-bg-image 0 bottom no-repeat;
}