// Main footer
//
// Styles for the main footer used through the application.
//
// Markup:
// <footer class="footer row">
//     <div class="large-3 columns">
//         <div class="info">
//             <a href="#" data-component="support-info-link">Served, with love, by openeyes.local</a>
//             <br />
//             <span class="copyright">&copy; Copyright OpenEyes Foundation 2011–2013</span>
//         </div>
//     </div>
//     <div class="large-6 large-centered columns help">
//         <div class="panel">
//             <ul class="inline-list">
//                 <li><strong>Need help?</strong></li>
//                 <li>helpdesk@example.com</li>
//                 <li><strong>12345678</strong></li>
//                 <li><a target="_new" href="/">Help Documentation</a></li>
//             </ul>
//         </div>
//     </div>
// </footer>
//
// Styleguide 5.1

// Footer variables
$oe-footer-bg-color: #b3b0ae !default;
$oe-footer-panel-bg-color: #e2dfdb !default;
$oe-footer-panel-radius: 3px !default;
$oe-footer-help-list-divider-color: #aaa !default;
$oe-footer-info-logo-font-size: emCalc(10px) !default;
$oe-footer-info-line-height: 1.5em !default;
$oe-footer-info-padding: emCalc(5px) !default;
$oe-footer-help-font-size: emCalc(11px) !default;
$oe-footer-help-panel-padding: emCalc(10px) !default;
$oe-footer-help-list-item-spacing: emCalc(16px) !default;
$oe-footer-help-list-item-bottom-margin: emCalc(4px) !default;
$oe-footer-copyright-color: #666 !default;
$oe-footer-logo-bg-image: image-url("_structure/openeyes_footer.png") !default;

.footer {
    @include clearfix;
    background: $oe-footer-bg-color $oe-footer-logo-bg-image no-repeat right top;
    .info {
        font-size: $oe-footer-info-logo-font-size;
        line-height: $oe-footer-info-line-height;
        padding-bottom: $oe-footer-info-padding;
        padding-top: $oe-footer-info-padding;
        .copyright {
            color: $oe-footer-copyright-color;
        }
    }
    .help {
        font-size: $oe-footer-help-font-size;
        text-align: left;
        @media #{$small} {
            text-align: center;
        }
        .panel {
            @include panel($oe-footer-panel-bg-color,
                $oe-footer-help-panel-padding
                $oe-footer-help-panel-padding
                $oe-footer-help-panel-padding - $oe-footer-help-list-item-bottom-margin
                $oe-footer-help-panel-padding
            );
            @include border-radius(0 0 $oe-footer-panel-radius $oe-footer-panel-radius);
            margin: 1px 0 0 0;
        }
        .inline-list {
            display: inline-block;
            margin: 0;
            li {
                border-right: 1px solid $oe-footer-help-list-divider-color;
                display: inline-block;
                line-height: 1;
                list-style: none;
                margin: 0 $oe-footer-help-list-item-spacing $oe-footer-help-list-item-bottom-margin 0;
                padding: 0 $oe-footer-help-list-item-spacing 0 0;
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border: 0;
                }
            }
        }
    }
}
