// Main footer
//
// Styles for the main footer used through the application.
//
// Markup:
// <footer class="footer row">
//     <div class="large-3 columns">
//         <div class="info">
//             <a href="#" data-component="support-info-link">Served, with love, by openeyes.local</a>
//             <br />
//             <span class="copyright">&copy; Copyright OpenEyes Foundation 2011–2013</span>
//         </div>
//     </div>
//     <div class="large-6 large-centered columns help">
//         <div class="panel">
//             <ul class="inline-list">
//                 <li><strong>Need help?</strong></li>
//                 <li>helpdesk@example.com</li>
//                 <li><strong>12345678</strong></li>
//                 <li><a target="_new" href="/">Help Documentation</a></li>
//             </ul>
//         </div>
//     </div>
// </footer>
//
// Styleguide 8.1

.footer {
	@extend .clearfix;
	background: #b3b0ae image-url("_structure/openeyes_footer.png") no-repeat right top;
	.info {
		font-size: emCalc(10px);
		line-height: 1.5em;
		padding-bottom: emCalc(5px);
		padding-top: emCalc(5px);
		.copyright {
			color: #666666;
		}
	}
	.help {
		font-size: emCalc(13px);
		text-align: left;
		@media #{$small} {
			text-align: center;
		}
		.panel {
			@include panel(#e2dfdb, emCalc(10px) emCalc(10px) emCalc(10px) - emCalc(4px) emCalc(10px));
			@include border-radius(0 0 3px 3px);
			margin: 1px 0 0 0;
		}
		.inline-list {
			display: inline-block;
			margin: 0;
			li {
				border-right: 1px solid #aaaaaa;
				display: inline-block;
				line-height: 1;
				list-style: none;
				margin: 0 emCalc(16px) emCalc(4px) 0;
				padding: 0 emCalc(16px) 0 0;
				&:last-child {
					padding-right: 0;
					margin-right: 0;
					border: 0;
				}
			}
		}
	}
}