/* Standard Forms */

form {
	margin: 0 0 $form-spacing;
}

/* Using forms within rows, we need to set some defaults */
form .row {
	@include form-row-base;
}

/* Label Styles */
label, .label {
	@include form-label;
	&.right {
		@include form-label(right, false);
		margin: 0;
	}
	&.inline {
		@include form-label(inline, false);
		margin: 0;
		display: inline-block;
		padding: 0;
	}
}

/* We use this to get basic styling on all basic form elements */

@include input-form-fields {
	@include form-element;
	@if not $input-include-glowing-effect {
		@include single-transition(all, 0.15s, linear);
	}
	margin: 0;
}

/* Normalize file input width */
input[type="file"] {
	width: 100%;
}

/* We add basic fieldset styling */
fieldset {
	@include fieldset;
}

/* Error Handling */

.error input,
input.error,
.error textarea,
textarea.error {
	@include form-error-color;
}

.error label,
label.error {
	@include form-label-error-color;
}

.error small,
small.error {
	@include form-error-message;
}

// Common forms
//
// Forms used throughout the application. Make note of how the form is layed out,
// using the grid system.
//
// Markup:
// <form class="form {$modifiers}">
//     <div class="row">
//         <div class="small-4 columns">
//             <label for="username" class="inline">Username:</label>
//         </div>
//         <div class="small-8 columns">
//             <input type="text" id="username" placeholder="Enter username...">
//         </div>
//     </div>
//     <div class="row">
//         <div class="small-4 columns">
//             <label for="password" class="inline">Password:</label>
//         </div>
//         <div class="small-8 columns">
//             <input type="password" id="password" placeholder="Enter password...">
//         </div>
//     </div>
//     <div class="row text-right">
//         <div class="small-12 columns">
//             <button type="submit">
//                 Login
//             </button>
//         </div>
//     </div>
// </form>
//
// .panel             - A fancy form panel
// .login             - A login form
// .panel.login       - A login form panel
//
// Styleguide 9.1

// Forms variables
$oe-form-panel-bg-color: #e2dfdb !default;
$oe-form-panel-padding: 30px !default;
$oe-form-panel-radius: 10px !default;
$oe-form-panel-border-width: 2px !default;
$oe-form-panel-border-color: #666666 !default;
$oe-form-login-margin-top: 50px !default;
$oe-form-login-margin-bottom: 100px !default;
$oe-form-input-radius: 3px !default;

.form {
	&.panel {
		@include border-radius($oe-form-panel-radius);
		background: $oe-form-panel-bg-color;
		border: $oe-form-panel-border-width solid $oe-form-panel-border-color;
		padding: $oe-form-panel-padding;
	}
	&.login {
		margin: $oe-form-login-margin-top auto $oe-form-login-margin-bottom auto;
		max-width: 488px;
		label {
			font-size: emCalc(15px);
		}
	}
	[type="submit"] {
		margin: 0;
	}
}

label {
	&.highlight {
		background: #e3f0f2;
		padding: 4px 12px 5px 8px;
		@include border-radius(3px);
		&:hover {
			background: #fff;
		}
	}
	input[type="checkbox"],
	input[type="radio"] {
		margin: 0;
	}
}

// Field sizes
//
// You should control the width of form fields by the field container (usually
// using the grid.) There are, however, different field classses that change the
// font-size and padding, and a fixed-with class to control the width. Please be
// aware that if you use the fixed-width class, you  will need to manually accomodate
// this width at different breakpoints.
//
// Markup:
// <input type="text" class="{$modifiers}" />
//
// .small             - A small form field
// .small.fixed-width - A small form field with a fixed width
//
// Styleguide 9.2

// Field sizes vars
$oe-form-field-small-padding: emCalc(3px) emCalc(4px) !default;
$oe-form-field-fixed-width: emCalc(110px) !default;

@include input-form-fields {
	@include border-radius($oe-form-input-radius);
	height: auto;
	&.small {
		padding: $oe-form-field-small-padding;
		&.fixed-width {
			width: $oe-form-field-fixed-width;
		}
	}
}

// Field rows
.field-row {
	padding-bottom: $form-spacing;
}
.form {
	.field-row:last-child {
		padding: 0;
	}
}