// Main header
//
// The header contains the logo and (optionally) patient info, and (optionally)
// user info.
//
// Markup:
// <header class="header">
//     <div class="logo">
//         OpenEyes
//     </div>
// </header>
//
// Styleguide 4.1

// Header variables
$oe-header-height: 70px !default;
$oe-header-logo-bg-image: image-url("_structure/openeyes.png") !default;
$oe-header-logo-width: 210px !default;
$oe-header-logo-height: 70px !default;

.header {
    min-height: $oe-header-height;
    .logo {
        @include hide-text;
        background: $oe-header-logo-bg-image no-repeat;
        background-size: 100%;
        max-width: $oe-header-logo-width;
        height: $oe-header-logo-height;
        margin-left: -1 * $column-gutter / 2;
    }
}

// User panel
//
// This panel contains the logged-in user information as well as the user-specific
// application navigation.
//
// Markup:
// <div class="user-panel radius">
//     <ul class="inline-list user-navigation right">
//         <li><a href="#">Home</a></li>
//         <li><a href="#">Theatre Diaries</a></li>
//         <li><a href="#">Partial bookings waiting list</a></li>
//         <li><a href="#">Logout</a></li>
//     </ul>
//     <div class="row">
//         <div class="small-4 large-4 columns">
//             <div class="user-id">
//                 You are logged in as:
//                 <div class="user-name"><strong>Enoch Root</strong></div>
//             </div>
//         </div>
//         <div class="small-8 large-8 columns">
//             <div class="user-firm text-right">
//                 Site: <strong>City Road</strong>,
//                 Firm: <strong>Barton Keith (Glaucoma)</strong>
//                 (<a href="#">Change</a>)
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 4.2

// User panel variables
$oe-header-user-panel-font-size: emCalc(13px) !default;
$oe-header-user-panel-bg-image: image-url("_elements/icons/user/idcard_bg.png") !default;
$oe-header-user-panel-bg-repeat: no-repeat !default;
$oe-header-user-panel-bg-position: left bottom !default;
$oe-header-user-panel-bg-color: #dae6f1 !default;
$oe-header-user-panel-padding: 0 emCalc(10px) emCalc(5px) emCalc(10px) !default;

// User panel navigation variables
$oe-header-user-panel-navigation-font-size: $oe-header-user-panel-font-size !default;
$oe-header-user-panel-navigation-item-margin: emCalc(4px) !default;
$oe-header-user-panel-navigation-anchor-bg-color: #cdd9e3 !default;
$oe-header-user-panel-navigation-anchor-padding: emCalc(8px) emCalc(5px) emCalc(2px) emCalc(5px) !default;
$oe-header-user-panel-navigation-anchor-hover-bg-color: white !default;
$oe-header-user-panel-info-font-size: $oe-header-user-panel-font-size !default;

.user-panel {
    @include clearfix;
    @include panel($oe-header-user-panel-bg-color, $oe-header-user-panel-padding);
    @include border-radius($global-radius);
    background: {
        image: $oe-header-user-panel-bg-image;
        repeat: $oe-header-user-panel-bg-repeat;
        position: $oe-header-user-panel-bg-position;
    }
    @media #{$small} {
        // border-width: 0 $oe-header-patient-panel-border-width $oe-header-patient-panel-border-width $oe-header-patient-panel-border-width;
        @include border-radius(0 0 $global-radius $global-radius);
    }
    .user-navigation {
        margin-left: 0;
        margin-bottom: emCalc(8px);
        li {
            font-size: $oe-header-user-panel-navigation-font-size;
            margin: 0 0 0 $oe-header-user-panel-navigation-item-margin;
        }
        a {
            background: $oe-header-user-panel-navigation-anchor-bg-color;
            padding: $oe-header-user-panel-navigation-anchor-padding;
            &.selected,
            &:hover,
            &:focus {
                background: $oe-header-user-panel-navigation-anchor-hover-bg-color;
            }
        }
    }
    .user-id, .user-firm {
        font-size: emCalc(13px);
    }
    .row {
        clear: both;
    }
}

// Patient panel
//
// This panel contains the information for the current patient.
//
// Styleguide 4.3

$oe-header-patient-panel-bg-color-start: #FFF2D8 !default;
$oe-header-patient-panel-bg-color-stop: #FFE6B3 !default;
$oe-header-patient-panel-bg-image: image-url("_elements/icons/patient/patient-id_small.png") !default;
$oe-header-patient-panel-padding: emCalc(9px) emCalc(10px) !default;
$oe-header-patient-panel-border-color: #ffb212 !default;
$oe-header-patient-panel-border-width: 2px !default;
$oe-header-patient-panel-default-font-size: emCalc(12px) !default;
$oe-header-patient-details-font-size: emCalc(13px) !default;
$oe-header-patient-panel-details-surname-font-size: emCalc(14px) !default;
$oe-header-patient-panel-details-name-font-size: emCalc(13px) !default;
$oe-header-patient-details-anchor-color: black !default;
$oe-header-patient-details-padding-bottom: emCalc(4px) !default;
$oe-header-patient-nhs-number-radius: 3px !default;
$oe-header-patient-nhs-number-bg-color: #107ebd !default;
$oe-header-patient-nhs-number-color: #fff !default;
$oe-header-patient-nhs-number-padding: emCalc(2px) emCalc(4px) emCalc(2px) 33px !default;
$oe-header-patient-nhs-number-bg-image: image-url("_elements/icons/nhs_tiny.png") !default;

.patient-panel {
    @include panel($padding:$oe-header-patient-panel-padding);
    @include border-radius($global-radius);
    @include background($oe-header-patient-panel-bg-image, linear-gradient(top, $oe-header-patient-panel-bg-color-start 0%, $oe-header-patient-panel-bg-color-stop 100%));
    background: {
        repeat: no-repeat, no-repeat;
        position: 98% 2px, top;
    }
    border: {
        color: $oe-header-patient-panel-border-color;
        style: solid;
        width: $oe-header-patient-panel-border-width;
    };
    @media #{$small} {
        border-width: 0 $oe-header-patient-panel-border-width $oe-header-patient-panel-border-width $oe-header-patient-panel-border-width;
        @include border-radius(0 0 $global-radius $global-radius);
    }
    .patient-details {
        padding-bottom: $oe-header-patient-details-padding-bottom;
        a {
            color: $oe-header-patient-details-anchor-color;
        }
    }
    .patient-surname {
        font: {
            size: $oe-header-patient-panel-details-surname-font-size;
            weight: bold;
        }
        text-transform: uppercase;
    }
    .patient-name {
        font-size: $oe-header-patient-panel-details-name-font-size;
    }
    .hospital-number, .nhs-number, .patient-summary-anchor {
        font-size: $oe-header-patient-panel-default-font-size;
    }
    .nhs-number {
        @include border-radius($oe-header-patient-nhs-number-radius);
        background: {
            color: $oe-header-patient-nhs-number-bg-color;
            image: $oe-header-patient-nhs-number-bg-image;
            position: center left;
            repeat: no-repeat;
        }
        color: $oe-header-patient-nhs-number-color;
        display: inline-block;
        padding: $oe-header-patient-nhs-number-padding;
    }
}
