// Lists
//
// Default lists styling for ordered, unordered and definition lists.
//
// Markup:
// <!-- Unordered list -->
// <ul>
//     <li>Unordered</li>
//     <li>List</li>
// </ul>
// <!-- Ordered list -->
// <ol>
//     <li>Ordered</li>
//     <li>List</li>
// </ol>
// <!-- Description list -->
// <dl>
//   <dt>Description list</dt>
//   <dd>Encloses a list of pairs of terms and descriptions.</dd>
// </dl>
//
// Styleguide 4.1

ul,
ol,
dl {
    font-size: 1em;
    line-height: 1.6;
    li {
        font-size: $default-font-size;
    }
}

// Inline Lists
//
//
// Styleguide 4.2
.inline-list {
    @include inline-list;
}