// Default multi-select style
.multi-select {
	.remove-all {
		display: inline-block;
		font-size: $default-font-size;
		margin-left: 10px;
	}
	.remove-one {
		@include opacity(0.5);
		@extend %hide-text;
		background: image-url("_elements/icons/event-optional/element-remove.png") no-repeat -10px -2px;
		display: inline-block;
		height: 15px;
		margin-left: 2px;
		vertical-align: top;
		width: 14px;
		margin-top: 1px;
		&:hover {
			@include opacity(1);
		}
	}
}

.multi-select-selections {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		@extend .pill;
		background: #ffe;
		margin-bottom: 0;
		margin-top: 0;
		padding: 4px 6px;
		position: relative;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

// Multi-select list style
.multi-select-list {
	.multi-select-selections {
		li {
			display: block;
			@include border-radius(0);
			background: #fff;
			margin: 0;
			padding: emCalc(2px) emCalc(5px);
		}
	}
}