.multi-select {
	.remove-all {
		display: inline-block;
		font-size: $default-font-size;
		margin-left: 10px;
	}
	.remove-one {
		@include opacity(.5);
		@extend %hide-text;
		background: image-url("_elements/icons/event-optional/element-remove.png") no-repeat -10px -2px;
		display: inline-block;
		height: 15px;
		margin-left: 2px;
		vertical-align: top;
		width: 14px;
		&:hover {
			@include opacity(1);
		}
	}
	.pill {
		background: #ffe;
		margin-bottom: 0;
		margin-top: 0;
		padding: 4px 6px;
		position: relative;
	}
}