// Side navigation
//
// A navigation component for displaying page-specifc navigation links in a sidebar.
//
// Markup:
// <ul class="side-nav">
//     <li><a href="#">Link 1</a></li>
//     <li><a href="#">Link 2</a></li>
//     <li><a href="#">Link 3</a></li>
// </ul>
//
// Styleguide 11.1
.side-nav {
	@include side-nav;
	padding-top: 0;
}

// User navigation
//
// This panel contains the logged-in user information as well as the user-specific
// application navigation.
//
// Markup:
// <ul class="inline-list navigation-user">
//     <li class="selected"><a href="#">Home</a></li>
//     <li><a href="#">Theatre Diaries</a></li>
//     <li><a href="#">Partial bookings waiting list</a></li>
//     <li><a href="#">Logout</a></li>
// </ul>
//
// Styleguide 11.2

// User panel navigation variables
$oe-navigation-user-font-size: emCalc(13px) !default;
$oe-navigation-user-item-margin: emCalc(4px) !default;
$oe-navigation-user-anchor-bg-color: #cdd9e3 !default;
$oe-navigation-user-anchor-padding: emCalc(8px) emCalc(5px) emCalc(2px) emCalc(5px) !default;
$oe-navigation-user-anchor-hover-bg-color: white !default;
$oe-navigation-user-anchor-selected-bg-color: #1e55c1 !default;
$oe-navigation-user-anchor-selected-color: white !default;

.navigation {
	&.user {
		margin-left: 0;
		margin-bottom: emCalc(8px);
		li {
			font-size: $oe-navigation-user-font-size;
			margin: 0 0 0 $oe-navigation-user-item-margin;
			&.selected {
				a {
					background: $oe-navigation-user-anchor-selected-bg-color;
					color: $oe-navigation-user-anchor-selected-color;
				}
			}
		}
		a {
			background: $oe-navigation-user-anchor-bg-color;
			padding: $oe-navigation-user-anchor-padding;
			&:hover,
			&:focus {
				background: $oe-navigation-user-anchor-hover-bg-color;
			}
		}
	}
}