/* Default Pagination */
ul.pagination {
	@include pagination;
	li {
		margin: 0;
		&:not(.label) {
			border-right: 1px solid #999;
		}
		&.current {
			border: 0;
		}
		&:last-child {
			border: 0;
			a {
				padding-right: 0;
			}
		}
	}

}

// Table pagination.
tfoot.pagination-container {
	.pagination {
		margin: 0;
		li {
			font-size: 1.2em;
			font-weight: normal;
		}
	}
}

/* Pagination centered wrapper */
.pagination-centered {
	@include pagination-container(true);

	ul.pagination {
		@include pagination(true, false);
	}
}