.quicklook {
	@extend .tooltip;
	background: #fff;
	border: 1px solid #3665ff;
	line-height: 1.3;
	padding: 5px;
	width: 200px;
	.event-name {
		font-weight: bold;
		padding-bottom: 3px;
	}
	.event-info {
		font-size: 11px;
	}
	.event-issue {
		background: #fdf2e5 image-url("_elements/icons/event/status/alert.png") top left no-repeat;
		color: #600;
		font-size: 11px;
		margin-top: 7px;
		padding: 5px 0 5px 20px;
	}
	.events & {
		left: 140px;
		top: -5px;
		z-index: 1;
	}
}