.sidebar {
	&.episodes-and-events {
		padding: emCalc(5px) emCalc(8px) 0 0;
		.add-episode {
			margin-left: 2px;
		}
	}
}

.sidebar {
	&.admin {
		h2 {
			border-bottom: 1px dotted #ccc;
			margin-bottom: emCalc(5px);
			padding-bottom: emCalc(5px);
		}
	}
}