// Generic tables
//
// Markup:
// <table class="{$modifiers}">
//     <thead>
//         <tr>
//             <th>Cell header 1</th>
//             <th>Cell header 2</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>Cell 1</td>
//             <td>Cell 2</td>
//         </tr>
//         <tr>
//             <td>Cell 1</td>
//             <td>Cell 2</td>
//         </tr>
//     </tbody>
// </table>
//
// .grid             - Styles a table like a grid (with borders)
//
// Styleguide 6.1

// Table vars
$oe-table-header-cell-bg-color: #dddddd !default;
$oe-table-header-cell-font-size: emCalc(11px) !default;
$oe-table-grid-cell-border-color: #cccccc;
$oe-table-cell-font-size: emCalc(13px);
$oe-table-cell-label-font-size: emCalc(16px);
$oe-table-footer-cell-font-size: emCalc(11px);
$oe-table-cell-font-size-reset: 1em * 1em / $oe-table-cell-font-size;
$oe-table-footer-cell-font-size-reset: 1em * 1em / $oe-table-footer-cell-font-size;

table {
	min-width: 100%;
	@include table;
	@include all-form-fields {
		font-size: 1em;
	}

	tr {
		th {
			text-align: left;
			background: $oe-table-header-cell-bg-color;
			font-size: $oe-table-header-cell-font-size;
		}
		td {
			font-size: $oe-table-cell-font-size;
		}
		td, th {
			button, .button {
				font-size: $oe-button-primary-font-size / (1em / $oe-table-cell-font-size-reset);
				&.small {
					font-size: $oe-button-small-font-size / (1em / $oe-table-cell-font-size-reset);
				}
			}
		}
		&.odd {
			background: $table-bg;
		}
		&.even {
			background: $table-even-row-bg;
		}
	}
	tfoot {
		font-weight: normal;
		tr {
			th,
			td {
				font-size: $oe-table-footer-cell-font-size;
				font-weight: bold;
				button, .button {
					font-size: $oe-button-primary-font-size / (1em / $oe-table-footer-cell-font-size-reset);
					&.small {
						font-size: $oe-button-small-font-size / (1em / $oe-table-footer-cell-font-size-reset);
					}
				}
			}
			&.even,
			&.alt,
			&:nth-of-type(even) {
				background: none;
			}
		}
		&.pagination-container {
			.pagination {
				margin: 0;
				li {
					font-size: 1.2em;
					font-weight: normal;
				}
			}
		}
	}
	&.grid {
		th, td {
			border-right: 1px solid $oe-table-grid-cell-border-color;
		}
		th:last-child,
		td:last-child {
			border-right: none;
		}
		tfoot {
			border-top: 1px solid $table-border-color;
		}
	}
	.clickable {
		cursor: pointer;
		&:hover {
			background: #3665ff;
			td {
				color: #fff;
			}
		}
	}
	// Form fields within tables
	td, th {
		label {
			font-size: $oe-table-cell-label-font-size;
		}
	}
	button, .button {
		font-size: 1em;
	}
}

// Plain table
//
// Markup:
// <table class="plain">
//     <thead>
//         <tr>
//             <th>Heading 1</th>
//             <th>Heading 2</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>
//                 Cell 1
//             </td>
//             <td>
//                 Cell 2
//             </td>
//         </tr>
//     </tbody>
// </table>
//
// Styleguide 6.4

table {
	&.white {
		&, tr:nth-of-type(even) {
			background: #fff;
		}
	}
}

table {
	&.plain {
		border: 0;
		&, tr:nth-of-type(even) {
			background: transparent;
		}
	}
}

table {
	&.blank {
		background: none;
		border: 0;
		width: auto;
		min-width: 0;
		thead {
			background: none;
			th {
				background: none;
				font-weight: normal;
				font-size: $default-font-size;
				padding-left: 0;
			}
		}
		tfoot {
			background: none;
			td {
				padding: $table-head-padding;
				padding-left: 0;
				padding-right: 0;
			}
		}
		tr {
			background: none;
		}
		td {
			padding: 2px 10px 2px 0;
			img {
				height: auto;
				width: auto;
			}
		}
	}
}

// Patient episodes table
table {
	&.patient-episodes {
		border-bottom: 15px solid #ddd;
		td, th {
			padding: 10px;
		}
		.speciality {
			background: #eae4ce;
			td {
				color: #69634f;
				font-size: emCalc(12px);
			}
		}
	}
}

// Patient associated data table
table {
	&.patient-data {
		th, td {
			background: #fff;
		}
	}
}

// Patient contacts table
table {
	&.patient-contacts {
		margin-top: emCalc(10px);
		td {
			font-size: emCalc(11px);
		}
		th, td {
			padding-left: 10px;
			padding-right: 10px;
		}
		td:first-child {
			font-size: $default-font-size;
		}
	}
}