/* Tables */
table {
    @include table;
    @include all-form-fields {
        margin: 0;
    }
    min-width: 100%;
    tr {
        th {
            text-align: left;
            background: #ddd;
            font-size: emCalc(11px);
        }
    }
    tfoot {
        font-weight: normal;
    }
    &.grid {
        th {
            border-right: 1px solid #bbb;
        }
        td {
            border-right: 1px solid #ccc;
        }
        th:last-child,
        td:last-child {
            border-right: none;
        }
    }
}
