/* Tables */
table {
    @include table;
    min-width: 100%;
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select,
    button,
    .button {
        margin: 0;
    }
    th {
        text-align: left;
    }
    tfoot {
        font-weight: normal;
    }
}