// Base Tabs
//
// Tabs are dependant on inline-lists.
//
// Markup:
// <ul class="inline-list">
//     <li><a href="#">Tab 1</a></li>
//     <li><a href="#">Tab 2</a></li>
// </ul>
//
// Styleguide 18.1

.tabs {
	margin: 0;
}

// Event action tabs
//
// Markup:
// <ul class="inline-list tabs event-actions">
//     <li class="selected">
//         <a href="#">View</a>
//     </li>
//     <li>
//         <a href="#">Edit</a>
//     </li>
// </ul>
//
// Styleguide 18.3
.tabs {
	&.event-actions {
		float: left;
		li {
			margin: 0 4px 0 0;
			&.selected {
				a {
					background: #a29d8a;
					color: #fff;
				}
			}
		}
		a {
			background: #fffee7;
			padding: 5px 10px 3px 10px;
			@include border-radius(3px 3px 0 0);
			&:hover {
				background: #3665ff;
				color: #fff;
			}
		}
	}
}