.hide-text {
	@include hide-text;
}

.hide-offscreen {
	@include hide-text-absolutely;
}

.hide, .hidden {
	display: none;
}

.inactive-form {
  display: none;
  .inactive & {
    display: block;
  }
}

.active-form {
  .inactive & {
    display: none;
  }
}