// Admin box
.box {
  &.admin {
    @include panel;
    @include radius;
    background: #fafafa;
    margin: 0 0 $oe-box-gutter 0;
    h2 {
      margin-bottom: emCalc(12px);
    }
    .table-actions {
      select {
        width: auto;
      }
    }
    .box-header {
      margin: 0;
      .box-title {
        float: left;
      }
    }
    .box-actions {
      float: right;
    }
  }
}