.alert-box {
	&.patient {
		background-color: #eb5911;
		border: 2px solid #fff;
		color: #fff;
		&.with-icon {
			background-image: image-url("_elements/icons/box/patient-warning.png");
			padding-bottom: emCalc(14px);
			padding-top: emCalc(14px);
		}
	}
}