.alert-box {
	&.watermark {
		@include border-radius(0);
		background: #f00;
		border: 0;
		color: #fff;
		font-size: emCalc(16px);
		margin-bottom: emCalc(10px);
		padding: emCalc(8px);
		text-align: center;
		&.admin {
			background: #DAA520;
			&.stuck {
				bottom: 0;
				margin: 0;
				position: fixed;
				width: 100%;
				z-index: 100;
			}
		}
		&.description {
			background: #ffc0cb;
			color: #666;
			p {
				font-size: emCalc(12px);
				margin: 0;
			}
		}
	}
}