.alert-box {
	&.success, &.info {
		@include alert-style($success-color);
		border-color: #99cc99;
		&.with-icon {
			background-image: image-url("_elements/icons/box/info.png");
			min-height: 36px;
			padding-bottom: emCalc(14px);
			padding-top: emCalc(14px);
		}
	}
}