/* Patient Summary */

/* ====== PATIENT - SUMMARY ====== */ 
.patientinfo h4 { padding:3px 0 8px 0; font-size:12px; color:#e49f10; border-bottom:1px dotted #ccc; margin-bottom: 0; }
.patientinfo .infogroup  {	background:inherit;  border-bottom:1px dotted #ccc; padding:10px 0; }
.patientinfo .infogroup:last-child { border-bottom:none; }
.patientinfo .infogroup .label { color:#777;  }
.patientinfo .infogroup .info { margin-left: 180px; font-size: 15px; }

/* Clinicians only info */
.clinicianinfo { border:1px solid #999; position:relative; }
.clinicianinfo h4 { display:inline-block; padding:5px 10px 5px 45px; margin-bottom:10px; font-size:12px; color:#fff; background:#999; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.clinicianinfo h4 > .patienticon { position:absolute; top:4px; left:10px; z-index:1; width:36px; height:35px; background:transparent url(../../img/_elements/icons/patient/clinician-hd_flag.png) top left no-repeat;  }
.clinicianinfo .editinforow { margin-bottom:15px; }
.clinicianinfo .fuzzydate { font-family:Georgia,Constantia,Lucida,Times,serif; font-style: italic; font-size:13px; color:#666; }

/* actions: Edit and Hide/Show  */
.useractions { position:absolute; top:0; right:0; }
.useractions .tabbtn { margin-right:8px; }

/* stickynote */
.infogroup .stickynote textarea { width:100%; }


