<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>OpenEyes</title>

	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="/css/style_new.css" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico"/>

	<script src="/js/vendor/modernizr.js"></script>
	<script src="/js/components/jquery/jquery.min.js"></script>
</head>
<body>
	<div class="main container">
		<div class="content container">
			<div style="height:600px"></div>
		</div>
		<footer class="footer container">
			footer
		</footer>
	</div>
</body>
</html>
