<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>OpenEyes</title>

	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="/css/style_new.css" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico"/>

	<script src="/js/vendor/modernizr.js"></script>
	<script src="/js/components/jquery/jquery.min.js"></script>
</head>
<body>
	<div class="container" role="main">

		<!-- header -->
		<header class="header">
			<div class="logo">
				OpenEyes
			</div>
		</header>
		<!-- /.header -->

		<!-- content -->
		<div class="content">
			<h1>Please login</h1>
			<div style="height:600px"></div>
		</div>
		<!-- /.content -->

		<!-- footer -->
		<footer class="footer row">
			<div class="large-3 columns">
				<div class="info">
					<a href="#" data-component="support-info-link">Served, with love, by openeyes.local</a>
					<br />
					<span class="copyright">&copy; Copyright OpenEyes Foundation 2011–2013</span>
				</div>
			</div>
			<div class="large-6 large-centered columns help">
				<div class="panel">
					<ul class="inline-list">
						<li><strong>Need help?</strong></li>
						<li>helpdesk@example.com</li>
						<li><strong>12345678</strong></li>
						<li><a target="_new" href="/">Help Documentation</a></li>
					</ul>
				</div>
			</div>
		</footer>
		<!-- /.footer -->
	</div>
</body>
</html>
