.box {
  &.dashboard {
    @include panel;
    background: #fff;
    border-color: #d9d9d9;
    margin-top: 0;
    padding: 5px;
    .box-title {
      font-size: rem-calc(13px);
      color: #e49f10;
      margin: 0 100px 0 0;
      padding: 0 0 8px 0;
      @media print {
        font-weight: bold;
      }
    }
    p:last-child {
      margin: 0;
    }
    h1,h2,h3,h4,h5 {
      margin-bottom: 3px;
      margin-top: 0;
      line-height: 1;
    }
  }
}

.sortable-anchor {
  color: #0b59da;
  right: 25px;
  top: 4px;
  position: absolute;
  font-size: 0.5em;
  padding: 1px;
  border: #0b59da 1px solid;
  cursor: pointer;
}

.dashboard-container .ui-sortable-helper .sortable-anchor {
  cursor: move;
}

