// Alert boxes
//
// Markup:
// <div class="alert-box {$modifiers}">
//     Alert! Some information the user needs to see, good or bad.
//     <a href="#" class="close">&times;</a>
// </div>
//
// .success             	- Success information
// .success.with-icon   	- Success information with icon
// .alert               	- Alert information
// .alert.with-icon     	- Alert information with icon
// .issue               	- Issue information
// .issue.with-icon     	- Issue information with icon
// .patient					- Patient warning
// .patient.with-icon 		- Patient warning with icon
// .warning					- Warning
// .watermark				- Watermark
// .watermark.admin			- Admin watermark
// .watermark.description	- Description watermark
//
// Styleguide 12.1

// Base alert-box styling.
.alert-box {
	@include alert(#e2e2e2);
	@include radius(5px);
	.messages.patient & {
		margin: .75em 0 0 0;
	}
	.close {
		@include alert-close;
	}
	ul {
		line-height: 1.4;
		margin: 0;
	}
	li {
		font-size: 1em;
		margin-left: 1.4em;
	}
	p {
		font-size: 1em;
		margin-bottom: 1em;
	}
	&.with-icon {
		background-position: left top;
		background-repeat: no-repeat;
		padding-left: emCalc(60px);
	}
	&.bottom {
		margin-bottom: 0;
		margin-top: emCalc(20px);
	}
	.spinner {
		float: left;
		margin-right: 10px;
	}
}

@import "alert-boxes/alert";
@import "alert-boxes/issue";
@import "alert-boxes/patient";
@import "alert-boxes/success";
@import "alert-boxes/warning";
@import "alert-boxes/watermark";