// Boxes
//
// A box is simply a container that groups large sections of the page, for example
// am event detail view.
//
// Markup:
// <div class="box {$modifiers}">
//     <p>Here is some content within a box.</p>
// </div>
//
// .content             - Content box
//
// Styleguide 13.1

// Box vars
$oe-box-gutter: $column-gutter / 2;
$oe-box-margin: $oe-box-gutter 0 !default;
$oe-box-border-radius: $global-radius !default;

.box {
	@include border-radius($oe-box-border-radius);
	position: relative;
	margin: $oe-box-margin;
}

.box-header {
	@extend .clearfix;
	margin-bottom: emCalc(12px);
}

.box-actions {
	text-align: center;
}

@import "boxes/admin";
@import "boxes/content";
@import "boxes/generic";
@import "boxes/patient-info";
@import "boxes/transport";