.pill {
	@include border-radius(5px);
	display: inline-block;
	font-size: $default-font-size;
	margin: 2px;
	padding: 3px 5px;
	&.high,
	&.severe,
	&.high-risk,
	&.proliferative,
	&.maculopathy {
		background: #f00;
		color: #fff;
	}
	&.moderate,
	&.pre-prolif {
		background: #fc0;
	}
	&.mild,
	&.early,
	&.background,
	&.peripheral,
	&.ungradable {
		background: #36f;
	}
	&.low,
	&.none {
		background: #9c0;
	}
	&.risk {
		display: block;
		margin: 0;
		padding: 5px;
	}
}