.toggle-trigger {
	display: block;
	height: 20px;
	position: absolute;
	right: 2px;
	top: 0;
	text-align: center;
	width: 21px;
	@include border-radius(0 0 3px 3px);
	.icon-showhide {
		margin: 4px 0 0 0;
		vertical-align: top;
	}
	&:hover {
		background: #3665ff;
	}
	&.toggle-hide {
		.icon-showhide {
			@include sprite-background-position($oe-sprite-icon-showhide, "hide");
		}
		&:hover {
			.icon-showhide {
				@include sprite-background-position($oe-sprite-icon-showhide, "hide-hover");
			}
		}
	}
	&.toggle-show {
		.icon-showhide {
			@include sprite-background-position($oe-sprite-icon-showhide, "show");
		}
		&:hover {
			.icon-showhide {
				@include sprite-background-position($oe-sprite-icon-showhide, "show-hover");
			}
		}
	}
}