/* ====== DIARY (hidden in page) ====== */
@media print {
	#diaryTemplate {
		display: block;
		background: #fff;
		#d_title {
			text-align: center;
			font-size: 14pt;
			font-weight: bold;
			border-bottom: 2px solid grey;
			padding-bottom: 0.3em;
		}
		.d_group {
			padding-bottom: 2em;
			margin-bottom: 2em;
			border-bottom: 3px solid grey;
		}
		table.d_overview {
			width: 100%;
			border-collapse: separate;
			border-spacing: 0.2em;
			td {
				border-bottom: 1px dotted grey;
				padding: 0em 1em;
				font-size: 12pt;
			}
		}
		.d_info {
			display: inline-block;
			margin-right: 3em;
			> strong {
				margin-left: 0.5em;
				font-size: 14pt;
			}
		}
		table.d_data {
			width: 97%;
			margin-left: 1em;
			text-align: left;
			th {
				padding: 0.5em 0.75em;
				font-size: 12pt;
			}
			td {
				padding: 0.15em 0.15em 0.15em 0.3em;
				border: 1px solid #CCC;
				font-size: 12pt;
			}
		}
	}
}