/* line 18, ../../sass/components/admin.scss */
#admin_workflow_steps .selectable {
  cursor: pointer;
}
/* line 20, ../../sass/components/admin.scss */
#admin_workflow_steps .selectable:hover {
  background: #3665ff;
}
/* line 22, ../../sass/components/admin.scss */
#admin_workflow_steps .selectable:hover td {
  color: #fff;
}
/* line 27, ../../sass/components/admin.scss */
#admin_workflow_steps .selected {
  background: #3665ff;
}
/* line 29, ../../sass/components/admin.scss */
#admin_workflow_steps .selected td {
  color: #fff;
}
