.panel {
  &.specialty {
    .panel {
      padding: 2px;
    }
    .sidebar-grouping {
      white-space: nowrap;
      & label {
        font-size: 0.7em;
        display: inline;
      }
    }
    ol.subspecialties {
      margin-left: 2px;
      margin-bottom: 2px;
    }
    .subspecialty {
      list-style: none;
      @include border-radius(4px 4px 4px 4px);
      background: white;
      padding: 3px;
      margin-bottom: 2px;
      &.selected {
        background: #aaaaaa;
      }
      .tag {
        @include border-radius(2px 2px 2px 2px);
        text-align: center;
        float: right;
        padding: 1px;
        width: 23px;
        background-color: lightgrey;
      }
    }
    .grouping-picker {
      margin-left: 5px;
      width: inherit;
    }
    .list-controls {
      font-size: 0.3em;
    }
    .grouping-container h3 {
      font-size: 0.8em;
    }
    ol.events {
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
      border-color: #dad3ba;
      border-width: 3px 1px 3px 0;
      margin: 0 0 5px 0;
      padding: 5px 1px 5px 0;
      position: relative;
      border-top: 1px dotted #cccccc;
      margin: 5px 0 0 0;
      padding: 4px 0 0 0;
      a {
        @include border-radius(0 6px 6px 0);
        display: block;
        font-size: $default-font-size;
        padding: 0 4px 0 2px;
        &:hover {
          background: #3665ff;
          color: white;
        }
      }
      li {
        white-space: nowrap;
        list-style: none;
        margin: 0 0 4px 0;
        position: relative;
        &.lowlight {
          a {
            color: grey;
            &:hover {
              color: lightgrey;
            }
          }
        }
        .tag {
          @include border-radius(2px 2px 2px 2px);
          text-align: center;
          padding: 1px;
          width: 16px;
          background-color: lightgrey;
          font-size: 0.3em;
          position: absolute;
          top: 50%;
          height: 70%;
          margin-top: -5%;
          margin-left: 7px;
        }
      }
      .event-type {
        display: inline-block;
        width: 35px;
        background: image-url("_elements/icons/event/status/quicklook.png") right top no-repeat;
        &:hover {
          background-image: image-url("_elements/icons/event/status/quicklook-hover.png");
        }
        &.alert {
          background-image: image-url("_elements/icons/event/status/alert.png");
          &:hover {
            background-image: image-url("_elements/icons/event/status/alert-hover.png");
          }
        }
      }
      .ev_date {
        padding-left: 10px;
        background: image-url("_elements/icons/event/small/datetime-past.png") left center no-repeat;
      }
      .event-date {
        display: inline-block;
        padding-left: 20px;
        margin-left: -3px;
        .day,
        .mth,
        .yr {
          display: inline-block;
        }
        .day {
          width: rem-calc(21px);
          text-align: right;
          padding-right: 4px;
        }
        .mth {
          width: rem-calc(28px);
        }
        .yr {
          width: rem-calc(32px);
        }
      }
      // Selected state
      li {
        &.selected {
          a {
            background: #aaaaaa image-url("_elements/icons/event/event_open_arrow.png") right center no-repeat;
            color: white;
          }
          .event-type {
            &.alert {
              background-image: image-url("_elements/icons/event/status/alert-hover.png");
            }
          }
        }
      }
    }
  }
}