/* Style Select Field */
/* line 25, ../sass/dashboard.scss */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
/* line 37, ../sass/dashboard.scss */
select:focus {
  outline: none;
}

/* Use custom arrow */
/* line 41, ../sass/dashboard.scss */
.mdl-selectfield select {
  appearance: none;
}

/* line 42, ../sass/dashboard.scss */
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
}
/* line 45, ../sass/dashboard.scss */
.mdl-selectfield select:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}

/* line 61, ../sass/dashboard.scss */
.ui-datepicker {
  padding: 0;
  border: none;
  box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  width: 295px !important;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  z-index: 10;
  background-color: white;
}

/* line 71, ../sass/dashboard.scss */
.ui-corner-all {
  border-radius: 0;
}

/* line 75, ../sass/dashboard.scss */
.ui-widget-header {
  border: 0;
}

/* line 79, ../sass/dashboard.scss */
.ui-datepicker-header {
  text-align: center;
  background: white;
  padding-bottom: 15px;
  font-weight: 300;
}
/* line 85, ../sass/dashboard.scss */
.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next,
.ui-datepicker-header .ui-datepicker-title {
  border: none;
  outline: none;
  margin: 5px;
}
/* line 92, ../sass/dashboard.scss */
.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next {
  cursor: pointer;
  color: #3f51b5;
}

/* line 99, ../sass/dashboard.scss */
.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none;
  outline: none;
}

/* line 106, ../sass/dashboard.scss */
.ui-datepicker-calendar .ui-state-default {
  background: none;
  border: none;
  text-align: center;
  height: 33px;
  width: 33px;
  line-height: 36px;
}
/* line 115, ../sass/dashboard.scss */
.ui-datepicker-calendar .ui-state-highlight {
  color: #3f51b5;
}
/* line 119, ../sass/dashboard.scss */
.ui-datepicker-calendar .ui-state-active {
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
}
/* line 125, ../sass/dashboard.scss */
.ui-datepicker-calendar thead th {
  color: #999999;
  font-weight: 400;
}
/* line 130, ../sass/dashboard.scss */
.ui-datepicker-calendar a {
  color: #757575;
  padding: 0;
}

/* line 136, ../sass/dashboard.scss */
.ui-datepicker-buttonpane {
  border: none;
}
/* line 139, ../sass/dashboard.scss */
.ui-datepicker-buttonpane .ui-state-default {
  background: white;
  border: none;
}
/* line 144, ../sass/dashboard.scss */
.ui-datepicker-buttonpane .ui-datepicker-close,
.ui-datepicker-buttonpane .ui-datepicker-current {
  background: white;
  color: #3f51b5;
  text-transform: uppercase;
  border: none;
  opacity: 1;
  font-weight: 200;
  outline: none;
}
/* line 154, ../sass/dashboard.scss */
.ui-datepicker-buttonpane .ui-datepicker-close:hover,
.ui-datepicker-buttonpane .ui-datepicker-current:hover {
  background: #f7f8fc;
}

/* line 160, ../sass/dashboard.scss */
.drawer {
  border: none;
}
/* line 164, ../sass/dashboard.scss */
.drawer .mdl-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
/* line 180, ../sass/dashboard.scss */
.drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
/* line 184, ../sass/dashboard.scss */
.drawer .mdl-navigation .mdl-navigation__link i {
  margin-right: 25px;
}

/* line 191, ../sass/dashboard.scss */
.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 0;
}

/* line 195, ../sass/dashboard.scss */
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 0;
  width: 100%;
}

/* line 200, ../sass/dashboard.scss */
.mdl-layout__header-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
}
@media screen and (max-width: 1024px) {
  /* line 200, ../sass/dashboard.scss */
  .mdl-layout__header-row {
    padding: 5px;
  }
}
/* line 208, ../sass/dashboard.scss */
.mdl-layout__header-row > * {
  width: 100%;
}
@media screen and (min-width: 700px) {
  /* line 208, ../sass/dashboard.scss */
  .mdl-layout__header-row > * {
    width: auto;
  }
}
/* line 215, ../sass/dashboard.scss */
.mdl-layout__header-row #search-form {
  margin-bottom: 5px;
}
/* line 217, ../sass/dashboard.scss */
.mdl-layout__header-row #search-form div {
  width: 100%;
}
@media screen and (min-width: 700px) {
  /* line 217, ../sass/dashboard.scss */
  .mdl-layout__header-row #search-form div {
    width: auto;
  }
}
/* line 222, ../sass/dashboard.scss */
.mdl-layout__header-row #search-form div #from-date, .mdl-layout__header-row #search-form div #to-date {
  position: relative;
  z-index: 50;
}
/* line 228, ../sass/dashboard.scss */
.mdl-layout__header-row #export {
  cursor: pointer;
  vertical-align: middle;
}

/* line 234, ../sass/dashboard.scss */
.mdl-layout__content {
  height: calc(100% - 64px);
}
/* line 236, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid {
  height: calc(100% - 64px);
}
/* line 238, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid .mdl-cell {
  background-color: white;
  padding: 0;
  min-height: 350px;
  height: 50%;
  overflow: hidden;
}
/* line 246, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid .highcharts-xaxis-labels text, .mdl-layout__content #dash-grid .highcharts-yaxis-labels text {
  font-size: 0.8em !important;
}

/* line 254, ../sass/dashboard.scss */
.report-container {
  position: relative;
  height: 100%;
}
/* line 257, ../sass/dashboard.scss */
.report-container .search-icon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
/* line 263, ../sass/dashboard.scss */
.report-container .search-icon:after {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.7em;
  line-height: 1.5em;
  vertical-align: top;
  content: 'Search';
  transition: width 1s;
  width: 0;
  display: inline-block;
}
/* line 273, ../sass/dashboard.scss */
.report-container .search-icon:hover:after {
  width: 55px;
}
/* line 278, ../sass/dashboard.scss */
.report-container > div {
  height: 100%;
}
/* line 281, ../sass/dashboard.scss */
.report-container .report-search {
  height: 0;
  overflow: hidden;
}
/* line 284, ../sass/dashboard.scss */
.report-container .report-search fieldset {
  width: 60%;
  margin: auto;
}
/* line 287, ../sass/dashboard.scss */
.report-container .report-search fieldset div {
  margin: 20px;
}
/* line 290, ../sass/dashboard.scss */
.report-container .report-search fieldset div.checkbox-select {
  height: 200px;
  overflow-y: scroll;
}
/* line 294, ../sass/dashboard.scss */
.report-container .report-search fieldset div .mdl-radio {
  margin-right: 20px;
}
/* line 297, ../sass/dashboard.scss */
.report-container .report-search fieldset div button[type="submit"] {
  float: right;
}
/* line 303, ../sass/dashboard.scss */
.report-container .chart-container {
  z-index: 5;
}

/* line 308, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid .mdl-cell-top {
  background-color: white;
  padding: 0;
  min-height: 430px;
  height: 70%;
  overflow: hidden;
}

/* line 316, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid .mdl-cell-bottom {
  background-color: white;
  padding: 0;
  min-height: 300px;
  height: 30%;
  overflow: hidden;
}

/* line 324, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid .mdl-cell-top-right {
  background-color: white;
  padding: 0;
  min-height: 427px;
  height: 70%;
  overflow: hidden;
}

/* line 332, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid .mdl-cell-bottom-right {
  background-color: white;
  padding: 0;
  min-height: 300px;
  height: 30%;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 342, ../sass/dashboard.scss */
.mdl-tabs__tab-bar {
  align-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* line 354, ../sass/dashboard.scss */
.mdl-tabs__tab {
  border: medium none;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 23px;
  margin: 0;
  overflow: hidden;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 372, ../sass/dashboard.scss */
.mdl-layout__content #dash-grid .mdl-cell-side {
  background-color: white;
  padding: 0;
  min-height: 700px;
  height: 100%;
}

/* line 379, ../sass/dashboard.scss */
.nhs-number {
  background-color: #107ebd;
  background-image: url("../img/_elements/icons/nhs_tiny.png?1456827980");
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 2px 3px 1px 33px;
}

/* line 390, ../sass/dashboard.scss */
.patient-details {
  clear: both;
  display: block;
  padding: 10px;
}

/* line 396, ../sass/dashboard.scss */
.openeyes-logo {
  display: block;
  float: left;
}

/* line 401, ../sass/dashboard.scss */
.vfthumbnail {
  width: 100%;
}

/* line 405, ../sass/dashboard.scss */
.vfthumbnail-hidden {
  width: 100%;
  display: none;
}

/* line 410, ../sass/dashboard.scss */
.octimage-hidden {
  display: none;
}

/* line 414, ../sass/dashboard.scss */
.regression_chart {
  width: 100%;
  display: block;
}

/* line 419, ../sass/dashboard.scss */
.left-side {
  display: block;
  float: right;
  width: 50%;
}

/* line 425, ../sass/dashboard.scss */
.right-side {
  display: block;
  float: left;
  width: 50%;
}

/* line 431, ../sass/dashboard.scss */
.side-title {
  text-align: center;
  font-weight: bold;
  display: block;
}

/* line 437, ../sass/dashboard.scss */
.vfimage {
  width: 70%;
  margin: 0 auto;
}

/* line 442, ../sass/dashboard.scss */
.kowaimage {
  width: 100%;
  margin: 0 auto;
}

/* line 447, ../sass/dashboard.scss */
.vfcolorplot {
  width: 55%;
  margin: 0 auto;
}

/* line 452, ../sass/dashboard.scss */
.colorplot-hover {
  border: 1px solid black;
}

/* line 456, ../sass/dashboard.scss */
.oescape-images {
  background: white;
  height: calc(100% - 23px);
}

/* line 461, ../sass/dashboard.scss */
.header-icon {
  font-size: 32px;
}
