@import url("../fonts/Roboto/roboto.css");
/*  ../sass/openeyes/components/_global.scss */
html, body {
  background: #acacb4;
}

.open-eyes {
  /* ../sass/openeyes/components/_containers.scss */
  /*  ../sass/openeyes/components/containers/_main.scss */
  /*  ../sass/openeyes/components/containers/_content.scss */
  /* ../sass/openeyes/components/_footer.scss */
}
.open-eyes .alert-box.watermark.banner {
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 500;
  width: 175px;
  min-width: 100px;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.2;
  background-color: #db6531;
  border: 1px solid #d2dde8;
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.open-eyes .container {
  max-width: 1234px;
}
.open-eyes .container.main {
  border-radius: 0 0 5px 5px;
  background-color: #6692c6;
  background-image: linear-gradient(#abc3dd, #6692c6 90px, #6692c6 180px, #c6cddc);
  background-attachment: fixed;
  border: 0;
  margin-bottom: 0;
  padding: 0;
  width: 1230px;
  max-width: 1230px;
  overflow: hidden;
}
.open-eyes .container.content {
  background: none;
  min-height: 600px;
}
.open-eyes .footer {
  border-radius: 0;
  background: #98989e;
  height: 25px;
  position:fixed;
  bottom:0;
  z-index: 9999;
  font-size: 9px;
  line-height: 1.2em;
}
.open-eyes .footer a, .open-eyes .footer a:visited {
  color: #0e386f;
}
.open-eyes .footer .help .panel {
  height: 25px;
  border-style: none;
  border-width: 0;
  background: #a8a8af;
  margin: 0 0 0 0;
  border-radius: 0;
}
.open-eyes .footer .help .panel strong {
  color: #555252;
}
.open-eyes .footer .info {
  font-size: 9px;
  font-size: 0.5625rem;
  padding-top: 3px;
  line-height:1.2em;
}

.open-eyes .panel {
  border-radius: 5px;
  border: none;
}
.open-eyes .panel.about-openeyes {
  padding: 80px 20px 20px 20px;
  background: #e4ebf1 url("../img/_structure/oe-logo.svg") no-repeat left 10px top 10px;
}

.icon-button-small-trash-can {
  background-position: 0 -72px;
}

.event-content .oe-prev-mods-icon {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 500;
  text-align: right;
  width: 28px;
  height: 16px;
  line-height: 16px;
  color: #666;
  background: transparent url("../img/_elements/btns/audit-trail-element.png") left top no-repeat;
}
.event-content .oe-prev-mods-icon:hover {
  background-position: left bottom;
  color: #0a62d3;
}

.event-content .oe-element-edit-icon {
  display: inline-block;
  margin: 0 8px 0 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: transparent url("../img/_elements/btns/element-edit-icon.png") left top no-repeat;
  overflow: hidden;
  text-indent: -500px;
  position: relative;
  top: 6px;
}
.event-content .oe-element-edit-icon:hover {
  background-position: left bottom;
}

.event .event-content {
  background-image: none !important;
  margin-bottom: 13px;
}

.alert-box {
  border: none;
}

.alert-box.patient {
  border: none;
}

button, .button, input[type="submit"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  font-weight: 300;
}

button.secondary, .button.secondary, input[type="submit"].secondary,
button.warning, button.cancel.event-action, .button.cancel.event-action, button.delete, button.delete.disabled, button.delete.inactive, .delete.button.inactive, input.delete[type="submit"].inactive, button.delete[disabled], .button.delete, .button.delete.disabled, .button.delete[disabled], input[type="submit"].delete, input[type="submit"].delete.disabled, input[type="submit"].delete[disabled], input[type="submit"].cancel.event-action, .button.warning, input[type="submit"].warning {
  text-shadow: none;
  font-size: 11px;
  font-size: 0.6875rem;
}

button.cancel.event-action, .button.cancel.event-action, button.delete, button.delete.disabled, button.delete.inactive, .delete.button.inactive, button.delete[disabled], .button.delete, .button.delete.disabled, .button.delete[disabled], input[type="submit"].delete, input[type="submit"].delete.disabled, input[type="submit"].delete[disabled], input[type="submit"].cancel.event-action {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmMGQyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I4MTUyYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cf0d27), color-stop(100%, #b8152b));
  background: -moz-linear-gradient(#cf0d27, #b8152b);
  background: -webkit-linear-gradient(#cf0d27, #b8152b);
  background: linear-gradient(#cf0d27, #b8152b);
  border-color: #9a091c;
  text-shadow: none;
  color: #fff;
}

button.warning:hover, button.cancel.event-action:hover, .button.cancel.event-action:hover, button.delete:hover, button.delete.disabled:hover, button.delete.inactive:hover, button.delete[disabled]:hover, .button.delete:hover, input[type="submit"].delete:hover, input[type="submit"].cancel.event-action:hover, .button.warning:hover, input[type="submit"].warning:hover {
  background: linear-gradient(#e01a1a, #d11313);
  text-shadow: none;
}

.element-data-inline .data-label, .element-data-inline .data-value {
  display: inline-block;
}

.oe-find-patient {
  padding: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: #0e386f url("../img/_elements/icons/patient/patient-panel-icon.png") no-repeat right top;
  color: #fff;
  font-weight: 300;
  border-radius: 5px;
}
.oe-find-patient strong {
  font-weight: 500;
}
.oe-find-patient .search-examples {
  margin-bottom: 15px;
}
.oe-find-patient input.large {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
}

.dashboard-container .messages-filter label {
  display: inline-block;
  margin: 0 8px;
}
.dashboard-container .messages-filter input {
  display: inline-block;
  width: 18%;
  margin: 0 5px;
}
.dashboard-container .summary h3 {
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #627188;
  padding: 0 15px 5px 23px;
  height: 28px;
  line-height: 28px;
  width: 100%;
  text-align: left;
}
.dashboard-container .summary h3 small {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-weight: 500;
}

.box.dashboard .box-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #627188;
}

.open-eyes {
  /* ../sass/openeyes/components/_header.scss */
}
.open-eyes .container.main {
  padding-top: 82px;
}
.open-eyes .header {
  padding-bottom: 7px;
  padding-right: 0;
  position: fixed;
  top: 0;
  z-index: 200;
  height: 82px;
  background-color: #6692c6;
  background-image: linear-gradient(#abc3dd, #6692c6 90px);
  min-width: 1230px;
}
.open-eyes .header .logo {
  height: 75px;
  max-width: 173px;
  margin: 0;
}
.open-eyes .header > .column {
  padding-left: 0;
  padding-right: 0;
}
.open-eyes .header > .large-2 {
  width: 179px;
  height: 75px;
  padding: 0;
  margin: 0;
}
.open-eyes .header > .large-4 {
  width: 533px;
  height: 75px;
  padding: 0;
  margin: 0;
}
.open-eyes .header > .large-6 {
  width: 518px;
  height: 75px;
  padding: 0;
  margin: 0;
}

.open-eyes .header .panel {
  height: 75px;
  border-style: none;
  border-width: 0;
  border-color: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.open-eyes .panel.patient {
  width: 526px;
  color: #fff;
  background: #0e386f url("../img/_elements/icons/patient/patient-panel-icon.png") no-repeat right top;
  padding: 3px 0 6px 17px;
}
.open-eyes .panel.patient h1, .open-eyes .panel.patient h2, .open-eyes .panel.patient h3, .open-eyes .panel.patient h4, .open-eyes .panel.patient h5, .open-eyes .panel.patient h6, .open-eyes .panel.patient p, .open-eyes .panel.patient li, .open-eyes .panel.patient dl {
  color: #fff;
}
.open-eyes .panel.patient a {
  color: #fff;
}
.open-eyes .panel.patient a:hover, .open-eyes .panel.patient a:focus {
  background: none;
  color: #d2dde8;
}
.open-eyes .panel.patient .patient-details {
  padding: 0;
  margin: 0;
}
.open-eyes .panel.patient .patient-details .patient-surname {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
}
.open-eyes .panel.patient .patient-details .patient-name {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
}
.open-eyes .panel.patient .hospital-number {
  position: relative;
  top: 3px;
  font-size: 10px;
  font-size: 0.625rem;
}
.open-eyes .panel.patient .nhs-number {
  position: relative;
  left: -2px;
  font-size: 11px;
  font-size: 0.6875rem;
}
.open-eyes .panel.patient .patient-gender {
  font-size: 11px;
  font-size: 0.6875rem;
}
.open-eyes .panel.patient .patient-gender em {
  color: #bbb;
}
.open-eyes .panel.patient .patient-summary-anchor .oe-correspondence-stack {
  margin-left: 25px;
}
.open-eyes .panel.patient .patient-widgets .patient-warnings {
  top: 22px;
  right: -15px;
  padding: 2px 20px 4px 4px;
}
.open-eyes .panel.patient .patient-widgets .patient-popup-container {
  top: -48px;
  right: 15px;
}
.open-eyes .panel.patient-popup {
  width: 526px;
  height: auto;
  padding: 8px;
  position: absolute;
  top: 70px;
  left: -494px;
  z-index: 9999;
  display: none;
  background: #0e386f;
  border: none;
}
.open-eyes .panel.patient-popup.show {
  display: block;
  animation: fadeInPopUp 0.2s ease-out;
}
.open-eyes .panel.patient-popup:after {
  content: none;
}
.open-eyes .panel.patient-popup .help-hint {
  display: none;
}
.open-eyes .panel.patient-popup > .alert-box {
  margin-bottom: 8px;
}
.open-eyes .panel.patient-popup .zone2 {
  padding-bottom: 10px;
}
.open-eyes .panel.patient-popup .zone2 .row {
  background: none;
  margin: 0;
  padding: 0;
  color: #fff;
  border-bottom: 1px dotted #56749a;
}
.open-eyes .panel.patient-popup .zone2 .row:first-child {
  border-top: 1px dotted #56749a;
}
.open-eyes .panel.patient-popup .zone2 .row .label {
  font-style: italic;
  color: #bbb;
}
.open-eyes .panel.patient-popup .zone2 .row b {
  font-weight: 500;
}
.open-eyes .panel.patient-popup .summary-data .row {
  background: #d2dde8;
}
.open-eyes .panel.patient-popup .summary-data .row .label {
  color: #0e386f;
}
.open-eyes .panel.patient-popup .summary-data table.summary-data-table {
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
}
.open-eyes .panel.patient-popup .summary-data table.summary-data-table tr td {
  color: #0e386f;
  font-size: 11px;
  font-size: 0.6875rem;
}
.open-eyes .panel.patient-popup .summary-data table.summary-data-table tr td strong {
  font-weight: 600;
}
.open-eyes .panel.patient-popup .oe-popup-overflow.limit {
  max-height: 415px;
  overflow: hidden;
}
.open-eyes .panel.patient-popup .oe-popup-overflow.limit.scroll {
  overflow-y: auto;
}
.open-eyes .panel.patient-popup .oe-popup-overflow-alert {
  position: absolute;
  bottom: 8px;
  left: 8px;
  height: 21px;
  line-height: 21px;
  padding: 0 15px 0 5px;
  font-size: 11px;
  font-size: 0.6875rem;
  color: white;
  background: rgba(0, 0, 255, 0.7);
  border-top-right-radius: 7px;
}

.open-eyes .panel.patient.patient-deceased {
  color: #fff;
  background-color: #992121;
}
.open-eyes .panel.patient .right-side-column {
  position: absolute;
  width: 525px;
  top: 7px;
  left: 526px;
  background: #0e386f;
  border-left: 3px solid #0b2d59;
  padding: 0 8px 8px 8px;
  margin: 0;
}
.open-eyes .panel.patient .right-side-column .subtitle {
  position: relative;
  display: block;
  margin: 5px 0 5px 0;
  padding: 5px 0 0 5px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ddd;
}
.open-eyes .panel.patient .right-side-column .subtitle.divider {
  border-top: 3px solid #0b2d59;
  padding-top: 8px;
}
.open-eyes .panel.patient .right-side-column .subtitle .icon-quicklook-white {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 5px;
  right: 0;
  background: transparent url("../img/sprites/quicklook-white.png") top left no-repeat;
  overflow: hidden;
  opacity: 0.7;
  cursor: pointer;
}
.open-eyes .panel.patient .right-side-column .subtitle .icon-quicklook-white.icon-cross {
  background-position-y: bottom;
}
.open-eyes .panel.patient .right-side-column .subtitle .icon-quicklook-white:hover {
  opacity: 1;
}
.open-eyes .panel.patient .right-side-column .popup-management-summaries ul {
  padding: 0;
  margin: 0;
}
.open-eyes .panel.patient .right-side-column .popup-management-summaries ul li {
  display: block;
  width: 100%;
  padding: 3px 5px 2px 5px;
  margin: 0 0 3px 0;
  height: auto;
  border-top: 1px dotted #56749a;
}
.open-eyes .panel.patient .right-side-column .popup-management-summaries ul li p {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.3;
  margin: 0 0 0 180px;
  padding: 5px 0px 3px 0px;
}
.open-eyes .panel.patient .right-side-column .popup-management-summaries ul li h6 {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #fff;
  float: left;
}
.open-eyes .panel.patient .right-side-column .problems-plans {
  padding: 0;
  margin: 0;
}
.open-eyes .panel.patient .right-side-column .problems-plans ul {
  padding: 0;
  margin: 0;
}
.open-eyes .panel.patient .right-side-column .problems-plans ul li {
  display: block;
  width: 100%;
  padding: 3px 5px 3px 5px;
  margin: 0 0 1px 0;
  background: #0b2d59;
  height: auto;
  font-size: 11px;
  font-size: 0.6875rem;
}
.open-eyes .panel.patient .right-side-column .problems-plans ul li .drag-handle {
  color: #aaa;
  padding: 0 3px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.open-eyes .panel.patient .right-side-column .problems-plans ul li .drag-handle:hover {
  color: #fff;
}
.open-eyes .panel.patient .right-side-column .problems-plans ul li .remove {
  font-size: 11px;
  font-size: 0.6875rem;
  float: right;
  padding: 0 0 0 5px;
  cursor: pointer;
  color: #aaa;
}
.open-eyes .panel.patient .right-side-column .problems-plans ul li .remove:hover {
  color: #fff;
}
.open-eyes .panel.patient .right-side-column .problems-plans .create-new-problem-plan {
  position: relative;
  background: #0b2d59;
  padding: 5px;
  margin: 5px 0 0 0;
  height: auto;
}
.open-eyes .panel.patient .right-side-column .problems-plans .create-new-problem-plan .add-problem-plan-btn {
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  margin: 0;
}
.open-eyes .panel.patient .right-side-column .problems-plans .create-new-problem-plan input {
  font-size: 11px;
  font-size: 0.6875rem;
  background: #eee;
  border: 0;
  width: 85%;
}

.open-eyes .panel.user {
  width: 519px;
  background: none;
}
.open-eyes .panel.user ul.oe-user-panel {
  list-style: none;
  margin: 0;
  padding: 0;
}
.open-eyes .panel.user ul.oe-user-panel > li {
  list-style: none;
  float: left;
  margin: 0 1px 0 0;
  display: block;
  background: #d2dde8;
  height: 75px;
}
.open-eyes .panel.user ul.oe-user-panel > li:last-child {
  margin-right: 0;
}
.open-eyes .panel.user ul.oe-user-panel li.oe-user-info {
  width: 368px;
  position: relative;
}
.open-eyes .panel.user ul.oe-user-panel ul.oe-user-profile-firm {
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.open-eyes .panel.user ul.oe-user-panel ul.oe-user-profile-firm li {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1.4;
}
.open-eyes .panel.user ul.oe-user-panel ul.oe-user-profile-firm em {
  display: inline-block;
  width: 38px;
  font-size: 9px;
  font-size: 0.5625rem;
  color: #999;
  font-style: normal;
  font-weight: 500;
}
.open-eyes .panel.user ul.oe-user-panel ul.oe-user-profile-firm a {
  font-size: 9px;
  font-size: 0.5625rem;
  margin-left: 10px;
}

@keyframes fadeInPopUp {
  0% {
    display: none;
    opacity: 0;
    top: 90px;
  }
  0.1% {
    display: block;
    opacity: 0;
    top: 90px;
  }
  100% {
    display: block;
    opacity: 1;
    top: 70px;
  }
}
.open-eyes .header .oe-user-big-icon {
  display: inline-block;
  background: none;
  height: 75px;
}
.open-eyes .header .oe-user-big-icon.home {
  text-indent: -5000px;
  width: 38px;
  background: #d2dde8 url("../img/_user-panel/icon-sprites/home.png") no-repeat center top;
}
.open-eyes .header .oe-user-big-icon.clinic {
  text-indent: -5000px;
  width: 38px;
  background: #d2dde8 url("../img/_user-panel/icon-sprites/clinic.png") no-repeat center top;
}
.open-eyes .header .oe-user-big-icon.logout {
  text-indent: -5000px;
  width: 43px;
  background: #d2dde8 url("../img/_user-panel/icon-sprites/logout.png") no-repeat center top;
}
.open-eyes .header .oe-user-big-icon:hover, .open-eyes .header .oe-user-big-icon:active {
  background-color: #074598;
  background-position: center bottom;
}
.open-eyes .header .oe-user-big-icon.navigation {
  position: relative;
  width: 63px;
  background: #d2dde8 url("../img/_user-panel/icon-sprites/navigation.png") no-repeat center top;
}
.open-eyes .header .oe-user-big-icon.navigation:hover, .open-eyes .header .oe-user-big-icon.navigation:active {
  background-color: #074598;
  background-position: center bottom;
}
.open-eyes .header .oe-user-big-icon.navigation:hover ul.oe-user-navigation-submenu, .open-eyes .header .oe-user-big-icon.navigation:active ul.oe-user-navigation-submenu {
  display: block;
}
.open-eyes .header .oe-user-big-icon.hotlist {
  position: relative;
  width: 52px;
  background: #d2dde8 url("../img/_user-panel/icon-sprites/hotlist.png") no-repeat center top;
}
.open-eyes .header .oe-user-big-icon.hotlist .hotlist-count {
  position: absolute;
  bottom: 4px;
  width: 52px;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  color: #6a8fc1;
}
.open-eyes .header .oe-user-big-icon.hotlist:hover, .open-eyes .header .oe-user-big-icon.hotlist:active {
  background-color: #0e386f;
  background-position: center bottom;
}
.open-eyes .header .oe-user-big-icon.hotlist:hover .hotlist-count, .open-eyes .header .oe-user-big-icon.hotlist:active .hotlist-count {
  color: #fff;
}
.open-eyes .header .oe-user-big-icon.hotlist:hover .oe-user-hotlist-submenu, .open-eyes .header .oe-user-big-icon.hotlist:active .oe-user-hotlist-submenu {
  display: block;
}
.open-eyes .header .oe-user-hotlist-submenu {
  display: none;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 9992;
  background: #0e386f;
  padding: 2px;
  margin: 0;
  width: auto;
}
.open-eyes .header .oe-user-hotlist-submenu table {
  margin: 0;
  padding: 0;
  border: none;
}
.open-eyes .header .oe-user-hotlist-submenu table tr {
  background: #0e386f;
}
.open-eyes .header .oe-user-hotlist-submenu table tr:hover {
  background: #0b2a53;
  cursor: pointer;
  cursor: hand;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td {
  background: none;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td.name {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td.status {
  font-style: italic;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td .event-icon {
  width: 23px;
  display: inline-block;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td .icon {
  display: block;
  height: 17px;
  width: 17px;
  overflow: hidden;
  text-indent: -500px;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td .icon.remove {
  background: transparent url("../../assets/img/_user-panel/icon-sprites/submenu-cross.png") left center no-repeat;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td .icon.remove:hover {
  background-position: right center;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td .icon.active {
  background: transparent url("../img/_user-panel/submenu-tick.png") center center no-repeat;
}
.open-eyes .header .oe-user-hotlist-submenu table tr td .icon.arrow {
  background: transparent url("../img/_user-panel/submenu-arrow.png") center center no-repeat;
}
.open-eyes .header ul.oe-user-navigation-submenu {
  display: none;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 9991;
  width: 220px;
  background: #074598;
  list-style: none;
  padding: 10px 0;
}
.open-eyes .header ul.oe-user-navigation-submenu > li > a {
  display: block;
  color: #d2dde8;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 400;
  padding: 5px 30px 5px 18px;
  background: transparent url("../img/_user-panel/submenu-arrow.png") no-repeat 95% 50%;
}
.open-eyes .header ul.oe-user-navigation-submenu > li > a:hover {
  color: #fff;
  background-color: #063e89;
}
.open-eyes .header .icon-alert {
  background-image: url("../img/sprites/_elements/icons/icons-17x17.png");
}
.open-eyes .header .icon-alert.female-white-bg {
  background-position: -17px 0;
}
.open-eyes .header .icon-alert.female-white-trans {
  background-position: -17px -17px;
}
.open-eyes .header .icon-alert.male-white-bg {
  background-position: -17px -34px;
}
.open-eyes .header .icon-alert.male-white-trans {
  background-position: -17px -51px;
}
.open-eyes .header .icon-alert.icon-alert-warning {
  background-position: -17px -68px;
}
.open-eyes .header .alert-box {
  border: none;
}
.open-eyes .header .alert-box strong {
  font-weight: 500;
  font-size: 12px;
  font-size: 0.75rem;
}

.open-eyes .box.content {
  background: none;
}
.open-eyes .sidebar.episodes-and-events {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0 0 5px 0;
  width: 14.6%;
  position: fixed;
  top: 80px;
}
.open-eyes .sidebar.episodes-and-events .oe-scroll-wrapper {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 180px;
  padding: 0;
  margin: 0;
}
.open-eyes .oe-sidebar-top-buttons {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}
.open-eyes button.add-event, .open-eyes button.add-episode {
  margin-left: 0;
  border-radius: 0;
  letter-spacing: 0;
  text-shadow: none;
  box-shadow: none;
  border: none;
  width: 179px;
  height: 38px;
  line-height: 34px;
  background: #568346 url("../img/_elements/btns/plus-sign.png") left center no-repeat;
  padding-left: 10px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
}
.open-eyes button.add-event:hover, .open-eyes button.add-event:active, .open-eyes button.add-episode:hover, .open-eyes button.add-episode:active {
  background-color: #207c24;
}

.oe-element-list {
  background: #7c828d;
  list-style: none;
  margin: 0 1px 0 0;
  padding: 0;
  padding-bottom: 10px;
}
.oe-element-list .children {
  list-style: none;
  margin: 0;
  padding: 0;
}
.oe-element-list .has-children a {
  background-color: #4d546a;
}
.oe-element-list a {
  position: relative;
  display: block;
  min-height: 19px;
  line-height: 19px;
  margin-bottom: 1px;
  padding: 0 25px 0 18px;
  overflow: hidden;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #ddd;
  background: #515970 url("../img/_elements/icons/sidebar/element-edit-sprites.png") top right no-repeat;
}
.oe-element-list a.selected {
  background-image: url("../img/_elements/icons/sidebar/element-edit-arrow.png");
}
.oe-element-list a.selected, .oe-element-list a:hover, .oe-element-list a:active {
  color: #092448;
  background-color: #e9e9e9;
  background-position: 100% -114px;
}
.oe-element-list a.selected .icon.expand, .oe-element-list a:hover .icon.expand, .oe-element-list a:active .icon.expand {
  background-position: -6px -190px;
}
.oe-element-list a.selected .icon.collapse, .oe-element-list a:hover .icon.collapse, .oe-element-list a:active .icon.collapse {
  background-position: -6px -171px;
}
.oe-element-list a.selected .icon.child, .oe-element-list a:hover .icon.child, .oe-element-list a:active .icon.child {
  background-position: -6px -152px;
}
.oe-element-list a.has-icon {
  padding-left: 25px;
}
.oe-element-list a .icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 19px;
  overflow: hidden;
  background: transparent url("../img/_elements/icons/sidebar/element-edit-sprites.png") -6px 0 no-repeat;
}
.oe-element-list a .icon.expand {
  background-position: -6px -95px;
}
.oe-element-list a .icon.collapse {
  background-position: -6px -76px;
}
.oe-element-list a .icon.child, .oe-element-list a:hover .icon.child {
  background-position: -6px -57px;}
.oe-element-list .has-children a {
  font-weight: 500; }
.oe-element-list .child a {
  font-style: italic;
  font-weight: 400;
  padding-left: 28px;  }

.oe-sidebar-event-creation {
  height: 38px;
  line-height: 38px;
  margin-right: 2px;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
  color: #fff;
  background: #b1b9c9;
  overflow: hidden;
}
.oe-sidebar-event-creation img {
  position: relative;
  top: -1px;
  margin-right: 8px;
}

.oe-panel.specialty {
  background: #d2dde8;
  border: 0;
  margin: 0 0 0 0;
  padding: 3px 2px 10px 2px;
}

.oe-panel.specialty ol.subspecialties {
  margin-left: 1px;
  margin-bottom: 2px;
}

.oe-panel.specialty .subspecialty {
  list-style: none;
  background: transparent;
  margin-bottom: 2px;
  height: 21px;
  padding: 0;
  border: none;
}
.oe-panel.specialty .subspecialty a {
  display: inline-block;
  width: 100%;
  background: #fff;
  height: 21px;
  line-height: 21px;
  padding-left: 10px;
  font-size: 12px;
  font-size: 0.75rem;
  margin: 0;
  color: #0e386f;
}
.oe-panel.specialty .subspecialty a:hover, .oe-panel.specialty .subspecialty a:active {
  background: #627188;
  color: #fff;
}
.oe-panel.specialty .subspecialty a:hover .tag, .oe-panel.specialty .subspecialty a:active .tag {
  color: #fff;
  background: transparent;
}
.oe-panel.specialty .subspecialty .tag {
  width: 19px;
  height: 19px;
  background: #6c7695;
  color: #d9def3;
  text-align: center;
  float: right;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 19px;
  margin: 1px 1px 0 0;
}
.oe-panel.specialty .subspecialty.selected a {
  background: #627188;
  color: #fff;
}
.oe-panel.specialty .subspecialty.selected a .tag {
  color: #fff;
  background: transparent;
}

.oe-panel.specialty .sidebar-grouping {
  white-space: nowrap;
  padding-left: 5px;
}
.oe-panel.specialty .sidebar-grouping label {
  font-size: 0.7em;
  display: none;
}
.oe-panel.specialty .sidebar-grouping .grouping-picker {
  margin-left: 0;
  width: 150px;
}

.oe-panel.specialty .list-controls {
  font-size: 0.1em;
  padding: 0 0 0 5px;
  margin: 3px 0 0 0;
}
.oe-panel.specialty .list-controls a {
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  text-indent: -5000px;
  background: transparent url("../img/_elements/icons/sidebar/list-control-sprites.png") no-repeat top left;
}
.oe-panel.specialty .list-controls a.sorting-order.asc {
  background-position: 0 0;
}
.oe-panel.specialty .list-controls a.sorting-order.asc:hover {
  background-position: -17px 0;
}
.oe-panel.specialty .list-controls a.sorting-order.desc {
  background-position: 0 -17px;
}
.oe-panel.specialty .list-controls a.sorting-order.desc:hover {
  background-position: -17px -17px;
}
.oe-panel.specialty .list-controls a.expand-all {
  background-position: 0 -34px;
}
.oe-panel.specialty .list-controls a.expand-all:hover {
  background-position: -17px -34px;
}
.oe-panel.specialty .list-controls a.collapse-all {
  background-position: 0 -51px;
}
.oe-panel.specialty .list-controls a.collapse-all:hover {
  background-position: -17px -51px;
}

.oe-panel.specialty ol.events {
  margin: 5px 0 0 0;
  position: relative;
}
.oe-panel.specialty ol.events li {
  display: block;
  white-space: nowrap;
  list-style: none;
  margin: 0 0 2px 0;
  position: relative;
  padding: 0;
  border-width: 0;
}
.oe-panel.specialty ol.events li .tag {
  width: 19px;
  height: 17px;
  font-size: 0.3em;
  position: absolute;
  top: 0;
  right: 0;
  color: #d9def3;
  background-color: #6c7695;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 17px;
  margin: 1px 1px 0 0;
}
.oe-panel.specialty ol.events li.selected a {
  background: #627188;
  color: #fff;
}
.oe-panel.specialty ol.events li.selected a .tag {
  color: #fff;
  background: transparent;
}
.oe-panel.specialty ol.events a {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 0 4px 0 1px;
  background: white;
  height: 19px;
  line-height: 19px;
  color: #2058a2;
}
.oe-panel.specialty ol.events a:hover, .oe-panel.specialty ol.events a:active {
  background: #627188;
  color: #fff;
}
.oe-panel.specialty ol.events a:hover .tag, .oe-panel.specialty ol.events a:active .tag {
  color: #fff;
  background: transparent;
}
.oe-panel.specialty ol.events .event-type {
  display: inline-block;
  height: 19px;
  width: 35px;
  background: url("../img/_elements/icons/event/status/quicklook-alert-ready.png") 19px 0 no-repeat;
  position: relative;
  top: -1px;
}
.oe-panel.specialty ol.events .event-type:hover {
  background-position: 19px -19px;
}
.oe-panel.specialty ol.events .event-type.alert {
  background-position: 19px -38px;
}
.oe-panel.specialty ol.events .event-type.alert:hover {
  background-position: 19px -57px;
}
.oe-panel.specialty ol.events .event-type.ready {
  background-position: 19px -76px;
}
.oe-panel.specialty ol.events .event-type.ready:hover {
  background-position: 19px -95px;
}

.oe-panel.specialty ol.events .event-date {
  display: inline-block;
  padding-left: 20px;
  margin-left: -1px;
}
.oe-panel.specialty ol.events .event-date .day, .oe-panel.specialty ol.events .event-date .mth, .oe-panel.specialty ol.events .event-date .yr {
  display: inline-block;
}
.oe-panel.specialty ol.events .event-date .day {
  width: 1.3125rem;
  text-align: right;
  padding-right: 4px;
}
.oe-panel.specialty ol.events .event-date .mth {
  width: 1.75rem;
}
.oe-panel.specialty ol.events .event-date .yr {
  width: 2rem;
}
.oe-panel.specialty ol.events .ev_date {
  background: url("../img/_elements/icons/sidebar/datetime-past-new.png") left center no-repeat;
}
.oe-panel.specialty ol.events li {
  position: relative;
}
.oe-panel.specialty ol.events .tooltip, .oe-panel.specialty ol.events .quicklook {
  display: block;
  border-radius: 0;
  border: none;
  padding: 5px 0;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fff;
  background: #627188;
  font-style: normal;
  position: absolute;
  left: 0;
  top: 20px;
  width: 176px;
  box-shadow: none;
}
.oe-panel.specialty ol.events .tooltip.makestatic, .oe-panel.specialty ol.events .quicklook.makestatic {
  position: static !important;
}
.oe-panel.specialty ol.events .tooltip .event-name, .oe-panel.specialty ol.events .quicklook .event-name {
  font-weight: 400;
  text-shadow: none;
  padding: 0 5px 1px 8px;
}
.oe-panel.specialty ol.events .tooltip .event-info, .oe-panel.specialty ol.events .quicklook .event-info {
  font-size: 9px;
  font-size: 0.5625rem;
  white-space: normal !important;
  padding: 0 5px 1px 8px;
}
.oe-panel.specialty ol.events .tooltip .event-issue, .oe-panel.specialty ol.events .quicklook .event-issue {
  background: #e06c33 url("../img/_elements/icons/event/status/alert-hover.png") center left no-repeat;
  font-size: 10px;
  font-size: 0.625rem;
  color: #fff;
  white-space: normal !important;
  margin-top: 2px;
  margin-left: 0;
  padding: 5px 5px 5px 20px;
}
.oe-panel.specialty ol.events .tooltip .event-issue.ready, .oe-panel.specialty ol.events .quicklook .event-issue.ready {
  background: #229625 url("../img/_elements/icons/event/status/tick-hover.png") center left no-repeat;
}

.oe-panel.specialty .groupings {
  padding-bottom: 35px;
}
.oe-panel.specialty .grouping-container ol.events {
  padding-bottom: 5px;
}
.oe-panel.specialty .grouping-container h3 {
  position: relative;
  padding: 5px 23px 2px 6px;
  margin: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #627188;
}
.oe-panel.specialty .grouping-container h3 .count {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 500;
}
.oe-panel.specialty .grouping-container h3 .grouping-icon {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  background: transparent url("../img/_elements/icons/sidebar/list-control-sprites.png") no-repeat top left;
}
.oe-panel.specialty .grouping-container h3 .grouping-icon.expand {
  background-position: 0 -34px;
}
.oe-panel.specialty .grouping-container h3 .grouping-icon.expand:hover {
  background-position: -17px -34px;
}
.oe-panel.specialty .grouping-container h3 .grouping-icon.collapse {
  background-position: 0 -51px;
}
.oe-panel.specialty .grouping-container h3 .grouping-icon.collapse:hover {
  background-position: -17px -51px;
}

/* line 35, ../sass/openeyes/components/_tooltips.scss */
/* line 140, ../sass/openeyes/components/panels/_subspecialty.scss */
/*
.oe-panel.specialty ol.events li.selected .event-type.alert {
   background-image: url('../img/_elements/icons/event/status/alert-hover.png?1475230338');
}
*/
.oe-panel.specialty .specialty-title {
  border-radius: 0;
  background: #eaddaf;
  color: #504c3c;
  font-size: 0.6875rem;
  margin: 0;
  padding: 6px 3px 8px 6px;
}

.open-eyes .event {
  padding-top: 40px;
  position: relative;
}
.open-eyes .event .event-header {
  display: block;
  height: 40px;
  border-bottom: 2px solid #6c7695;
  padding: 0 1px 0 4px;
  position: fixed;
  top: 82px;
  width: 1051px;
  z-index: 190;
  background: #b1b9c9 url("../img/_elements/icons/face-left-right.png") center center no-repeat;
}
.open-eyes .event .event-header.no-face {
  background-image: none;
}
.open-eyes .event .event-header > .inline-list {
  overflow: visible;
}
.open-eyes .tabs.event-actions a {
  border-radius: 0;
  padding: 0 13px 0 13px;
  margin: 0;
  height: 38px;
  line-height: 39px;
  text-align: center;
  font-weight: 300;
  background: #8991aa;
  color: #ddd;
}
.open-eyes .tabs.event-actions a:hover {
  background: #3665ff;
  color: #fff;
}
.open-eyes .tabs.event-actions li.selected a {
  background: #6c7695;
  color: #fff;
}
.open-eyes button.event-action, .open-eyes a.event-action {
  margin-left: 0;
  padding-top: 0;
  border-radius: 0;
  letter-spacing: 0;
  text-shadow: none;
  box-shadow: none;
  border: none;
  height: 38px;
  line-height: 39px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem;
}
.open-eyes button.event-action:hover, .open-eyes button.event-action:active, .open-eyes a.event-action:hover, .open-eyes a.event-action:active {
  background-color: #207c24;
  text-shadow: none;
}
.open-eyes button.event-action .oe-btn-icon.audit, .open-eyes a.event-action .oe-btn-icon.audit {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 38px;
  width: 36px;
  text-indent: 500px;
  background: transparent url("../img/_elements/btns/audit-trail.png") left center no-repeat;
}
.open-eyes button.event-action .oe-btn-icon.audit.hide, .open-eyes a.event-action .oe-btn-icon.audit.hide {
  background-position: right center;
}
.open-eyes button.event-action.oe-oescape-switch, .open-eyes a.event-action.oe-oescape-switch {
  padding-left: 0;
  padding-right: 0;
}
.open-eyes button.event-action .oe-btn-icon.oescape, .open-eyes a.event-action .oe-btn-icon.oescape {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 38px;
  width: 43px;
  text-indent: 500px;
  background: #505050 url("../img/_elements/btns/oescape-graph-icon.png") center center no-repeat;
}
.open-eyes button.event-action .oe-btn-icon.oescape:hover, .open-eyes a.event-action .oe-btn-icon.oescape:hover {
  background-color: #333;
}
.open-eyes button.event-action .oe-btn-icon.print, .open-eyes a.event-action .oe-btn-icon.print {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 38px;
  width: 40px;
  color: transparent;
  background: transparent url("../img/_elements/btns/oe-print-icon.png") center center no-repeat;
}

.oe-header-panel {
  background: #b1b9c9;
  margin-bottom: 15px;
}
.oe-header-panel h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #4e5a6d;
  padding: 10px 0 0 10px;
  margin: 0;
}
.oe-header-panel .panel.actions {
  background: none;
  margin: 0;
  padding: 0 10px 0 10px;
}
.oe-header-panel .panel.actions .label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #627188;
  font-weight: 500;
}

.row .large-12 h2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #fff;
  padding: 0 0 5px 10px;
  margin: 0;
}

.oe-no-episodes {
  background: #b1b9c9;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: 50px;
}
.oe-no-episodes .alert-box.alert {
  border: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.oe-no-episodes button.add-episode {
  width: 200px;
  background-image: none;
  line-height: 0;
  padding: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
}

.ui-dialog.dialog.add-event {
  margin: 0;
  padding: 15px;
  border: none;
  border-radius: 3px;
}

.ui-dialog.dialog.add-event .ui-dialog-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 0;
}

.ui-dialog.dialog.add-event .title strong {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* line 84, ../sass/openeyes/components/_dialog.scss */
.ui-dialog.dialog.add-event .events {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-column-count: 2;
  column-count: 2;
}

/* line 88, ../sass/openeyes/components/_dialog.scss */
.ui-dialog.dialog.add-event .events li {
  margin: 0 0 0 0;
  padding-bottom: 2px;
  border-bottom: 2px solid white;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

/* line 91, ../sass/openeyes/components/_dialog.scss */
.ui-dialog.dialog.add-event .events a {
  border-radius: 0;
  background: #eee;
  color: #0b59da;
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  padding: 2px;
}
.ui-dialog.dialog.add-event .events a img {
  position: relative;
  top: -1px;
}
.ui-dialog.dialog.add-event .events a strong {
  font-weight: 400;
}

/* line 98, ../sass/openeyes/components/_dialog.scss */
.ui-dialog.dialog.add-event .events a:hover {
  background: #448945;
  color: #fff;
}

.oe-create-event-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  width: 1000px;
  border-radius: 5px;
  max-height: 650px;
}

.ui-dialog.ui-widget.ui-widget-content.dialog.oe-create-event-popup {
  background: #fff;
  padding: 20px;
}
.ui-dialog.ui-widget.ui-widget-content.dialog.oe-create-event-popup .ui-dialog-title {
  font-weight: 400;
}

.oe-create-event-popup h2 {
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}
.oe-create-event-popup h3 {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #666;
  background: transparent url("../img/_icons/__misc/add-event-arrow.png") right top no-repeat;
}
.oe-create-event-popup h3.no-arrow {
  background-image: none;
}
.oe-create-event-popup .oe-btn-add-event {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.oe-create-event-popup .event-type-list {
  column-count: 2;
}
.oe-create-event-popup table.oe-create-event-step-through {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-size: 12px;
  font-size: 0.75rem;
}
.oe-create-event-popup table.oe-create-event-step-through td {
  vertical-align: top;
  border-left: 1px solid #aaa;
  padding: 0 8px 0 8px;
  max-height: 400px;
}
.oe-create-event-popup table.oe-create-event-step-through td.step-subspecialties {
  width: 25%;
}
.oe-create-event-popup table.oe-create-event-step-through td.step-context {
  width: 25%;
}
.oe-create-event-popup table.oe-create-event-step-through td.step-event-types {
  width: 50%;
}
.oe-create-event-popup table.oe-create-event-step-through ul {
  margin: 0;
  padding: 0;
}
.oe-create-event-popup table.oe-create-event-step-through ul.subspecialties-list {
  max-height: 190px;
  overflow-y: auto;
}
.oe-create-event-popup table.oe-create-event-step-through ul.context-list {
  max-height: 300px;
  overflow-y: auto;
}
.oe-create-event-popup table.oe-create-event-step-through .tag {
  float: right;
  width: 19px;
  height: 19px;
  line-height: 19px;
  background: #9198b0;
  color: #d9def3;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
}
.oe-create-event-popup table.oe-create-event-step-through .new-added-subspecialty-service {
  position: relative;
  height: 45px;
  line-height: normal;
  padding: 8px;
  font-size: 13px;
  font-size: 0.8125rem;
  margin-top: 10px;
  color: #30823e;
  background: #eee;
}
.oe-create-event-popup table.oe-create-event-step-through .new-added-subspecialty-service .tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3ca24d;
}
.oe-create-event-popup table.oe-create-event-step-through .new-added-subspecialty-service .service {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
}
.oe-create-event-popup table.oe-create-event-step-through .new-added-subspecialty-service .change-new-specialty {
  position: absolute;
  bottom: 3px;
  right: 2px;
  height: 17px;
  width: 17px;
  background: transparent url("../img/_elements/btns/oe-cross-icon.png") center center no-repeat;
}
.oe-create-event-popup table.oe-create-event-step-through .new-added-subspecialty-service:hover {
  background-color: #3665ff;
  color: #fff;
  cursor: pointer;
}
.oe-create-event-popup table.oe-create-event-step-through .new-added-subspecialty-service.selected {
  color: #fff;
  background: #2a7236;
}
.oe-create-event-popup table.oe-create-event-step-through li {
  display: block;
  margin: 0 0 2px 0;
  padding-left: 10px;
  height: 19px;
  width: auto;
  line-height: 19px;
  background: #eeeeee url("../img/_elements/icons/add-event-arrow.png") right top no-repeat;
  color: #0b59da;
  cursor: pointer;
}
.oe-create-event-popup table.oe-create-event-step-through li:hover, .oe-create-event-popup table.oe-create-event-step-through li:focus, .oe-create-event-popup table.oe-create-event-step-through li:active, .oe-create-event-popup table.oe-create-event-step-through li.selected {
  background-color: #3665ff;
  color: #fff;
}
.oe-create-event-popup table.oe-create-event-step-through li:hover .tag, .oe-create-event-popup table.oe-create-event-step-through li:focus .tag, .oe-create-event-popup table.oe-create-event-step-through li:active .tag, .oe-create-event-popup table.oe-create-event-step-through li.selected .tag {
  background: #2b51cc;
  color: #fff;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-specialty-service {
  position: relative;
  height: 45px;
  line-height: normal;
  padding: 8px;
  font-size: 13px;
  font-size: 0.8125rem;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-specialty-service .tag {
  position: absolute;
  top: 0;
  right: 0;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-specialty-service .service {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-specialty-service.new {
  margin-top: 10px;
  color: #30823e;
  background: #eee;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-specialty-service.new.selected {
  color: #fff;
  background: #2a7236;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-specialty-service.new .tag {
  background-color: #3ca24d;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-specialty-service.new .change-new-specialty {
  position: absolute;
  bottom: 3px;
  right: 2px;
  height: 17px;
  width: 17px;
  background: transparent url("../img/_elements/btns/oe-cross-icon.png") center center no-repeat;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-event-type {
  background-image: none;
  padding-left: 0;
}
.oe-create-event-popup table.oe-create-event-step-through li.oe-event-type img {
  margin-right: 10px;
}

.oe-create-event-popup .change-subspecialty,
.oe-create-event-popup .back-date-event {
  position: relative;
  padding: 8px;
  margin: 10px 0 0 0;
}
.oe-create-event-popup .change-subspecialty h6,
.oe-create-event-popup .back-date-event h6 {
  font-size: 12px;
  font-size: 0.75rem;
  color: #666;
  padding: 0 0 0 2px;
  margin: 0 0 5px 0;
}
.oe-create-event-popup .change-subspecialty {
  background: #ddd;
}
.oe-create-event-popup .change-subspecialty .no-subspecialty {
  padding: 2px;
  color: #333;
  font-size: 11px;
  font-size: 0.6875rem;
}
.oe-create-event-popup .change-subspecialty .fixed-service {
  margin-left: 2px;
  padding: 3px;
  background: #ccc;
  border-radius: 3px;
}
.oe-create-event-popup .change-subspecialty select {
  width: 80%;
}
.oe-create-event-popup .change-subspecialty .add-subspecialty-btn {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.oe-create-event-popup .back-date-event {
  margin-top: 20px;
}
.oe-create-event-popup .back-date-event .back-date-options {
  display: none;
  width: 40%;
  background: #ddd;
  padding: 5px 8px;
}
.oe-create-event-popup .back-date-event .event-date {
  width: 100%;
  border: none;
  padding: 2px;
  text-align: center;
  border-radius: 2px;
}
.oe-create-event-popup .back-date-event label {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #444;
  font-weight: 400;
}

/*
---- CSS Tweaks ---
*/
.sub-element {
  margin-bottom: 2px;
}

.edit .sub-element {
  border: 2px solid #96999c;
  overflow: hidden;
}

.field-row {
  padding-bottom: 2px;
}

.edit .element-fields {
  padding: 2px 10px 0px 10px;
}

.element-eye,
.edit .sub-element-fields {
  padding: 2px 10px 0px 10px;
}

table {
  margin-bottom: 2px;
}

table tr td {
  padding: 2px 10px 2px 10px;
}

label.highlight {
  padding: 2px 5px 2px 5px;
}

.edit .element-actions, .edit .optional-elements-actions, .edit .sub-element-actions {
  padding: 2px 4px;
}

.element-title, .sub-element-title {
  padding: 6px 11px;
}

.edit .element,
.edit .optional-elements {
  border-top: none;
}

.edit .element-header, .edit .element-title {
  background-color: #777b7e;
  color: white;
  font-weight: 500;
  font-style: normal;
}

.edit .sub-element-header, .edit h4.sub-element-title {
  background: #96999c;
  color: white;
}

.edit .sub-element-header .inline {
  color: #000;
}

.edit .element-title-additional {
  line-height: 1.6em;
}

.edit .sub-elements {
  padding: 5px 4px 0 4px;
  margin: 0;
  background: #dae6f1;
}

.centre, .center {
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.oe-event-sidebar-edit a.error, .oe-event-sidebar-edit .child a.error, .oe-event-sidebar-edit .has-children a.error {
  background-color: #bf4040;
  color: #fff;
}

.oe-event-sidebar-edit a:hover.error, .oe-event-sidebar-edit .child a:hover.error, .oe-event-sidebar-edit .has-children a:hover.error {
  background-color: #df5151;
  color: #fff;
}
