/* Unset items have just been commented out for easier inclusion in the main css
 * There is now an additional icon for trials
 */

.oe-patient .patient-trials .icon {
    fill: #fff;
}

.oe-patient .patient-trials {
    padding: 5px 12px 4px 8px;
    bottom: 30px;
    right: 30px;
    position: absolute;
    cursor: pointer;
}

.oe-list-patient {
    /*position: absolute;*/
    top: 0;
    left: 200px;
    height: 60px;
    /*width: 545px;*/
    /*background: transparent url("../svg/in-css/backgrounds/patient-watermark.svg") top -4px right 10px no-repeat;*/
    background-size: 90px 90px;
    font-size: 0.6875rem;
}

.oe-list-patient svg {
    pointer-events: none;
}

.oe-list-patient .oe-i.info.pro-theme {
    background-image: url("../newblue/svg/in-css/icons/_classic/info.svg");
}

.oe-list-patient .patient-widgets .oe-patient-popup {
  top: unset;
}

.oe-list-patient .patient-name {
    top: 12px;
    left: 0;
    font-size: 1.0625rem;
    font-weight: 300;
}

.oe-list-patient .patient-details {
    bottom: 0;
    left: 0;
    padding: 0 20px 0 0;
}

.oe-list-patient .patient-demo-icon {
    position: absolute;
    bottom: 4px;
    right: 0;
}

.oe-list-patient .hospital-number,
.oe-list-patient .nhs-number,
.oe-list-patient .patient-gender,
.oe-list-patient .patient-age,
.oe-list-patient .warning {
    display: inline-block;
    padding: 0 6px 5px 6px;
    border-left: 1px solid #26303d;
}

.oe-list-patient .hospital-number span,
.oe-list-patient .hospital-number em,
.oe-list-patient .nhs-number span,
.oe-list-patient .nhs-number em,
.oe-list-patient .patient-gender span,
.oe-list-patient .patient-gender em,
.oe-list-patient .patient-age span,
.oe-list-patient .patient-age em,
.oe-list-patient .warning span,
.oe-list-patient .warning em {
    opacity: 0.5;
}

.oe-list-patient .hospital-number {
    padding-left: 0;
    border-left: none;
    font-size: 0.8125rem;
}

.oe-list-patient .patient-trials,
.oe-list-patient .patient-quicklook,
.oe-list-patient .patient-demographics,
.oe-list-patient .patient-management,
.oe-list-patient .patient-allergies-risks,
.oe-list-patient .patient-local-edit {
    padding: 5px 12px 4px 8px;
    cursor: pointer;
}

.oe-list-patient .patient-trials .icon,
.oe-list-patient .patient-quicklook .icon,
.oe-list-patient .patient-demographics .icon,
.oe-list-patient .patient-management .icon,
.oe-list-patient .patient-allergies-risks .icon,
.oe-list-patient .patient-local-edit .icon {
    display: inline-block;
    /*fill: #fff;*/
    opacity: 0.8;
}

.oe-list-patient .patient-demographics {
    padding-left: 15px;
}

.oe-list-patient .patient-trials.open .icon,
.oe-list-patient .patient-trials.active .icon,
.oe-list-patient .patient-quicklook.open .icon,
.oe-list-patient .patient-quicklook.active .icon,
.oe-list-patient .patient-demographics.open .icon,
.oe-list-patient .patient-demographics.active .icon,
.oe-list-patient .patient-management.open .icon,
.oe-list-patient .patient-management.active .icon {
    fill: #286ee0;;
}

.patient-trials .icon {
    width: 15px;
    height: 15px;
}

.oe-list-patient .patient-quicklook {
    bottom: 0;
    right: 0;
}

.oe-list-patient .patient-quicklook .icon {
    width: 15px;
    height: 15px;
}

.oe-list-patient .patient-management {
    bottom: 0;
    right: 30px;
    padding-bottom: 3px;
}

.oe-list-patient .patient-management .icon {
    width: 18px;
    height: 18px;
}

.oe-list-patient .patient-demographics {
    bottom: 0;
    right: 63px;
    padding-bottom: 4px;
}

.oe-list-patient .patient-demographics .icon {
    width: 16px;
    height: 16px;
}

.oe-list-patient .patient-allergies-risks {
    color: #d6d6d6;
    bottom: 0;
    right: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 24px 5px 4px;
    background: transparent url("../svg/in-css/icons/triangle.svg") center right 4px no-repeat;
    background-size: 15px;
}

.oe-list-patient .patient-allergies-risks.unknown {
    background-color: #283442;
}

.oe-list-patient .patient-allergies-risks.risk-warning {
    background-color: #6b1400;
}

.oe-list-patient .patient-allergies-risks.no-risk {
    background-color: #0a6512;
    background-image: url("../svg/in-css/icons/tick.svg");
}

.oe-list-patient .patient-allergies-risks.open, .oe-list-patient .patient-allergies-risks.active {
    background-color: #286ee0;
    background-image: url("../svg/in-css/icons/_classic/triangle.svg");
    color: #141e2b;
}

.oe-list-patient .patient-local-edit {
    top: 5px;
    right: 0;
}

.oe-list-patient .patient-local-edit .icon {
    width: 15px;
    height: 15px;
}

.oe-list-patient .patient-local-edit .icon:hover,
.oe-list-patient .patient-local-edit .icon:focus,
.oe-list-patient .patient-local-edit .icon:active {
    opacity: 1;
}



.oe-list-patient .oe-patient-popup {
    background: #d7d7d7;
    border-color: #286ee0;
}

.oe-list-patient .oe-patient-popup .subtitle {
    color: inherit;
}

.oe-patient-popup .nil-recorded {
    font-style: italic;
    color: rgba(255,255,255,0.5);
}

.oe-list-patient .oe-patient-popup .nil-recorded {
    color: #0a0a0a;
    opacity: 0.5;
}

.oe-list-patient .oe-patient-popup table.patient-demographics tr td,
.oe-list-patient .oe-patient-popup table.risks td,
.oe-list-patient table.management-summaries td,
.oe-list-patient .oe-patient-popup .situational-awareness,
.oe-list-patient .quicklook-data-groups,
.oe-list-patient .quicklook-data-groups .group .label,
.oe-list-patient .quicklook-data-groups table td
{
    color: #0a0a0a;
}

.oe-list-patient table.management-summaries tr {
    border-top-color: #0a0a0a;
}

.oe-list-patient .quicklook-data-groups .group {
    background-color: #f0f0f0;
}
