/* line 1, ../sass/components/elements/_history-medications.scss */
.date-control {
  float: right;
}

/* line 7, ../sass/components/elements/_history-medications.scss */
.OEModule_OphCiExamination_models_HistoryMedications table tr {
  vertical-align: top;
}
/* line 9, ../sass/components/elements/_history-medications.scss */
.OEModule_OphCiExamination_models_HistoryMedications table tr fieldset.row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 14, ../sass/components/elements/_history-medications.scss */
.OEModule_OphCiExamination_models_HistoryMedications table th.date-col {
  min-width: 300px;
}

/* line 20, ../sass/components/elements/_history-medications.scss */
a.start-medication {
  color: #43a844;
}

/* line 24, ../sass/components/elements/_history-medications.scss */
a.stop-medication {
  color: #cf0d27;
}

/* line 28, ../sass/components/elements/_history-medications.scss */
.not-synced {
  color: #cf0d27;
}

/* line 1, ../sass/components/_comma-list.scss */
ul.comma-list {
  display: inline;
  margin-left: 0px;
}
/* line 4, ../sass/components/_comma-list.scss */
ul.comma-list li {
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 0px;
  display: inline;
  list-style: none;
}
/* line 10, ../sass/components/_comma-list.scss */
ul.comma-list li:after {
  content: " //";
}
/* line 13, ../sass/components/_comma-list.scss */
ul.comma-list li:last-child:after {
  content: "";
}
