
#event_OphTrOperationnote .ElementCataract .left .halfHeight .eventDetail { margin-left: 320px; }
#event_OphTrOperationnote .ElementCataract .right .halfHeight .eventDetail { width: 110px !important; }

#event_OphTrOperationnote .ElementCataract .eventDetail .label { background: none !important; }

#ed_canvas_edit_Cataract { background-color: #fff; border: 1px solid #000; margin-left: 9px; }
#ed_canvas_edit_Position { background-color: #DAE6F1; margin-left: 135px; }

#div_ElementCataract_incision_site_id { margin-top: 100px; }
#div_ElementCataract_vision_blue { padding-bottom: 7px !important; }
#div_ElementCataract_iol_position_id .label { float: none !important; display: block !important; font-size:15px !important; padding-bottom: 4px !important; }
#div_ElementCataract_Complications .label { float: none !important; display: block !important; font-size:15px !important; padding-bottom: 4px !important; }
#div_ElementCataract_Complications ul.MultiSelectList { width: 185px; }

#div_ElementSurgeon { padding-bottom: 28px !important; }
