<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>OpenEyes JSDoc: <?js= title ?></title>

	<link rel="stylesheet" href="../assets/core/css/style.css" />
	<link rel="stylesheet" href="../assets/css/docs.css" />
	<link rel="stylesheet" href="../assets/core/js/components/jquery-ui/themes/base/minified/jquery-ui.min.css" />
	<link type="text/css" rel="stylesheet" href="styles/prettify-github.css">
	<link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">

	<script src="../assets/core/js/modernizr.custom.js"></script>
	<script src="../assets/core/js/components/jquery/jquery.min.js"></script>
	<script src="../assets/core/js/components/jquery-ui/ui/jquery-ui.js"></script>
	<script src="../assets/core/js/components/google-code-prettify/src/prettify.js"></script>
	<script src="../assets/core/js/util.js"></script>
	<script src="../assets/core/js/dialogs.js"></script>
	<script src="../assets/js/docs.js"></script>

	<style type="text/css">
	.box.event {
		border: 0;
	}
	pre {
		font-size: .7em;
	}
	</style>
</head>

<body class="jsdoc">

	<div class="container main" role="main">
		<header class="header row">
			<div class="large-3 columns">
				<a href="../index.php" class="logo">
					OpenEyes
				</a>
			</div>
		</header>
		<div class="container content">
			<h1 class="badge"><?js= title ?></h1>

			<div class="box content">
				<div class="row">
					<aside class="large-2 column sidebar">
						<div class="box generic">
							<?js= this.nav ?>
						</div>
					</aside>

					<div class="large-10 column">
						<div class="box generic">
					 		<?js= content ?>
					 	</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer row">
			<div class="large-3 medium-3 columns">
				<div class="info">
					<a href="#" data-component="support-info-link">Served, with love, by openeyes.local</a>
					<br />
					<span class="copyright">&copy; Copyright OpenEyes Foundation 2011–2013</span>
				</div>
			</div>
			<div class="large-6 medium-6 large-centered medium-centered columns help">
				<div class="panel">
					<ul class="inline-list">
						<li><strong>Need help?</strong></li>
						<li>helpdesk@example.com</li>
						<li><strong>12345678</strong></li>
						<li><a target="_blank" href="/">Help Documentation</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	<!--
	<footer>
	    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
	</footer>
	-->
	<script src="scripts/linenumber.js"> </script>
</body>
</html>