<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>OpenEyes JSDoc: <?js= title ?></title>

	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="/public/core/css/style_new.css" />
	<link rel="stylesheet" href="/public/css/docs.css" />

	<script src="/public/core/js/vendor/modernizr.js"></script>
	<script src="/public/core/js/components/jquery/jquery.min.js"></script>

	<script src="scripts/prettify/prettify.js"> </script>
	<script src="scripts/prettify/lang-css.js"> </script>

	<link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
	<link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">

	<style type="text/css">
	.box.event {
		border: 0;
	}
	.example-box {
		background: #fafafa;
		margin: 0;
	}
	pre {
		font-size: .7em;
	}
	</style>
</head>

<body>

	<div class="container main" role="main">
		<header class="header row">
			<div class="large-3 columns">
				<div class="logo">
					OpenEyes
				</div>
			</div>
		</header>
		<div class="container content">
			<h1 class="badge"><?js= title ?></h1>

			<div class="box content">
				<div class="row">
					<aside class="large-2 column sidebar">
						<?js= this.nav ?>
					</aside>

					<div class="large-10 column example-box">
					 <?js= content ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer row">
		<div class="large-3 medium-3 columns">
			<div class="info">
				<a href="#" data-component="support-info-link">Served, with love, by openeyes.local</a>
				<br />
				<span class="copyright">&copy; Copyright OpenEyes Foundation 2011–2013</span>
			</div>
		</div>
		<div class="large-6 medium-6 large-centered medium-centered columns help">
			<div class="panel">
				<ul class="inline-list">
					<li><strong>Need help?</strong></li>
					<li>helpdesk@example.com</li>
					<li><strong>12345678</strong></li>
					<li><a target="_blank" href="/">Help Documentation</a></li>
				</ul>
			</div>
		</div>
	</footer>

	<!--
	<footer>
	    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
	</footer>
	-->
	<script>
		prettyPrint();
		(function() {
			$('.name a').on('click', function(e){
				e.preventDefault();
				$('#more-info-'+ this.href.replace(/^.*#/, '')).toggle();
			});
		}());
	</script>
	<script src="scripts/linenumber.js"> </script>
</body>
</html>